@charset "utf-8";

/*
---------------------------------------------------------------------
	olympia.css [Apr.2016] 
---------------------------------------------------------------------
*/
.japan{
	margin-bottom: 0px !important;
}
.store{
	list-style-type:disc;
	padding-left:1em;
	font-size:110%;
}