@charset "UTF-8";

.Img__width {
    width: 100%;
}
.top_cover {
    width: 110%;
    margin-left: -5%;
}
.recycle_container {
    width: 100%;
}
.recycle_ttl {
    margin-top: calc((20/750)*100vw);
    font-size: calc((41/750)*100vw);
    line-height: calc((89/750)*100vw);
    letter-spacing: .073em;
    white-space: nowrap;
}
.recycle_container .recycle_ttl + .cover_lead {
    margin-top: calc((100/750)*100vw);
}
.recycle_img {
    display: flex;
    margin-top: calc((50/750)*100vw);
}

.recycle_item {
    width: calc((213/750)*100vw);
}

.recycle_item:not(:first-child) {
    margin-left: calc((26/750)*100vw);
}
.recycle_item:nth-child(2){
    width: calc((242/750)*100vw);
}

.artcle_inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.article_tag {
    border: solid 1px #1b1b1b;
    text-align: center;
    box-sizing: border-box;
}

/*リサイクル・リユースの仕組み*/
.structure_main {
    width: 100%;
    margin-top: calc((50/750)*100vw); 
}

.structure_ttl {
    margin-top: calc((80/750)*100vw);
    font-size: calc((36/750)*100vw);
    line-height: calc((50/750)*100vw);
    letter-spacing: .063em;
}
.structure_lead {
    margin-top: calc((50/750)*100vw);
    font-size: calc((22/750)*100vw);
    line-height: calc((36/750)*100vw);
    font-weight: 500;
    text-align: justify;
}


.container_structure {
    display: flex;
    flex-wrap: wrap;
}

.structure_wrap {
    margin-top: calc((50/750)*100vw);
}

.structure_wrap.-href {
    width: calc((345/750)*100vw);
}

.structure_img{
    margin-right: auto;
    margin-left: auto;
}

.structure_img .img-01{
    width: calc((235/750)*100vw);
}
.structure_img .img-02{
    width: calc((269/750)*100vw);
}
.structure_img .img-03-01{
    width: calc((276/750)*100vw);
}
.structure_img .img-03-02{
    width: calc((169/750)*100vw);
    display: block;
    margin: 0 auto;
    margin-top: calc((5/750)*100vw);;
}
.structure_img .img-04{
    width: calc((567/750)*100vw);
}

.structure_Txt {
    margin: 0 auto;
    padding-left: calc((35/750)*100vw);
    padding-right: calc((35/750)*100vw);
    font-size: calc((22/750)*100vw);
    line-height: calc((36/750)*100vw);
    margin-top: calc((20/750)*100vw);
    text-align: justify;
}

.structure_wrap:last-child .structure_Txt {
    max-width: 70%;
}

.attached {
    margin-top: calc((80/750)*100vw);
}

.attached_ttl {
    font-size: calc((28/750)*100vw);
    line-height: calc((40/750)*100vw);
    margin-bottom: calc((22/750)*100vw);
}


.attention_ttl {
    margin-bottom: calc((22/750)*100vw);
    font-size: calc((22/750)*100vw);
}

.partnership_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-right: -3vw;
    margin-left: -3vw;
    overflow: hidden;
}
.partnership_inner {
    padding-right: calc((18/750)*100vw);
    padding-left: calc((18/750)*100vw);
}
.paretnership_img {
    width: 100%;
}
.attention_txt {
    font-size: calc((22/750)*100vw);
    line-height: calc((36/750)*100vw);
}
.attention_inner {
    font-size: calc((22/750)*100vw);
    line-height: calc((36/750)*100vw);
}
.attention_inner::before {
    content: "-";
    display: inline-block;
    margin-right: 0.5em;
}
.partnership_inner .partnerImg {
    display: flex;
    align-items: center;
}

.event_end{
    position: relative;
}

.event_end .over{
    display: none;
    position: absolute;
    width: 100%;
    background: rgba(55,158,73,0.6);
    padding: 15px;
    height: calc((332/750)*100vw)
}

.event_end:hover .over{
    display: block;
}

.event_end:hover .over-inner{
    padding: 13px 15px;
    position: relative;
    border: 2px solid #fff;
    height: 100%;
    color: #fff;
}

.event_end:hover .over__ttl-jp{
    font-size: 13px;
    letter-spacing: 0.2em;
    line-height: 1.5;
    font-weight: bold;
}

.event_end:hover .over__ttl-en{
    font-size: 22px;
    word-break: break-word;
    font-weight: normal;
    line-height: 1.1;
    letter-spacing: 0.05em;
    margin-bottom: 2%;
}

@media screen and (max-width: 812px) {
    .article_tag {
        border: solid 1px #1b1b1b;
        margin-top: calc((22/750)*100vw);
        width: calc((101/750)*100vw);
        text-align: center;
        box-sizing: border-box;
        font-size: calc((18/750)*100vw);
    }
}


/* 以下PCレイアウト */
@media screen and (min-width: 813px) {
    .article_container .article_wrap{
        margin-right: calc((55.5/1176)*100%) !important;
    }
    .article_container .article_wrap:nth-child(3n){
        margin-right: 0 !important;
    }
    .recycle_img {
        margin-top: 100px;
    }
    .recycle_container .recycle_ttl {
        margin-top: 35px;
        font-size: calc((70/1176)*(100vw - 50px));
        line-height: 2.1;
        letter-spacing: 0.068em;
        white-space: nowrap;
    }
    .recycle_container .recycle_ttl + .cover_lead {
        margin-top: 121px;
    }
    .artcle_inner {
        align-items: flex-start;
    }
    .article_container{
        margin-top: 90px;
    }
    .article_tag {
        margin-top: 33.5px;
        width: 94px;
    }

    /*リサイクル・リユースの仕組み*/
    .structure_main {
        margin-top: 64px;
    }
    
    .structure_ttl {
        margin-top: 110px;
    font-size: 52px;
    line-height: 75px;
    letter-spacing: .138em;
    }
    .structure_lead {
        margin-top: 64px;
    font-size: 23px;
    line-height: 45px;
    letter-spacing: .095em;
    }
    .structure_wrap {
        margin-top: 64px;
    }
    .structure_wrap.-href {
        width: calc((1/2)*100%);
    }
    .structure_Txt {
        font-size: 18px;
        line-height: 1.7;
        letter-spacing: 0.068em;
        margin-top: 25px;
        padding-left: 45px;
        padding-right: 45px;
    }
    .attached {
        margin-top: 64px;
        padding-right: 100px;
        padding-left: 100px;
    }
    .attached_ttl {
        font-size: 23px;
        line-height: 2;
        margin-bottom: 41px;
    }
    .attention_ttl {
        font-size: 23px;
        line-height: 2;
        margin-bottom: 29px;
    }
    .partnership_wrap {
        margin-right: -30px;
        margin-left : -30px;
    }
    .structure_img .img-01{
        width: calc((398/588)*100%);
    }
    .structure_img .img-02{
        width: calc((441/588)*100%);
    }
    .structure_img .img-03-01{
        width: calc((443/588)*100%);
    }
    .structure_img .img-03-02{
        width: calc((272/588)*100%);
        display: block;
        margin: 0 auto;
        margin-top: 15px;
    }
    .structure_img .img-04{
        width: calc((921/1176)*100%);
    }
    .partnership_inner {
        padding-right: 30px;
        padding-left: 30px;
    }
    .recycle_item{
        margin-right: calc((55.5/1176)*100%);
        width: calc((1/3)*(100% - ((55.5/1176)*100%)*2));
    }
    .recycle_item:nth-child(2){
        width: calc((4/10)*(100% - ((55.5/1176)*100%)*2));
    }
    .recycle_item:not(:first-child){
        margin-left: 0;
    }
    .recycle_item:last-child{
        margin-right: 0;
    }
    .attention_txt {
        font-size: 18px;
        line-height: 1.7;
        letter-spacing: 0.135em;
    }
    .attention_inner {
        font-size: 18px;
        line-height: 1.7;
        letter-spacing: 0.078em;
    }
    .event_end .over{
        height: calc((355/1176)*(100vw - 50px));
        max-height: 355px;
    }
}

@media screen and (min-width: 1226px) {
    .recycle_container .recycle_ttl {
        font-size: 70px;
    }
}