@charset 'utf-8';

/* CSS Document */
.coverImg{
  width: 100%;
}
.mainContents .main .shareIcons {
  z-index: 1;
}
body {
  font-family: UniqloProRegular, -apple-system, BlinkMacSystemFont, 'Hiragino Kaku Gothic ProN', meiryo, sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}
a{
  text-decoration: none;
  color: #206aa0 ;
}
#wrapper .container .breads a,#wrapper .container .toen a{
  text-decoration: none;
  color: black ;
}
.toen a{
  font-family: "UniqloProLight";
}
img{
  width: 100%;
}
.anchorButton{
  display: flex;
  list-style: none;
  border: 2px solid #206aa0;
}
.coverImg{
  display: grid;
}
.anchorButton .anchorButton-item{
  width: 50%;
  border-right: 2px solid #206aa0;
  padding: 8px;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}
.anchorButton .anchorButton-item:last-child{
  border-right: 0px;
}
.anchorButton-item a{
  color: #206aa0;
}
.coverTxt{
  color: #206aa0;
  padding-right: 3vw;
  padding-left: 3vw;
  margin-top: 45px;
  font-size: 13px;
  line-height: 2.0;
  font-weight: bold;
}
section{
  margin-top: 45px;
}
section#id3{
  margin-bottom: 45px;
}
h2{
  font-size: 15px;
  background-color: #206aa0;
  color: white;
  padding: 8px;
  position: relative;
  padding-left: 6vw;
}
h2::after{
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16px 10px 0 10px;
  border-color: #206aa0 transparent transparent transparent;
  position: absolute;
  top: 29px;
  left: 100px;
}
#id1 h2::after{
  left: 115px;
}
#id2 h2::after{
  left: 80px;
}
#id3 h2::after{
  left: 90px;
}
.contents{
  padding:0px 3vw;
}
.contentsImg{
  margin-top: 30px;
}
.contentsTtl{
  padding-top: 40px;
  font-size: 18px;
  color: #206aa0;
  line-height: 1.8;
}
.contentsTtl .middle{
  font-size: 15px;
}
.contentsTtl .small{
  font-size: 14px;
}
.contents .contentsTtl:first-child{
  padding-top: 80px;
}
.contentsTxt{
  color: #206aa0;
  margin-top: 30px;
  line-height: 1.8;
  font-size: 14px;
  text-align: justify;
}
.button{
  margin-top: 30px;
  background-color: #dde2e7;
}
.button a{
  color: #206aa0;
}
.buttonTxt{
  color: #206aa0;
  text-align: center;
  padding: 10px 10px;
  font-size: 14px;
  font-family: UniqloProLight;
}
.buttonTxt::after{
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: 20px;
  border-top: 2px solid #206aa0;
  border-right: 2px solid #206aa0;
  transform: rotate(45deg);
}
.contents-flex .imageArea{
  margin-top: 30px;
}
.contents-flex .textArea{
  margin-top: 30px;
  font-size: 10px;
  color: #206aa0;
  line-height: 1.8;
  padding: 20px 0px;
  border-top: 2px solid #206aa0;
  border-bottom: 2px solid #206aa0;;
}
.contents-flex .textArea.small-padding{
  padding: 20px 0px;
}
tr td:first-child{
  white-space: nowrap;
}
.textArea .contentsTxt{
  font-size: 10px;
}
.cover {
  margin-top: calc((40/750)*100vw);
}
.otherNavigation{
  margin-top: 0;
}
@media (max-width: 767px){
  .sp-none{
    display: none;
  }
  .sp-br{
    display: inline;
  }
  #wrapper .contents{
    padding-bottom: 16vw;
  }
  .anchorButton .anchorButton-item{
    display: flex;
    align-items: center;
  }
  h2{
    position: absolute;
    left: -3vw;
    width: 100vw;
  }
  .pc-br{
    display: none;
  }
  .buttonTxt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }
  .contents .button:nth-child(2),.contents .button:nth-child(3){
    margin-top: 20px;
  }
  #pageTop.fixd{
    width: 105%;
  }
  #wrapper .container{
    padding-bottom: 0;
  }
}
@media (min-width: 768px){
  .pc-none{
    display: none;
  }
  .sp-br{
    display: none;
  }
  .mainContents{
    width: 960px;
    margin: 0 auto;
  }
  .coverImg{
    display: grid;
  }
  .anchorButton .anchorButton-item{
    padding: 30px ;
    text-align: center;
  }
  .coverTxt{
    margin-left: 23%;
    margin-right: 23%;
    margin-top: 90px;
    font-size: 16px;
    padding: 0;
  }
  section{
    margin-top: 90px;
  }
  section#id3{
    margin-bottom: 90px;
  }
  h2{
    font-size: 20px;
    padding: 10px;
    padding-left: 60px;
  }
  #id1 h2::after{
    border-width: 16px 10px 0 10px;
    top: 44px;
    left: 180px;
  }
  #id2 h2::after{
    border-width: 16px 10px 0 10px;
    top: 44px;
    left: 140px;
  }
  #id3 h2::after{
    border-width: 16px 10px 0 10px;
    top: 50px;
    left: 140px;
  }
  .contents{
    padding:0px 60px;
  }
  .contentsTtl{
    padding: 0;
    margin-top: 80px;
    font-size: 32px;
  }
  .contents .contentsTtl:first-child{
    padding-top: 0px;
  }
  .contentsTtl .middle{
    font-size: 22px;
  }
  .contentsTtl .small{
    font-size: 18px;
  }
  .contentsImg{
    margin-top: 60px;
  }
  .contentsTxt{
    margin-top: 30px;
    font-size: 16px;
  }
  .originalImg{
    width: auto;
    max-width: 100%;
  }
  .button-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .button{
    width: 49%;
  }
  .button.center{
    margin-left: 25.5%;
  }
  .buttonTxt{
    padding: 20px 10px;
    font-size: 16px;
  }
  .buttonTxt::after{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 10px;
    border-top: 2px solid #206aa0;
    border-right: 2px solid #206aa0;
    transform: rotate(45deg);
  }
  .contents-flex{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  .contents-flex .imageArea{
    margin-top: 0;
    width: 49%;
  }
  .contents-flex .textArea{
    margin-top: 0;
    width: 49%;
    font-size: 11px;
    color: #206aa0;
    line-height: 1.8;
    padding: 50px 0px;
    border-top: 2px solid #206aa0;
    border-bottom: 2px solid #206aa0;;
  }
  .contents-flex .textArea.small-padding{
    padding: 20px 0px;
  }
  .textArea .contentsTxt{
    font-size: 11px;
  }
  .cover {
    margin-top: 90px;
  }
  #wrapper .container{
    padding-bottom: 120px;
  }
  #pageTop.fixd{
    bottom: -70px;
  }
}
