@charset "UTF-8";

img {
    width: 100%;
}

.cover_subTtl_brWidth {
    display: none;
}

.bold {
    font-weight: bold !important;
}

.cover_wrapper {
    display: flex;
    align-items: flex-end;
}

span.logo.uniqlo {
    margin: 15px 20px;
}

span.logo.gu {
    margin: 15px 0;
}

.mainImg_container {
    margin-top: calc((80/750)*100vw);
}

.sp_display {
    display: block;
}

.pc_display {
    display: none;
}

.pdf {
    font-size: calc((18/750)*100vw);
}

/*応募実績*/
.result {
    margin-top: calc((80/750)*100vw);
}

.result_ttl {
    font-size: calc((36/750)*100vw);
    line-height: calc((50/750)*100vw);
    letter-spacing: .0763em;
    text-align: center;
    font-weight: 700;
}

.achievement {
    margin-top: calc((50/750)*100vw);
}

.result_inner {
    width: 100%;
}

.project {
    margin-top: calc((50/750)*100vw);
}


.achievement div {
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: calc((30/750)*100vw);
    padding-bottom: calc((30/750)*100vw);
    border: none;
    border-bottom: dashed 1px #999999;
}

.achievement_title {
    font-weight: bold;
    font-size: calc((35/750)*100vw);
    line-height: calc((40/750)*100vw);
    padding-right: calc((20/750)*100vw);
    width: 100%;
    margin-bottom: calc((10/750)*100vw);
}

.achievement_quantity {
    font-weight: normal;
    font-size: calc((75/750)*100vw);
    line-height: calc((55/750)*100vw);
    padding-right: calc((4/750)*100vw);
}

.achievement_unit {
    font-weight: bold;
    font-size: calc((30/750)*100vw);
    line-height: calc((35/750)*100vw);
}

.achievement div:last-child {
    padding-bottom: 0;
    border: none;
}

/*緑の枠線ボックス*/
.container_inner.color_box_green {
    width: 100%;
    padding-right: 4vw;
    padding-left: 4vw;
    padding-bottom: calc((30/750)*100%);
    border: 1px solid #379e49;
    overflow-wrap: break-word;
}

.color_box_green .cover_mainTtl {
    font-size: calc((24/750)*100vw);
    line-height: calc((40/750)*100vw);
    color: #379e49;
    font-weight: bold;
    margin-top: calc((42/750)*100vw);
}

.color_box_green .cover_lead {
    font-size: calc((22/750)*100vw);
    line-height: calc((36/750)*100vw);
    margin-top: calc((22/750)*100vw);
}

.color_box_green .cover_lead.-title {
    font-size: calc((22/750)*100vw);
    margin-top: calc((29/750)*100vw);
    font-weight: bold;
}

.container_inner .innerTtl {
    margin-top: calc((80/750)*100%);
    font-size: calc((36/750)*100vw);
    line-height: calc((50/750)*100vw);

}

.container_inner .innersubTtl {
    margin-top: calc((50/750)*100%);
    font-size: calc((24/750)*100vw);
    line-height: calc((38/750)*100vw);

}

.sub_article_wrap {
    display: flex;
    flex-wrap: wrap;
}
.sub_articleTtl{
    margin-top: calc((50/750)*100%);
    font-size: calc((24/750)*100vw);
    line-height: calc((38/750)*100vw);
    font-weight: bold;
}
.sub_articleTxt{
    margin-top: calc((22/750)*100%);
    font-size: calc((22/750)*100vw);
    line-height: calc((36/750)*100vw);
}
.images_pc4col_sp2col {
    width: calc((100% - ((27/750)*100%)) / 2);
    margin-top: calc((30/750)*100%);
}



.accordion_button-area {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #379e49;
    width: calc((332/750)*100vw);
    justify-content: center;
    padding: 8px;
    margin: calc((50/750)*100vw) 0 0;
}

.contents_title {
    font-size: calc((28/750)*100vw);
    line-height: calc((44/750)*100vw);
    letter-spacing: 0.09em;
}

.toggle_button {
    border: solid 1px #fff;
    position: relative;
    width: calc((32/750)*100vw);
    height: calc((32/750)*100vw);
    cursor: pointer;
    margin-left: calc((13/750)*100vw);
}

.toggle_button span {
    position: absolute;
    top: calc(50% - 1px);
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle_button span::before, .toggle_button span::after {
    content: '';
    display: block;
    width: calc((15/750)*100vw);
    height: 2px;
    background: #fff;
}

.toggle_button span::before {
    position: relative;
    top: 2px;
}

.toggle_button span::after {
    background: #fff;
    transform: translateY(0) rotate(90deg);
    transition: 0.5s;
}

.toggle_button span.active::after {
    transform: rotate(0);
    transition: 0.5s;
    opacity: 0;
}
.accordion_title{
    font-size: calc((22/750)*100vw);
    line-height: calc((36/750)*100vw);
    color: #fff;
}

.accordion_title span{
    font-weight: bold;
}

.accordion_contents {
    display: none;
}
.subImg_container_small.-mt-80{
    margin-top: calc((80/750)*100vw);
}
.subImg_container_small.-mt-40{
    margin-top: calc((40/750)*100vw);
}
.subImg_cnt .subImg_ttl{
    margin-top: calc((50/750)*100vw);
    
}
.subImg_cnt .subImg_lead{
    margin-top: calc((30/750)*100vw);

}

.subImg_container_small:nth-child(n+4){
    padding-top: calc((40/750)*100vw);
    border-top: 1px solid #379e49;
}

.L3_cover .cover_logo_inner{
    margin-left: 0;
}


@media screen and (max-width: 812px) {
    .contentsLink_area .contentsLink:first-child {
        margin-top: calc((80/750)*100vw);
    }
    .container_inner.color_box_green {
        margin-top: calc((80/750)*100%);
    }
    .images_pc4col_sp2col:nth-of-type(2n){
        margin-left: calc((27/750)*100%);
    }
}


/* 以下PCレイアウト */
@media screen and (min-width: 813px) {
    .movie {
        width: 100%;
    }

    .result {
        margin-top: 110px;
    }

    .result_ttl {
        font-size: 37px;
        line-height: 1.6;
        letter-spacing: .07em;
        text-align: left;
    }

    .achievement {
        margin-top: 60px;
    }

    .achievement {
        display: flex;
        justify-content: space-between;
    }

    .achievement div {
        display: flex;
        align-items: flex-end;
        padding-bottom: 0;
        border-right: dashed 1px #999999;
        border-bottom: none;
        width: 50%;
        margin-top: 0;
    }

    .achievement div:last-child {
        width: 40%;
    }
    .achievement div:first-child {
        justify-content: flex-start;
        width: 56%;
    }

    .achievement_title {
        font-size: calc((40/1226)*100vw);
        line-height: calc((40/1226)*100vw);
        padding-right: 5%;
        margin-bottom: 0;
        text-align: left;
        width: auto;
    }

    .achievement_quantity {
        font-size: calc((70/1226)*100vw);
        line-height: calc((70/1226)*100vw);
        padding-right: 4px;
        margin: 0;
    }

    .achievement_unit {
        font-size: calc((40/1226)*100vw);
        line-height: calc((45/1226)*100vw);
    }

    .result_inner {
        width: 100%;
    }

    .project {
        margin-top: 64px;
    }

    .project_ttl {
        font-size: 37px;
        line-height: 1.6;
        letter-spacing: .07em;
    }

    .project_lead {
        margin-top: 41px;
        font-size: 23px;
        line-height: 45px;
        letter-spacing: .095em;
    }

    .mainImg_container {
        margin-top: 0;
        width: calc((460/1176)*100%);
    }

    .sp_display {
        display: none;
    }

    .pc_display {
        display: block;
    }

    .pdf {
        font-size: 15px;
    }
    .local_container .subImg_container_large{
        display: flex;
        justify-content: space-between;
    }
    .subImg_container_large .container_inner.color_box_green{
        margin-top: 0;
    }
    .subImg_container_large .subImg_container_small{
        margin-top: 0;
        width: calc((660/1176)*100%);
    }
    .subImg_container_large .cover_mainTtl{
        font-size: 18px;
        line-height: 40px;
        margin-top: 29px;
    }
    .color_box_green .cover_lead.-title{
        font-size: 15px;
        line-height: 25px;
        margin-top: 18px;
    }
    .color_box_green .cover_lead{
        font-size: 13px;
        line-height: 23px;
        margin-top: 11px;
    }
    .mainImg_container .mainImg{
        width: 100%;
    }
    .container_inner.color_box_green{
        margin-top: 110px;
        padding-right: 56px;
        padding-left: 56px;
        padding-bottom: 56px;
    }
    .container_inner .innerTtl{
        margin-top: 64px;
        font-size: 52px;
        line-height: 75px;
    }
    .container_inner .innersubTtl{
        margin-top: 60px;
        font-size: 23px;
        line-height: 45px;
    }
    .subImg_cnt .subImg_ttl{
        margin-top: 0;
    }
    .subImg_container_small.-mt-80{
        margin-top: 64px;
    }
    .subImg_cnt .subImg_ttl{
        font-size: 37px;
        line-height: 60px;
    }
    .subImg_cnt .subImg_lead{
        margin-top: 29px;
        font-size: 18px;
        line-height: 30px;
    }
    .accordion_button-area{
        margin-top: 64px;
        max-width: 320px;
        padding-left: 32px;
    }
    .accordion_title{
        font-size: 18px;
        line-height: 19px;
    }
    .toggle_button{
        width: 31px;
        height: 31px;
        margin-left: 33px;
    }
    .toggle_button span::before, .toggle_button span::after{
        width: 15px;
    }
    .sub_articleTtl{
        font-size: 23px;
        line-height: 40px;
        margin-top: 64px;
    }
    .sub_articleTxt{
        font-size: 18px;
        line-height: 30px;
    }
    .images_pc4col_sp2col{
        margin-top: 29px;
        width: calc((100% - 114px) / 4);
        margin-left: 38px;
    }
    .images_pc4col_sp2col:nth-of-type(4n+1){
        margin-left: 0;
    }
 
}

@media screen and (max-width: 890px) {
    .cover_subTtl_brWidth {
        display: block;
    }
}

@media screen and (min-width: 1226px) {
    .achievement_title {
        font-size: 40px;
        line-height: 40px;
    }

    .achievement_quantity {
        font-size: 70px;
        line-height: 70px;
    }

    .achievement_unit {
        font-size: 40px;
        line-height: 45px;
    }
}