
.photoarea_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.photoarea_flex{
    margin-top: 20px;
}
.photoarea_flex_img{
    width: 100%;
}
.photoarea_flex div{
    width: 150px;
    margin-right: 15px;
    margin-bottom: 15px;
}
@media screen and (max-width: 400px/*magic number*/) {
  .photoarea_flex div {
		width: 50%;
		padding-right: 20px;
		padding-bottom: 20px;
		box-sizing: border-box;
		margin: 0;
	}
}
