@charset "UTF-8";

span.parentheses-title {
    line-height: calc((60/750)*100vw);
    font-size: calc((50/750)*100vw);
    letter-spacing: 0.02em;
}
.L3_cover .cover_subTtl {
    line-height: calc((82/750)*100vw);
}
span.parentheses-subtitle {
    line-height: calc((82/750)*100vw);
    font-size: calc((30/750)*100vw);
    letter-spacing: 0.07em;
}
.mainImg_container .mainImg {
    margin-bottom: calc((190/750)*100vw);
}
span.parentheses-title {
    font-size:  calc((50/750)*100vw);
    line-height:  calc((110/750)*100vw);
    letter-spacing: 0.02em;
}
.mainImg_container .mainImg {
    margin-bottom: calc((80/750)*100vw);
}
.mainImg_container .mainImg {
    width: 100%;
}
img.subImg {
    width: 100%;
}

@media screen and (max-width: 812px){
    .local_container{
        margin-top: calc((80/750)*100vw);
    }
}

@media screen and (min-width: 813px){
    .L3_cover .cover_subTtl {
        font-size: 57px;
        line-height: 83px;
        letter-spacing: .045em; 
        font-size: 57px;
    }
    span.parentheses-subtitle {
        line-height: 83px;
        font-size: 30px;
        letter-spacing: 0.045em;
    }
    p.cover_lead {
        font-size: 30px;
        line-height: 55px;
        margin-top: 64px;
    }
    .mainImg_container .mainImg {
        margin-bottom: 30px;
    }
    .mainImg_container .mainImg {
        width: 50%;
        margin-bottom: 64px;
    }
    span.parentheses-title {
        font-size: 57px;
        line-height: 133px;
        letter-spacing: 0.026em;
    }
    .otherNavigation.u-align-center {
        margin-top: 60px;
    }
}