@charset "utf-8";

/**  common.css Menu *********************************************

*******************************************************************/

/*-----------------------------------------------------------------

  Layout

------------------------------------------------------------------*/

/* Box
--------------------------------------*/
#container{
padding: 15px 0 0 0;
}

#content{
width: 960px;
margin: 15px auto 0 auto;
}

.warea{
background: #ffffff;
padding: 18px;
}

.wareaside{
background: #ffffff;
padding: 0 0 20px 0;
}

.margin01{
margin: 15px 0 0 0;
}

.dotarea{
background: url(//im.uniqlo.com/images/jp/pc/img/material/bgr_dot_side_top.gif) no-repeat left top;
padding: 20px 15px 0 15px;
margin: 20px 0 0 0;
}

.dotareanone{
padding: 15px 15px 0 15px;
margin: 0 0 20px 0;
}

.dotareaselect{
padding: 0 15px 0 15px;
margin: 20px 0 0 0;
}


/* Width
--------------------------------------*/
.gd01{
width: 180px;
}

.gd02{
width: 570px;
margin: 0 0 0 15px;
}

.gd03{
width: 765px;
}


/*-----------------------------------------------------------------

  Header

------------------------------------------------------------------*/
.headerW01 div.navArea{
width: 960px;
padding: 0 0 0 0;
margin: 0 auto;
}

.headerW02 div.navArea{
width: 950px;
margin: 0 auto;
}

.headerW01 ul.navCategory{
width: 960px;
}

.headerW02 ul.navCategory{
width: 950px;
}

#header{
background: none;
margin: 0 auto 15px auto;
position: relative;
z-index: 10000;
}

#header ul li{
float: left;
font-size: 0%;
line-height: 100%;
}

#header div.navArea{
position: relative;
background: #ffffff;
height: 50px;
}

*+html #header div.navAreaH02{
height: 100px;
}

#header div.navArea div.siteLogo{
float: left;
font-size: 0%;
line-height: 100%;
}

#header div.navArea ul#navHeader{
float: left;
}

#header div.navArea ul#navHeader > li.focus{
margin: 0 0 50px 0;
}

#header ul li.gu{
border-right: 1px solid #dcdcdc;
}

#header div.navArea ul.navUtility{
float: right;
}

#header #gnav_cart_target{
z-index: 1002;
display: none;
}

#header div.navArea li ul.info{
background: #5a5a5a;
position: absolute;
width: 180px;
padding: 10px 12px 0 12px;
top: 50px;
right: 170px;
}

#header div.navArea li ul.hidden{
display: none;
}

#header div.navArea li ul.info li{
position: relative;
float: none;
height: auto;
text-align: right;
font-size: 11px;
line-height: 100%;
color: #ffffff;
margin: 0 0 10px 0;
padding: 0;
}

#header div.navArea li ul.info li.msg{
text-align: left;
font-size: 10px;
line-height: 140%;
color: #fffb31;
}

#header div.navArea li ul.info li img{
float: left;
}

#header ul.navCategory{
background: #ffffff;
position: absolute;
top: 50px;
left: 0px;
height: 50px;
}

#header ul.bgBlack{
background: #000000;
}

#header ul.navCategoryHidden{
display: none;
}

#header ul.navCategory li{
float: left;
position: relative;
z-index: 10;
}

#header ul.navCategory li ul.hidden{
display: none;
}

#header ul.navCategory li ul.sub{
background: #000000 url(//im.uniqlo.com/images/jp/pc/img/material/bgr_nav_sub_UQ.gif) no-repeat;
width: 169px;
padding: 18px 14px 10px 14px;
line-height: 160%;
position: absolute;
top: 50px;
left: 0px;
z-index: 100;
}

#header ul.navCategory li ul.sub li{
float: none;
}

#header ul.navCategory li ul.sub>li>img{
margin: 0 0 9px;
}
#header ul.navCategory li ul.sub>li>ul{
margin:0 0 5px;
}
#header ul.navCategory li ul.sub>li>a,
#header ul.navCategory li ul.sub>li>ul>li>a{
background: url(//im.uniqlo.com/images/jp/pc/img/material/bgr_arrow_white.gif) no-repeat 0px 5px;
font-size: 11px;
line-height: 160%;
padding: 0 0 9px 14px;
display: block;
}

#header ul.navCategory li ul.sub>li.focus,
#header ul.navCategory li ul.sub>li>ul>li.focus{
background: url(//im.uniqlo.com/images/jp/pc/img/material/bgr_arrow_red.gif) no-repeat 0px 5px;
}

.navCategory{
z-index: 999;
}

.navCategoryHidden{
z-index:1000;
}

#header ul li.search{
background: #3c3c3c url(//im.uniqlo.com/images/jp/pc/img/material/bgr_header_search_UQ.gif) no-repeat;
font-size: 12px;
line-height: 100%;
padding: 13px 13px 0;
width:160px;
height: 37px;
color: #ffffff;
}

#header ul li.inputFocus{
background-position: 0 -50px;
}

#header ul li.search form.topSearch{
width: 160px;
}

#header ul li.search input.txt{
background: none;
width: 110px;
height: 20px;
padding: 2px 4px;
border: none;
outline: none;
color: #ffffff;
background:url(data:image/gif;base64,R0lGODlhAQABAIAAAP//////zCH5BAEHAAAALAAAAAABAAEAAAICRAEAOw==);
}

#header ul li.inputFocus input.txt{
color: #000000;
}

#header ul li.search input.btn{
float:right;
font-size: 0%;
line-height: 100%;
}

#header ul li.search input{
vertical-align: top;
}

#header ul li.search form span.btn_reset{
	background: url("//im.uniqlo.com/images/jp/pc/img/material/btn_reset.png") no-repeat;
	position:absolute;
	top:15px;
	right:38px;
	display:block;
	color:#fff;
	width:20px;
	height:20px;
	cursor: pointer;
	text-indent:-10000px;
}

/*for IE7*/
* + html #header ul li.search form.topSearch{
position:relative;
}
* + html #header ul li.search input.btn{
position:absolute;
top:0;
right:0;
}
* + html #header ul li.search form span.btn_reset{
	top:3px;
	right:24px;
}

.headerW02 ul li.search input.txt{
width: 89px !important;
}

/*for gu*/
#header ul li.search-gu {
	background: #3c3c3c url(//im.uniqlo.com/images/jp/pc/img/material/bgr_header_search.gif) no-repeat 4px 0 !important;
	width:130px !important;
}

#header ul li.search-gu form.topSearch {
	width: 130px !important;
}

#header ul li.search-gu input.txt {
	width: 80px !important;
}


#header ul.navCategory a:link{ text-decoration:none; color:#ffffff; }
#header ul.navCategory a:visited{ text-decoration:none; color:#ffffff; }
#header ul.navCategory a:hover{ text-decoration:none; color:#ff0000; }
#header ul.navCategory a:active{ text-decoration:none; color:#ff0000; }

#header ul.navCategory li.focus a:link{ text-decoration:none; color:#ff0000; }
#header ul.navCategory li.focus a:visited{ text-decoration:none; color:#ff0000; }
#header ul.navCategory li.focus a:hover{ text-decoration:none; color:#ff0000; }
#header ul.navCategory li.focus a:active{ text-decoration:none; color:#ff0000; }



/*-----------------------------------------------------------------

  Footer

------------------------------------------------------------------*/
#footer{
width: 960px;
margin: 15px auto 0 auto;
padding: 0 0 20px 0;
}

#footer div.siteinfo{
background: #000000;
position: relative;
height: 50px;
}

#footer div.siteinfo p.sitename{
float: left;
font-size: 0%;
line-height: 100%;
}

#footer div.siteinfo ul.utility{
float: left;
font-size: 0%;
line-height: 100%;
margin: 15px 0 0 6px;
}

#footer div.siteinfo ul.utility li{
float: left;
}

#footer div.siteinfo #goPageTop{
position: absolute;
top: 14px;
right: 13px;
}

#footer dl.world{
font-size: 0%;
line-height: 100%;
}

#footer dl.world dt{
float: left;
margin: 11px 3px 0 0;
}

#footer dl.world dd{
float: left;
margin: 11px 0 0 0;
}

#footer dl.world dd.second{
margin: 11px 0 0 91px;
}

#footer dl.world dd.last{
overflow:hidden;
}

#footer dl.world dd.last img{
margin-right:-1px;
}

#footer p.copyright{
font-size: 0%;
line-height: 100%;
margin: 11px 0 0 0;
}

@font-face {
    font-family: "UniqloProBold";
    font-style: normal;
    font-weight: normal;
    src: url("/jp/fonts/UniqloProBold.woff") format("woff");
}
@font-face {
    font-family: "UniqloProLight";
    font-style: normal;
    font-weight: normal;
    src: url("/jp/fonts/UniqloProLight.woff") format("woff");
}

#footer .world-uniqlo {
    font-family: "UniqloProBold";
    margin: 10px 0 0;
    line-height: 1.2;
    letter-spacing: 0.5px;
}

#footer .world-uniqlo .world-uniqlo-ttl {
    font-size: 12px;
    width: 95px;
    color: #ff0000;
    float: left;
}

#footer .world-uniqlo .world-uniqlo-ttl .world-uniqlo-colon {
    font-family: "UniqloProBold";
    color: #1b1b1b;
    float: right;
    width: 10px;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
}

#footer .world-uniqlo .world-uniqlo-contents {
    width: 855px;
    overflow:hidden;
    box-sizing: content-box;
}

#footer .world-uniqlo .world-uniqlo-contents .world-uniqlo-list {
    border-right: 1px dotted #999;
    margin: 0 0 5px;
    float: left;
}

#footer .world-uniqlo .world-uniqlo-contents .border-none{
    border: none;
}

#footer .world-uniqlo .world-uniqlo-contents .world-uniqlo-list a {
    display: block;
    padding: 1px 8px;
    text-decoration: none;
    color: #1b1b1b;
    font-size: 12px;
}

#footer .world-uniqlo .world-uniqlo-contents .world-uniqlo-list a:hover {
    color: #ff0000;
}

#footer .copyright-uniqlo {
    font-family: "UniqloProLight";
    font-size: 10px;
    letter-spacing: 0.5px;
    color: #777;
    height: 12px;
    line-height: 12px;
    margin: 10px 0 0 0;
}


/*-----------------------------------------------------------------

  Common style

------------------------------------------------------------------*/

/* Title
--------------------------------------*/
.tittype01{
background: #000000 url(//im.uniqlo.com/images/jp/pc/img/material/logo_uq_01.gif) no-repeat right top;
position: relative;
height: 50px;
margin: 15px 0 0 0;
}

.tittype01 img.tit{
position: absolute;
top: 16px;
left: 16px;
}

.tittype02{
background: #666666;
position: relative;
height: 50px;
margin: 15px 0 0 0;
}

.tittype01 span,
.tittype02 span{
font-size: 138.5%;
line-height: 110%;
padding: 15px 0 0 16px;
font-weight: normal;
color: #ffffff;
display: block;
}

.tittype03{
float: left;
font-size: 0%;
line-height: 100%;
}

.tittype02 img.tit{
position: absolute;
top: 16px;
left: 17px;
}

.tittype02 img.pagetop{
position: absolute;
top: 15px;
right: 16px;
}

.tittypedot{
background: url(//im.uniqlo.com/images/jp/pc/img/material/bgr_dot_list01.gif) no-repeat 0px 4px;
padding: 0 0 0 13px;
margin: 0 0 18px 0;
position: relative;
z-index: 10;
}

.tittypedot img.errorselect{
position: absolute;
top: -8px;
left: 0;
margin: 0 0 0 -181px;
}

.tittypeside01{
background: #666666;
font-size: 0%;
line-height: 100%;
padding: 19px 17px;
}

/* Text
--------------------------------------*/
.txt01{
font-size: 84.6%;
line-height: 180%;
margin: 0 0 20px 0;
}

.txt02{
font-size: 84.6%;
line-height: 180%;
}

.txtred{
color: #ff0000;
}

/* List
--------------------------------------*/
ul.listtype01{
font-size: 84.6%;
line-height: 180%;
margin: 0 0 -18px 0;
}

ul.listtype01 li{
background: url(//im.uniqlo.com/images/jp/pc/img/material/bgr_dot_list01.gif) no-repeat 0px 6px;
padding: 0 0 0 13px;
margin: 0 0 18px 0;
}

ul.listlink01{
font-size: 84.6%;
line-height: 140%;
margin: -7px 0 0 0;
}

ul.listlink01 li{
padding: 7px 0 0 0;
}

ul.listlink01 li a{
background: url(//im.uniqlo.com/images/jp/pc/img/material/bgr_arrow_black.gif) no-repeat 0px 4px;
padding: 0 0 0 13px;
display: block;
}

ul.listlink01 li a:link{ text-decoration:none; color:#000000; }
ul.listlink01 li a:visited{ text-decoration:none; color:#000000; }
ul.listlink01 li a:hover{ text-decoration:underline; color:#000000; }
ul.listlink01 li a:active{ text-decoration:underline; color:#000000; }

/* Form
--------------------------------------*/
.selectbox{
border: 1px solid #cccccc;
padding: 3px 3px 3px 3px;
}

/* Error
--------------------------------------*/
div.errorarea{
background: #ff0000;
position: relative;
margin: 15px auto 0 auto;
padding: 15px 18px 10px 18px;
}

div.addcart{
width: 924px;
}

div.errorarea p.msg{
padding: 0 0 5px 0;
}

div.errorarea div.linkMore{
position: absolute;
top: 14px;
right: 18px;
}

div.errorarea p.txterror{
font-size: 92.3%;
line-height: 180%;
font-weight: bold;
color: #ff0000;
margin: 0 0 4px 0;
}

/* Title area
--------------------------------------*/
ul.listtitbox{
width: 341px;
float: right;
}

/* Banner area
--------------------------------------*/
ul.sidebanner{
font-size: 0%;
line-height: 100%;
margin: 0 0 0 0;
}

ul.sidebanner li{
margin: 0 0 15px 0;
}

.bannerarea01{
font-size: 0%;
line-height: 100%;
margin: 15px 0 0 0;
}

/* price-fmt */
.bannerarea01 .price-fmt{
font-size: 13px;
line-height: 1.2;
}


/*-----------------------------------------------------------------

  Item list

------------------------------------------------------------------*/

/* Common
--------------------------------------*/
div.blkItemList{
position: relative;
margin: 0 0 0 0;
}

*+html div.blkItemList{
margin: 0 -16px 0 0;
}

div.blkItemList{
margin: 0 -16px 0 0\9;
}

div.blkItemList div.unit{
background: #ffffff;
position: relative;
float: left;
}

div.blkItemList dt.name{
position: absolute;
font-size: 84.6%;
line-height: 130%;
left: 10px;
bottom: 10px;
z-index: 2;
word-wrap: break-word;
}

div.blkItemList dt.name a{
display: block;
}

div.blkItemList dd.thumb{
position: absolute;
font-size: 0%;
line-height: 100%;
left: 0px;
}

div.blkItemList dd.price{
position: absolute;
font-size: 84.6%;
font-weight: bold;
text-align: right;
right: 12px;
bottom: 10px;
}

div.blkItemList dd.tag{
position: absolute;
font-size: 0%;
line-height: 100%;
right: 7px;
top: 6px;
text-align: right;
}

div.blkItemList dd.tag img{
margin: 0 0 3px 6px;
}

/* Unit size 01
--------------------------------------*/
div.blkUnitSize01 div.unit{
width: 228px;
height: 330px;
margin: 15px 16px 0 0;
}

div.blkUnitSize01 div.unit:nth-of-type(4n){
margin: 15px 0 0 0;
}

div.blkUnitSize01 div.unit dt.name{
width: 135px;
}

div.blkUnitSize01 div.unit dd.thumb{
top: 36px;
}

/* Unit size 02
--------------------------------------*/
div.blkUnitSize02 div.unit{
width: 472px;
height: 580px;
margin: 15px 16px 0 0;
}

div.blkUnitSize02 div.unit:nth-of-type(2n){
margin: 15px 0 0 0;
}

div.blkUnitSize02 div.unit dt.name{
width: 370px;
}

div.blkUnitSize02 div.unit dd.thumb{
top: 48px;
}

/* Unit size 03
--------------------------------------*/
div.blkUnitSize03 div.unit{
width: 180px;
height: 260px;
margin: 15px 15px 0 0;
}

div.blkUnitSize03 div.unit:nth-of-type(3n){
margin: 15px 0 0 0;
}

div.blkUnitSize03 div.unit dt.name{
width: 105px;
line-height: 110%;
}

div.blkUnitSize03 div.unit dd.thumb{
top: 31px;
}

/* Unit size color 01
--------------------------------------*/
div.blkUnitSizeColor01 div.unit{
width: 228px;
height: 340px;
margin: 15px 16px 0 0;
}

div.blkUnitSizeColor01 div.unit:nth-of-type(4n){
margin: 15px 0 0 0;
}

div.blkUnitSizeColor01 div.unit dt.name{
width: 135px;
}

div.blkUnitSizeColor01 div.unit dd.thumb{
top: 36px;
}

div.blkUnitSizeColor01 dt.name{
bottom: 28px;
}

div.blkUnitSizeColor01 dd.price{
bottom: 28px;
}

/* Unit size color 02
--------------------------------------*/
div.blkUnitSizeColor02 div.unit{
width: 472px;
height: 590px;
margin: 15px 16px 0 0;
}

div.blkUnitSizeColor02 div.unit:nth-of-type(2n){
margin: 15px 0 0 0;
}

div.blkUnitSizeColor02 div.unit dt.name{
width: 370px;
}

div.blkUnitSizeColor02 div.unit dd.thumb{
top: 31px;
}

div.blkUnitSizeColor02 dt.name{
bottom: 28px;
}

div.blkUnitSizeColor02 dd.price{
bottom: 28px;
}

/* Unit size sale
--------------------------------------*/
div.blkUnitSizeSale div.unit{
width: 228px;
height: 360px;
margin: 15px 16px 0 0;
}

div.blkUnitSizeSale div.unit:nth-of-type(4n){
margin: 15px 0 0 0;
}

div.blkUnitSizeSale div.unit dt.name{
width: 208px;
top: 302px;
}

div.blkUnitSizeSale div.unit dd.thumb{
top: 0px;
}

div.blkUnitSizeSale dd.price{
font-size: 123.1%;
font-weight: bold;
bottom: 3px;
right: 10px;
}

/* link
--------------------------------------*/
div.blkItemList a:link{ text-decoration:none; color:#000000; }
div.blkItemList a:visited{ text-decoration:none; color:#000000; }
div.blkItemList a:hover{ text-decoration:underline; color:#000000; }
div.blkItemList a:active{ text-decoration:underline; color:#000000; }

/* Color select
--------------------------------------*/
div.unit table.colorSelect{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 21px;
}

div.unit table.colorSelect a{
display: block;
height: 21px;
}

div.unit table.colorSelect td.select a{
background: url(//im.uniqlo.com/images/jp/pc/img/l4/img_color_select.gif) no-repeat center center;
}


/*-----------------------------------------------------------------

  Sort area

------------------------------------------------------------------*/
div.utilItemList{
background: #ffffff;
position: relative;
height: 50px;
}

div.utilItemList div.utility{
position: absolute;
height: 50px;
}

div.utilItemList div.utility dl{
height: 50px;
}

div.utilItemList div.utility dl dt,
div.utilItemList div.utility dl dd {
position: absolute;
top: 17px;
}

div.utilItemList div.utility dl dt{
font-size: 0%;
line-height: 100%;
top: 19px;
}

/* --- Refine01 --- */
div.utilItemList div.refine01 {
width: 430px;
}

div.utilItemList div.refine01 dl.size dt{
padding: 0 0 0 15px;
top: 19px;
}

div.utilItemList div.refine01 dl.size dd {
top: 12px;
left: 209px;
}

div.utilItemList div.refine01 dl.size dd select {
width: 108px;
height: 27px;
border: 1px solid #cccccc;
padding: 3px 3px 3px 3px;
font-size: 84.6%;
}

div.utilItemList div.refine01 div.linkMore {
position: absolute;
top: 17px;
left: 329px;
}

/* --- CtrlDisp01: sort order --- */
div.utilItemList div.ctrlDisp01{
background: url(//im.uniqlo.com/images/jp/pc/img/material/bgr_dot_black_vertical.gif) repeat-y left top;
top: 16px;
right: 144px;
padding: 0 0 0 20px;
height: 19px;
width: 170px;
}

div.utilItemList div.ctrlDisp01 dl.order{
height: 19px;
padding: 0;
}

div.utilItemList div.ctrlDisp01 dl.order dt{
top: 4px;
}

div.utilItemList div.ctrlDisp01 dl.order dd{
left: 66px;
top: 1px;
}

div.utilItemList div.ctrlDisp01 dl.order dd.new{
background: url(//im.uniqlo.com/images/jp/pc/img/material/bgr_sort_line.gif) no-repeat 0px 3px;
padding: 0px 0 0 12px;
left: 124px;
}

/* --- CtrlDisp02: thumbnail size --- */
div.utilItemList div.ctrlDisp02{
background: url(//im.uniqlo.com/images/jp/pc/img/material/bgr_dot_black_vertical.gif) repeat-y left top;
top: 16px;
right: 0px;
padding: 0 0 0 19px;
height: 19px;
width: 126px;
}

div.utilItemList div.ctrlDisp01 dl.size{
height: 19px;
padding: 0 0 0 0;
}

div.utilItemList div.ctrlDisp02 dl.size dt{
top: 4px;
}

div.utilItemList div.ctrlDisp02 dl.size dd{
top: 1px;
left: 86px;
}

div.utilItemList div.ctrlDisp02 dl.size dd.size02{
left: 109px;
}

/* nav */
.c_nav li {
	float: left;
}

/* Anchor Area */
.anchorSet {
	background: #ffffff;
	width: 945px;
	margin-top: 15px;
	overflow: hidden;
	padding: 7px 0 15px 15px;
}

.anchorSet ul {
	clear: both;
}

.anchorSet ul li {
	float: left;
	height: 126px;
	margin: 8px 8px 0 0;
	padding: 0;
}

.anchorSet .anchorSetGroup {
	height: auto;
	margin-right: 0;
	font-size: 0;
}


/* h3 */
div.sectionH3 {
	margin: 30px 0 0;
	position: relative;
}

div.sectionH3 h3.sectionName {
	background: none repeat scroll 0 0 #ffffff;
	border-top: 10px solid #ff0000;
	padding: 10px 0 10px 16px;
}

div.sectionH3 h3.sectionName img {
	vertical-align: middle;
}

div.sectionH3 ul.ptBtn {
	font-size: 0;
	line-height: 100%;
	position: absolute;
	right: 15px;
	top: 24px;
}

/* h4 */
div.sectionH4 {
	margin: 15px 0 0;
	position: relative;
}

div.sectionH4 h4.sectionName {
	background: none repeat scroll 0 0 #ffffff;
	padding: 10px 0 10px 16px;
}

div.sectionH4 h4.sectionName img {
	vertical-align: middle;
}