img{
    width: 100%;
}
/* accordion Area */
.accordion_wrap {
    border: 3px solid #f7ba00;
    padding: 8px;
    margin-top: calc((80/750)*100vw);
    background-color: white;
}
.accordion_wrap .contents_title span {
    vertical-align: middle;
}
.contents_title{
    font-size: calc((28/750)*100vw);
    line-height: calc((40/750)*100vw);
}
img{
    width: 100%;
}
.img_wrap{
    margin-top: calc((60/750)*100vw);
}
.caption{
    margin: calc((30/750)*100vw) 0 calc((30/750)*100vw);
}
.accordion_contents {
    display: none;
    font-size: calc((22/750)*100vw);
    letter-spacing: .06em;
    line-height: calc((36/750)*100vw);
    padding-top: calc((24/750)*100vw);;
}
.accordion_button-area {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.toggle_button {
    background-color: #f7ba00;
    border: 0;
    position: relative;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.toggle_button:focus {
    outline: 0;
}
.toggle_button span {
    position: absolute;
    top: calc(50% - 1px);
    left: 50%;
    transform: translate(-50%, -50%);
}
.toggle_button span::before,
.toggle_button span::after {
    content: '';
    display: block;
    width: 15px;
    height: 2px;
    background: #fff;
}
.toggle_button span::before {
    position: relative;
    top: 2px;
}
.toggle_button span::after {
    background: #fff;
    transform: translateY(0) rotate(90deg);
    transition: 0.5s;
}
.toggle_button span.active::after {
    transform: rotate(0);
    transition: 0.5s;
    opacity: 0;
}
.contents .cover_catch{
    font-size: calc((28/750)*100vw);
    line-height: calc((44/750)*100vw);
    letter-spacing: .09em;
    margin-top: calc((80/750)*100vw);
}
.flex-area .left{
    margin-top: calc((68/750)*100vw);
}
.flex-area .left img{
    width: 48%;
}
.flex-area .right{
    margin-top: calc((60/750)*100vw);
}
.flex-area .right p {
    font-size: calc((22/750)*100vw);
    line-height: calc((34/750)*100vw);
    letter-spacing: 0.098em;
    text-align: justify;
}
.list_item,
.annotaion,
.caption_annotaion{
    padding-left:1em;
    text-indent:-1em;
}
.caption_annotaion{
    display: block;
}
.cover_lead.leaves{
    font-size: calc((22/750)*100vw);
    letter-spacing: 0.098em;
}

@media (min-width: 813px) {
    /* accordion Area */
    .accordion_wrap {
        padding: 24px;
        margin-top: 110px;
    }
    .accordion_contents{
        padding-top: 24px;
        font-size: 14.61px;
        letter-spacing: 0.178em;
        line-height: 27.28px;
    }
    .img_wrap{
        padding-top: 24px;
        margin-top: 0;
    }
    .caption{
        padding-top: 24px;
        margin: 0;
    }
    .contents_title{
        font-size: 35px;
        line-height: 1;
        margin: 0;
    }
      /* toggle button */
      .toggle_button {
        top: 10%;
        width: 40px;
        height: 40px;
    }
    .toggle_button span::before,
    .toggle_button span::after {
        width: 22px;
    }
    /* transition button */
    .transition {
        margin-top: 0;
        width: 50%;
    }
    .transition:nth-of-type(2) {
        margin-left: 55px;
    }
    .transition_button {
        font-size: 24px;
        padding-top: 21px;
        padding-bottom: 19px;
    }
    .transition_button span {
        padding-right: 5px;
    }
    .transition_button img {
        width: 3%;
    }
    .contents .cover_catch{
        font-size: 37px;
        line-height: 60px;
        letter-spacing: .118em;
        margin-top: 110px;
    }
    .contents .cover_lead{
        font-size: 23px;
        line-height: 45px;
        font-weight: 500;
        margin-top: 41px;
    }
    .flex-area .right p {
        font-size: 15px;
        line-height: 25px;
        font-weight: 500;
    }
    .flex-area{
        display: flex;
        margin-top: 41px;
    }
    .flex-area .left{
        max-width: 346px;
        margin-right: calc((55/1064)*100%);
        margin-top: 0;
    }
    .flex-area .left img{
        width: auto;
    }
    .flex-area .right{
        margin-top: 0;
    }
}