@charset 'utf-8';
/* CSS Document */
.mainContents.layer3 .main .shareIcons {
	z-index: 1;
}
#jeansspecial > section.cover {
	position: relative;
	width: 960px;
	height: 570px;
	margin: 0 0 50px 0;
}
#jeansspecial > section.cover > h1 {
	position: absolute;
	top: 190px;
	padding: 30px 40px 0px 40px;
	font-size: 40px;
	line-height: 45px;
	color: #FFFFFF;
	text-align: center;
	width: 100%;
}
#jeansspecial > section.cover > h1 > br.sp {
	display: none;
}
#jeansspecial > section.cover > p {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.75);
	padding: 20px 40px 20px 40px;
	line-height: 20px;
}
#jeansspecial > section.statement {
	margin: 0 0 20px 0;
}
#jeansspecial > section.statement > h2 {
	margin: 0 0 20px 0;
}
#jeansspecial > section.illustration {
	position: relative;
	margin: 0 0 60px 0;
}
#jeansspecial > section.illustration > div.arrow {
	text-align: center;
}
#jeansspecial > section.illustration > dl {
	position: absolute;
	width: 100%;
}
#jeansspecial > section.illustration > dl > dt {
	position: absolute;
}
#jeansspecial > section.illustration > dl > dd {
	position: absolute;
}
#jeansspecial > section.illustration > dl > dd p.illustcopy {
	margin-top: 10px;
}
#jeansspecial > section.illustration > dl > dd p.illustnum {
	color: #ff0000;
}
#jeansspecial > section.illustration > dl > dd p.illusttitle {
	font-weight: bold;
	font-size: 18px;
}
#jeansspecial > section.illustration > dl > dd a {
	border-bottom: 1px solid #000000;
	padding-bottom: 1px;
	-webkit-transition: opacity .2s;
	transition: opacity .2s;
}
#jeansspecial > section.illustration > dl > dd.jpillust {
	font-size: 12px;
}
#jeansspecial > section.illustration > dl > dd a:hover {
	opacity: 0.7;
}
#jeansspecial > section.illustration > dl.block_01 {
	top: 0px;
}
#jeansspecial > section.illustration > dl.block_01 > dt {
	top: 0;
	left: 0;
}
#jeansspecial > section.illustration > dl.block_01 > dd {
	top: 80px;
	right: 50px;
	width: 390px;
}
#jeansspecial > section.illustration > dl.block_01 > dd.jpillust {
	top: 346px;
	right: 608px;
	width: auto;
}
#jeansspecial > section.illustration > dl.block_02 {
	top: 280px;
}
#jeansspecial > section.illustration > dl.block_02 > dt {
	right: 0;
}
#jeansspecial > section.illustration > dl.block_02 > dd {
	top: 180px;
	left: 200px;
	width: 290px;
}
#jeansspecial > section.illustration > dl.block_02 > dd.jpillust {
	top: 356px;
	left: 612px;
	width: auto;
}
#jeansspecial > section.illustration > dl.block_03 {
	top: 570px;
}
#jeansspecial > section.illustration > dl.block_03 > dt {
	top: 0;
	left: -60px;
}
#jeansspecial > section.illustration > dl.block_03 > dd {
	top: 100px;
	right: 110px;
	width: 420px;
}
#jeansspecial > section.illustration > dl.block_03 > dd.jpillust {
	top: 173px;
	right: 708px;
	width: auto;
}
#jeansspecial > section.illustration > dl.block_05 {
	top: 960px;
}
#jeansspecial > section.illustration > dl.block_05 > dt {
	top: 80px;
	right: 90px;
}
#jeansspecial > section.illustration > dl.block_05 > dd {
	top: 220px;
	left: 60px;
	width: 330px;
}
#jeansspecial > section.illustration > dl.block_05 > dd.jpillust {
	top: 367px;
	left: 678px;
	width: auto;
}
#jeansspecial > section.illustration > dl.block_04 {
	top: 610px;
}
#jeansspecial > section.illustration > dl.block_04 > dt {
	top: 0;
	right: 40px;
}
#jeansspecial > section.illustration > dl.block_04 > dd {
	top: 520px;
	left: 60px;
	width: 330px;
}
#jeansspecial > section.illustration > dl.block_04 > dd.jpillust {
	top: 265px;
	left: 694px;
	width: auto;
}
#jeansspecial > section.subSection > div.floatImg > div.text > p.itemName {
	text-align: right;
	margin: 30px 0 0 0;
}
#jeansspecial .storeButton {
	background-color: #1e5a8c;
	color: #FFFFFF;
	height: 40px!important;
}
#jeansspecial .storeButton:hover {
	background-color: #FFFFFF;
	color: #1b1b1b;
}
#wrapper .container .mainContents .basicButton.storeButton:after {
	content: none;
}
@media (max-width: 767px) {
	.mainContents.layer3 .main .shareIcons {
		top: 90vw;
	}
	#jeansspecial .floatImg .img {
		width: 100%;
		text-align: center;
	}
	#jeansspecial .floatImg .img img {
		width: 80%;
	}
	#jeansspecial > section.cover {
		width: 94vw;
		height: 90vw;
		overflow: hidden;
		margin: 0 0 15vw 0;
	}
	#jeansspecial > section.cover > h1 {
		top: 100px;
		font-size: 20px;
		line-height: 20px;
		padding: 0;
		background-color: transparent;
		color: #FFFFFF;
		margin: 0 0 0 10px;
		text-align: left;
	}
	#jeansspecial > section.cover > h1 > br.sp {
		display: block;
	}
	#jeansspecial > section.cover > p {
		bottom: 0;
		line-height: 15px;
		padding: 10px 10px 10px 10px;
	}
	#jeansspecial > section.cover > img {
		width: auto;
		height: 76vw;
		margin: 0 0 0 -20vw;
	}
	#jeansspecial > section.statement {
		margin: 0 0 6vw 0;
	}
	#jeansspecial > section.statement > h2 {
		line-height: 1.4;
	}
	#jeansspecial > section.illustration {
		margin: 0 8vw 10vw 8vw;
	}
	#jeansspecial > section.illustration > div.arrow {}
	#jeansspecial > section.illustration > div.arrow > img {
		width: auto;
		height: 445vw;
	}
	#jeansspecial > section.illustration > dl {}
	#jeansspecial > section.illustration > dl > dt {
		position: static;
		text-align: center;
	}
	#jeansspecial > section.illustration > dl > dt > img {
		width: 90%;
		margin: 0 0 1em 0;
	}
	#jeansspecial > section.illustration > dl > dd {
		position: static;
	}
	#jeansspecial > section.illustration > dl > dd p.illustcopy {
		margin-top: 1vw;
	}
	#jeansspecial > section.illustration > dl > dd.jpillust {
		position: absolute;
	}
	#jeansspecial > section.illustration > dl.block_01 {
		top: 6vw;
	}
	#jeansspecial > section.illustration > dl.block_01 > dt {}
	#jeansspecial > section.illustration > dl.block_01 > dd {
		width: 100%;
	}
	#jeansspecial > section.illustration > dl.block_01 > dd.jpillust {
		top: 52vw;
		right: 15.8vw;
	}
	#jeansspecial > section.illustration > dl.block_02 {
		top: 126vw;
	}
	#jeansspecial > section.illustration > dl.block_02 > dt {}
	#jeansspecial > section.illustration > dl.block_02 > dt > img {
		margin: 2em 0 -2em 0;
	}
	#jeansspecial > section.illustration > dl.block_02 > dd {
		width: 100%;
	}
	#jeansspecial > section.illustration > dl.block_02 > dd.jpillust {
		top: 60vw;
		left: 22vw;
	}
	dd {}
	#jeansspecial > section.illustration > dl.block_03 {
		top: 203vw;
	}
	#jeansspecial > section.illustration > dl.block_03 > dt {}
	#jeansspecial > section.illustration > dl.block_03 > dd {
		width: 100%;
	}
	#jeansspecial > section.illustration > dl.block_03 > dt > img {
		width: 80vw;
		margin: 6vw 0vw 0 -25vw;
	}
	#jeansspecial > section.illustration > dl.block_03 > dd.jpillust {
		top: 35vw;
		right: 36vw;
	}
	#jeansspecial > section.illustration > dl.block_04 {
		top: 245vw;
	}
	#jeansspecial > section.illustration > dl.block_04 > dt {}
	#jeansspecial > section.illustration > dl.block_04 > dd {
		width: 100%;
	}
	#jeansspecial > section.illustration > dl.block_04 > dd.jpillust {
		top: 60vw;
		left: 63.6vw;
	}
	#jeansspecial > section.illustration > dl.block_04 > dt > img {
		width: 90vw;
		margin: 10vw 0 0 16vw;
	}
	#jeansspecial > section.illustration > dl.block_05 {
		top: 380vw;
	}
	#jeansspecial > section.illustration > dl.block_05 > dt {}
	#jeansspecial > section.illustration > dl.block_05 > dd {
		width: 100%;
	}
	#jeansspecial > section.illustration > dl.block_05 > dd.jpillust {
		top: 46vw;
		left: 41vw;
	}
	#jeansspecial > section.subSection > div.floatImg > div.text > p.itemName {}
}
