@charset 'utf-8';
/* CSS Document */
font-face {
  font-family: 'Uniqlo Pro Regular';
  font-weight: 400;
  font-style: normal;
  src: url('http://www.uniqlo.com/jp/fonts/uniqloproregular-webfont.eot');
  src: url('http://www.uniqlo.com/jp/fonts/uniqloproregular-webfont.eot?#iefix') format('embedded-opentype'), url('http://www.uniqlo.com/jp/fonts/uniqloproregular-webfont.woff') format('woff'), url('http://www.uniqlo.com/jp/fonts/uniqloproregular-webfont.ttf') format('truetype'), url('http://www.uniqlo.com/jp/fonts/uniqloproregular-webfont.svg#uniqlo_proregular') format('svg');
}
/* body */
body {
  letter-spacing: 1px;
  color: #1b1b1b;
  background-color: #fff;
  font-family: 'Uniqlo Pro light', Helvetica, Arial, 'A-OTF 新ゴ R', 'Hiragino Kaku Gothic Pro', Osaka, sans-serif!important;
}
div#powerofclothes {
  width: 960px;
  margin: 0 auto;
  padding-top: 90px;
}
.spText {
  display: none;
}
.modalWrapper {
  display: none;
}
/* header */
div#powerofclothes header {
  overflow: hidden;
  width: 100%;
  max-width: 960px;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 50;
  background: #fff;
  margin: 0 0 15px 0;
  padding: 0;
  border-bottom: #dadada 1px solid;
}
div#powerofclothes header h1 {
  float: left;
  margin: 0;
  padding: 0;
}
div#powerofclothes header h1 a {
  display: block;
  float: left;
  text-decoration: none;
  color: #1b1b1b;
}
div#powerofclothes header h1 a.uniqloLogo {
  margin-top: 4px;
}
div#powerofclothes header h1 a.sustainabilityLogo {
  font-size: 12px;
  line-height: 15px;
  margin: 14px 0 0 20px;
}
div#powerofclothes header h1 a.sustainabilityLogo span {
  font-family: 'Uniqlo Pro Regular';
  font-size: 30px;
  font-weight: normal;
  line-height: 25px;
  display: block;
  margin: 2px 0 0 0;
  padding: 0 0 0 0;
}
/* content */
div#powerofclothes div#powerofclothes section#content {
  clear: both;
  overflow: hidden;
}
/* breadcrumbs */
.breadcrumbs {
  margin-bottom: 20px;
}
.breadcrumbs ol li {
  float: left;
  font-size: 12px;
  font-family: Uniqlo Pro Light;
}
.breadcrumbs ol li a {
  color: #000;
}
.breadcrumbs ol li:last-child {
  color: #f00;
}
/*nav*/
.spNav {
  display: none;
}
nav.pcNav {
  width: 800px;
  margin: 0 auto;
}
nav.pcNav > ul {
  display: inline-block!important;
  vertical-align: top;
}
nav.pcNav .navList {
  float: left;
  position: relative;
  padding: 14px 0 0;
  font-size: 14px;
}
nav.pcNav .navList > a {
  color: #000;
  padding: 0 10px;
  border-right: 1px solid #979797;
}
nav.pcNav .navList > a.active {
  color: #ff0000;
}
nav.pcNav .accordionContent {
  width: 135px;
  height: 0;
  position: absolute;
  left: 0;
  background: #fff;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 10;
}
nav.pcNav .accordionContent li a {
  display: block;
  color: #000;
  padding: 10px 0 10px 30px;
  background: url(../images/pdf_icon.png)no-repeat 5px center;
  background-size: 20px;
}
/* bookSlideWrapper */
div#powerofclothes div#bookSlideWrapper {
  margin: 30px 0 80px 0;
  padding: 0 70px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* pdfButton */
div#powerofclothes div.pdfButton {
  text-align: right;
}
/* statement */
div#powerofclothes section#statement {
  margin: 0 60px 30px 60px;
  padding: 0;
}
div#powerofclothes section#statement h2 {
  margin: 0 0 30px 0;
  padding: 0;
  text-align: center;
}
div#powerofclothes section#statement p {
  font-size: 16px;
  line-height: 25px;
  margin: 0 0 10px 0;
  padding: 0;
}
div#powerofclothes section#statement p small {
  display: block;
  text-align: right;
}
/* backnumberSlideWrapper */
div#powerofclothes #backnumberSlideWrapper {
  margin: 0 0 80px 0;
}
div#powerofclothes #backnumberSlideWrapper ul.backnumberSlide li a {
  font-size: 14px;
  text-decoration: none;
  color: #1b1b1b;
}
div#powerofclothes #backnumberSlideWrapper ul.backnumberSlide li a dl dt {
  margin: 0 0 5px 0;
  padding: 0;
}
div#powerofclothes #backnumberSlideWrapper ul.backnumberSlide li a dl dt img {
  box-sizing: border-box;
  border: 1px solid #e9e9e9;
}
div#powerofclothes #backnumberSlideWrapper ul.backnumberSlide li a dl dt + dd {
  font-family: 'Uniqlo Pro Regular';
  font-weight: normal;
  margin: 3px;
  padding: 0;
}
div#powerofclothes #backnumberSlideWrapper ul.backnumberSlide li a dl dd {
  -webkit-text-size-adjust: 100%;
}
/* sustainabilityVideos */
div#powerofclothes #sustainabilityVideos h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0 0 20px 0;
  padding: 0;
  text-align: center;
}
div#powerofclothes #sustainabilityVideos ul {
  overflow: hidden;
  margin: 0 60px;
  padding: 0;
}
div#powerofclothes #sustainabilityVideos ul li {
  float: left;
  width: 32%;
  margin: 0 0 0 2%;
  padding: 0;
}
div#powerofclothes #sustainabilityVideos ul li:first-child {
  margin: 0;
}
div#powerofclothes #sustainabilityVideos ul li a {
  text-decoration: none;
  color: #1b1b1b;
}
div#powerofclothes #sustainabilityVideos ul li img {
  width: 100%;
}
div#powerofclothes #sustainabilityVideos .movieTitle {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}
div#powerofclothes #sustainabilityVideos .movieText {
  font-size: 12px;
}
/* footer */
div#powerofclothes footer {
  overflow: hidden;
  height: 65px;
  margin-top: 40px;
  background-color: #eee;
}
div#powerofclothes footer ul.nav {
  float: left;
}
div#powerofclothes footer ul.nav li {
  float: left;
}
div#powerofclothes footer ul.nav li:first-child {
  margin: 0 10px 0 20px;
}
div#powerofclothes footer ul.nav li:first-child a {
  padding-right: 10px;
  border-right: 1px solid #000;
}
div#powerofclothes footer ul.nav li a {
  font-family: 'Uniqlo Pro light';
  font-weight: normal;
  line-height: 65px;
  color: #000;
  font-size: 12px;
}
div#powerofclothes footer ul.sns {
  float: right;
}
div#powerofclothes footer ul.sns li {
  float: left;
  margin: 10px 10px 0 0;
}
div#powerofclothes footer ul.sns li a {
  display: block;
  width: 45px;
  height: 45px;
  background-color: #bebebe;
}
div#powerofclothes footer ul.sns li a img {
  width: 100%;
}
div#powerofclothes p#copyright {
  font-family: Uniqlo Pro Light;
  font-size: 12px;
  clear: both;
  width: 100%;
  margin: 20px 0;
  text-align: center;
  letter-spacing: .1em;
  color: #666;
}
div#powerofclothes h3 {
  text-align: center;
  position: relative;
  height: 30px;
  margin: auto;
  margin-bottom: 30px;
  max-width: 840px;
}
div#powerofclothes h3 span {
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  padding: 0 15px;
}
div#powerofclothes #sustainabilityVideos p.moreVideos {
  text-align: right;
  margin-top: 30px;
  margin-right: 60px;
}
div#powerofclothes #sustainabilityVideos p.moreVideos a {
  color: #000000;
  font-size: 14px;
}
div#powerofclothes #sustainabilityVideos p.moreVideos a span, div#powerofclothes #sustainabilityVideos p.moreVideos a img {
  display: inline-block;
  vertical-align: middle;
}
div#powerofclothes #sustainabilityVideos p.moreVideos a span {
  white-space: normal;
  width: 80%;
  padding-right: 10px;
}
div#powerofclothes #sustainabilityVideos p.moreVideos a img {
  width: 10px;
  height: 18px;
}
/* zoomer */
#image_wrapper .close_button {
  z-index: 10001;
  display: none;
  display: inline;
  padding: 10px;
  text-align: right;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  right: 5px;
  top: 5px;
}
#image_wrapper .close_button a {
  color: #313131;
}
.zoomer {
  background: #fff;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
#image_wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
/* //zoomer */

/* Add 180928 */
div#powerofclothes #sustainabilityVideos .movieTitle {
  margin-top: 5px;
}
div#powerofclothes {
  padding-top: 80px;
  padding-bottom: 100px;
}
