@charset "UTF-8";
.container_tab .container_tab_ttl{
    line-height: calc((25/750)*100vw);
}
.L4_cover .cover_mainTtl {
    font-size: calc((36/750)*100vw);
    line-height: calc((44/750)*100vw);
    letter-spacing: 0.063em;
}
.L4_cover .cover_lead{
    letter-spacing: 0.1em;
}
.L4_cover .cover_caption{
    font-size: calc((15/750)*100vw);
    margin-top: calc((25/750)*100vw);
}
.L4_cover .cover_lead a{
    color: #0076c0 !important;
}
.L4_cover .cover_moreinfo {
    font-size: calc((22/750)*100vw);
    line-height: calc((34/750)*100vw);
    margin-top: calc((31.19/750)*100vw);
    letter-spacing: 0.06em;
}
.L4_cover .cover_moreinfo a {
    color: #0076c0 !important;
    word-break: break-word;
    text-decoration: underline;
}
@media screen and (min-width: 813px){
    .L4_cover .cover_subTtl {
        letter-spacing: .138em;
    }
    .L4_cover .cover_lead{
        letter-spacing: .095em;
    }
    .container_tab .container_tab_ttl{
        line-height: 28px;
        font-size: 22px;
    }
    .L4_cover .cover_mainTtl {
        font-size: 52px;
        line-height: 57px;
    }
    .L4_cover .cover_caption{
        font-size: 15px;
        margin-top: 25px;
    }
    .L4_cover .cover_moreinfo {
        font-size: 15px;
        line-height: 26.25px;
        margin-top: 44.37px;
        letter-spacing: .1em;
    }
}