body #wrapper {
    overflow-x: auto;
}

a.hover_link:hover,
#sustainability-report a.hover_link:hover > *,
.shareIcons a img:hover {
    opacity: 0.7;
    transition: .3s linear;
}
.color_green {
    color: #379e49 !important;
}
.red {
    color: #ff0000;
}

#wrapper .container .mainContents {
    margin: 0 auto;
    font-family: 'UniqloProRegular','ヒラギノ角ゴPro W3', 'Hiragino Kaku Gothic Pro', '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', メイリオ, Meiryo, sans-serif;
    }

#sustainability-report .report-wrap {
    margin-bottom: 30px;
}

#sustainability-report .report-wrap section {
    font-size: 17.5px;
    letter-spacing: 0.13em;
}

#sustainability-report .report-wrap section a {
    color: #379e49;
}

#sustainability-report .report-wrap section:last-child {
    padding-bottom: 40px;
}
@media screen and (max-width:812px){
    .breadcrumbs{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .breadcrumbs_inner{
        max-width: 80%;
    }
    .tojp{
        margin-top: 0;
    }
}


/* パンくずリスト */
/* .breadcrumbs {
  width: 94vw;
  max-width: 1176px;
  height: 38px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0 auto;
  font-size: 9px;
}
.breadcrumbs::-webkit-scrollbar {
  display:none;
}
.breadcrumbs_inner {
  height: 38px;
  display: flex;
  padding: 0 4vw;
}
.breadcrumbs_item{
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-shrink: 0;
}

#green .breadcrumbs_item:first-child a{
  width: 100%;
  height: 17.857px;
  background: none;
}
.breadcrumbs_itemHome{
    display: block;
  }

.breadcrumbs_item:before {
  content: '';
  display: block;
  background: url(/jp/en/contents/sustainability/cmn/img/common/bread_arrow.svg) no-repeat center center;
  background-size: contain;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 1.06667vw;
    height: 2.66667vw;
    margin: 0 1.33333vw;
}
.breadcrumbs_item:first-child:before {
  content: none;
}
.breadcrumbs_item:first-child:after {
  display: none;
}
.breadcrumbs_itemHome{
  display: none;
}*/
.breadcrumbs_item:last-child a {
  pointer-events: none;
}
/*
#green .breadcrumbs_item:last-child a {
    color: #379e49;
}
.container .breadcrumbs_inner{
  padding: 0;
} */

#sustainability-report .report-wrap section .cover_img {
    margin-top: 40px;
}

#sustainability-report .title_h1 {
    font-family: 'UniqloProRegular';
    font-size: 56px;
    line-height: 1.1;
    margin-top: 16px;
    font-weight: normal;
}

#sustainability-report .report-wrap .title_01 {
    font-size: 18px;
    font-family: 'Hiragino Kaku Gothic Pro', "Hiragino Sans", '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', メイリオ, Meiryo, sans-serif;
    font-weight: 600;
    line-height: 1.4;
    margin-top: 16px;
}

#sustainability-report .report-wrap .h3 {
    font-size: 14px;
    margin-top: 40px;
    line-height: 1.2;
    letter-spacing: 1px;
}

#sustainability-report .report-wrap .lead {
    font-size: 12px;
    font-family: 'UniqloProRegular', 'Hiragino Kaku Gothic Pro', "Hiragino Sans", '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', メイリオ, Meiryo, sans-serif;
    font-weight: 600;
    line-height: 1.9;
    letter-spacing: 0.09em;
    margin-top: 16px;
}

#sustainability-report .report-wrap .caption {
    font-family: 'UniqloProRegular';
    font-size: 10px;
    margin-top: 8px;
    letter-spacing: 1px;
}

/* ページトップ */
footer.footer .pagetop {
    display: none;
}

#page_top {
    position: fixed;
    width: 1176px;
    margin-left: 50%;
    height: 0;
    bottom: 0;
    left: -587px;
}

#page_top a {
    opacity: 0;
    transition: 0.5s;
    display: block;
    width: 30px;
    height: 30px;
}

#page_top img {
    background: #fff;
    width: 100%;
    height: 100%;
}

#page_top .page_top_inner {
    position: absolute;
    bottom: 30px;
    right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#page_top.fixd {
    width: 100%;
    margin: 0;
    left: 0;
    position: relative;
}

#page_top.fixd .page_top_inner {
    bottom: 0px;
}

#page_top .report_top {
    display: block;
    width: auto;
    height: 30px;
    margin-right: 30px;
    background: #fff;
    border: solid 2px #379e49;
    overflow: hidden;
}

#page_top .report_top img {
    display: block;
    line-height: 0;
    width: auto;
    height: 100%;
}

#sustainability-report .contents_wrap .col_wrap ,
#sustainability-report .contents_wrap .contents_wrap_text {
    margin-top: 32px;
}

#sustainability-report .contents_wrap .contents_wrap_text {
    color: #000000;
    font-size: 16px;
    text-align: justify;
    letter-spacing: 0.01em;
    line-height: 2.1;
}

#sustainability-report .contents_wrap:last-child .article_block.article_block_main .article_bottom,
#sustainability-report .contents_wrap:last-child .col_wrap .article_block .article_bottom {
    position: relative;
}

#sustainability-report .contents_wrap .article_block .article_bottom.external_link::before {
    content: '';
    display: inline-block;
    position: absolute;
    background-image: url(/jp/en/contents/sustainability/report/img/external_link_green.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 7%;
    width: 5%;
    top: 4%;
    right: 2%;
}

#sustainability-report .contents_wrap:last-child .article_block.article_block_main .article_bottom {
    background-size: 20px;
    background-position: top 20px right 20px;
}

#sustainability-report .contents_wrap:last-child .col_wrap .article_block .article_bottom {
    background-size: 10px;
    background-position: top 12px right 12px;
}

#sustainability-report .reference-mark {
    font-size: 9px;
}

.sp-only {
    display: block;
}

.pc-only {
    display: none;
}


/* migration_lead */

.mainContents.layer3 .migration_lead{
    margin-top: 100px;
}
.mainContents.layer3 .migration_lead_list{
    display: flex;
    flex-wrap: wrap;
    padding: 80px 0 50px;
    border-top: solid 1px #dddddd;
    border-bottom: solid 1px #dddddd;
}
.mainContents.layer3 .booklet_banner{
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #dddddd;
    margin-top: 30px;
}
.mainContents.layer3 .migration_lead_list_item,.mainContents.layer3 .booklet_banner_item{
    display: block;
    width: calc(50% - 16px);
    margin-right: 16px;
    margin-bottom: 30px;
    letter-spacing: 0.05em;
}
.mainContents.layer3#sustainability-report .report-wrap section .migration_lead_list_item a,
.mainContents.layer3#sustainability-report .report-wrap section .booklet_banner_item a{
    display: flex;
    width: 100%;
    color: #1b1b1b;
    font-size: 16px;
    line-height: 1.6;
    position: relative;
}
.mainContents.layer3#sustainability-report .report-wrap section .booklet_banner_item a{
    align-items: center;
}
.mainContents.layer3#sustainability-report .report-wrap section .migration_lead_list_item a:hover,
.mainContents.layer3#sustainability-report .report-wrap section .booklet_banner_item a:hover{
    opacity: 0.8;
}
.mainContents.layer3 .migration_lead_list_item img,.mainContents.layer3 .booklet_banner_item img{
    width: 120px;
    height: 120px;
    margin-right: 13px;
}
.mainContents.layer3 .migration_lead_list_item a.external::after,.mainContents.layer3 .booklet_banner_item a.external::after{
    content: '';
    display: inline-block;
    position: absolute;
    background-image: url(/jp/en/contents/sustainability/report/img/external_link.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    top: 4px;
    left: 101px;
}
.mainContents.layer3 .migration_lead_list_item a.external.gray::after,
.mainContents.layer3 .booklet_banner_item a.external.gray::after{
    background-image: url(/jp/en/contents/sustainability/report/img/external_link_gray.svg);
}
.mainContents.layer3 .migration_lead_list_item h4,.mainContents.layer3 .booklet_banner_item h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
}

@media (min-width: 813px) {
    .sp-only {
        display: none;
    }

    .pc-only {
        display: block;
    }

    #wrapper .container {
        max-width: 1226px!important;
        margin: 0 auto;
        padding: 0 25px;
    }

    #wrapper .container .mainContents {
        width: 100%;
    }

    #sustainability-report .report-wrap section a {
        color: #379e49;
    }

    /* パンくずリスト */
      /* .breadcrumbs {
        width: auto;
        height: 56px;
        overflow-x: auto;
      }
      .breadcrumbs_inner {
        padding: 0;
        height: 56px;
      }
      .breadcrumbs_item {
        font-size: 14px;
        height: 56px;
      }
      
      .breadcrumbs_item:first-child a{
        width: 26px;
        height: 26.4px;
      }
      
      .breadcrumbs_item:before {
        width: 8px;
        height: 20px;
        margin: 0 10px;
      } */

    #sustainability-report .report-wrap section .cover_img {
        margin-top: 80px;
    }

    #sustainability-report .report-wrap section .cover_img img {
        width: 60%;
    }

    #sustainability-report .title_h1 {
        font-size: 114px;
        line-height: 1.1;
        margin-top: 32px;
    }

    #sustainability-report .report-wrap .title_01 {
        font-size: 34px;
        margin-top: 32px;
    }

    #sustainability-report .report-wrap .h3 {
        font-size: 28px;
        margin-top: 80px;
    }

    #sustainability-report .report-wrap .lead {
        font-size: 20px;
        margin-top: 26px;
    }

    #sustainability-report .report-wrap .caption {
        font-size: 14px;
        margin-top: 16px;
    }

    .tojp {
        padding: 0;
    }

    #sustainability-report .reference-mark {
        font-size: 12px;
    }

    .en_h3_font_adjustment{
        font-size: 30px !important;
    }
}

@media (max-width: 812px) {
    .tojp {
        margin-top: 0;
    }
    #wrapper .container {
        width: unset;
    }
    .en_h3_font_adjustment{
        font-size: 18px !important;
    }

    #sustainability-report div.section {
        margin-top: 45px;
        width: 94vw;
    }

    #sustainability-report .report-wrap section:last-child{
        padding-bottom: 0;
    }

    #sustainability-report div.section img {
        width: 100%;
    }

    /* パンくずリスト */
    .breads ul {
        padding: 20px 3.66667vw 0px;
        height: auto;
    }

    .breads ul .item {
        font-size: 2.4vw;
    }
    
    .breads ul .item a {
        font-size: 2.4vw;
    }

    .breads ul .item.noHomeIcon a span {
        font-size: 2.4vw;
    }

    /* sustainability report トップ */
    #sustainability＿report_top.fixd {
        bottom: 30px;
    }

    #sustainability＿report_top img {
        border: solid 2px #379e49;
    }

    #sustainability-report .contents_wrap .contents_wrap_text{
        font-size: 11px;
        line-height: 2.1;
        letter-spacing: 1px;
        margin-top: 32px;
    }

    #sustainability-report .contents_wrap:last-child .article_block.article_block_main .article_bottom {
        background-size: 16px;
        background-position: top 15px right 17px;
    }
    
    #sustainability-report .contents_wrap:last-child .col_wrap .article_block .article_bottom {
        background-size: 8px;
        background-position: top 9px right 8px;
    }

    /* ページトップ */
    #page_top {
        left: -3vw;
        right: -3vw;
        margin-left: 6vw;
        width: 94%;
    }

    #page_top.fixd {
        position: absolute;
        bottom: -17vw;
        margin-bottom: 60px;
    }

    #page_top .page_top_inner {
        width: 100%;
        justify-content: space-between;
    }

    #page_top.fixd .page_top_inner {
        bottom: -60px;
    }

    #page_top a {
        width: 8.4vw;
        height: 8.4vw;
    }

    #sustainability-report .contents_wrap .article_block .article_bottom.external_link::before {
        height: 10%;
        width: 4%;
    }

    /* migration_lead */
    .mainContents.layer3 .migration_lead{
        margin-top:56px
    }
    .mainContents.layer3 .migration_lead_list{
        padding: 48px 0 32px;
    }
    .mainContents.layer3 .booklet_banner{
        margin-top: 24px;
        padding-bottom: 8px;
    }
    .mainContents.layer3 .migration_lead_list_item,.mainContents.layer3 .booklet_banner_item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
    }
    .mainContents.layer3#sustainability-report .report-wrap section .migration_lead_list_item a,
    .mainContents.layer3#sustainability-report .report-wrap section .booklet_banner_item a{
        font-size: 12px;
    }
    .mainContents.layer3 .migration_lead_list_item img,.mainContents.layer3 .booklet_banner_item img{
        width: 18%;
        height: 18%;
    }
    .mainContents.layer3 .migration_lead_list_item a.external::after,
    .mainContents.layer3 .booklet_banner_item a.external::after{
        height: 13%;
        width: 3%;
        top: 4%;
        left: 15%;
    }
    .mainContents.layer3 .migration_lead_list_item h4,.mainContents.layer3 .booklet_banner_item h4{
        font-size: 14px;
        line-height: 1.5;
    }

}

@media (max-width: 1167px) and (min-width: 813px) {
    #page_top {
        right: 0;
        left: auto;
    }

}