@charset "UTF-8";

/*PC, SP common*/
.color_box.under_enButton{
  text-align: justify;
  word-break: keep-all;
}
img{
  width: 100%;
}
.flex_AIcenter{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  -ms-align-items: center;
  align-items: center;

  justify-content: space-between;
}
.green_text{
  color: #379e49;
}
.mt0{
  margin-top: 0 !important;
}
.flex_wrapper{
  display: flex;
  align-items: center;
}
.fw_bold{
  font-weight: bold;
}
.fz20{
  font-size: 20px;
}
.mt10{
  margin-top: 10px;
}
.mr15{
  margin-right: 15px;
}
.fz14_sp16{
  font-size: 14px;
}
.fz14_sp18{
  font-size: 14px;
}
.mt_sp12{
  margin-top: 0;
}

.subImg_container_small{
  width: 100%;
  margin-top: calc((50/750)*100vw);
}

.subImg_container_small .subImg{
  width: calc((332/750)*100vw);
}

.subImg_container_small .subImg_ttl{
  margin-top: calc((30/750)*100vw);
  font-size: calc((24/750)*100vw);
  line-height: calc((48/750)*100vw);
  letter-spacing: .03em;
}

.subImg_container_small .subImg_lead{
  margin-top: calc((30/750)*100vw);
  font-size: calc((22/750)*100vw);
  line-height: calc((36/750)*100vw);
  font-weight: 500;
}
.subImg_container_small .subImg_lead + .subImg_ttl{
  margin-top: calc((50/750)*100vw);
}

.trademark {
  font-size: 0.6em;
	vertical-align: super;
}

.contentsLink .contentsLink_txt {
  word-break: keep-all;
}
.annotation {
  padding-top: calc((18/750)*100vw);
  font-size: calc((16/750)*100vw);
  line-height: calc((26/750)*100vw);
  letter-spacing: .1em;
}
.annotation_link {
  text-decoration: underline;
}
.coupon_detailText {
  margin-top: calc((18/750)*100vw);
  font-weight: 900;
  font-size: calc((25/750)*100vw);
  line-height: calc((36/750)*100vw);
  letter-spacing: .1em;
}
.L4_cover .cover_catch{
  letter-spacing: -0.2vw;
}

@media (max-width: 812px){
  .L4_cover .cover_catch{
    letter-spacing: -0.4vw;
  }
  .pc_display{
    display: none;
  }
  .sp_display{
    display: block;
  }
  .right{
    margin-top: calc((50/750)*100vw);
  }
  .mb_pc-20_sp35{
    margin-bottom: calc((35/750)*100vw);
  }
  .contents .cover_catch{
    font-size: calc((28/750)*100vw);
    line-height: calc((44/750)*100vw);
    letter-spacing: .09em;
    margin-top: calc((80/750)*100vw)
  }
  .contents .cover_lead{
    font-size: calc((30/750)*100vw);
    line-height: calc((36/750)*100vw);
    font-weight: 500;
    margin-top: calc((34/750)*100vw);
    margin-bottom: calc((24/750)*100vw);/*241030스케치북 추가*/
  }
  .contents .cover_catch + .contents .cover_lead {
    margin-top: calc((30/750)*100vw);
  }
  .recycle_img{
    margin-top: calc((50/750)*100vw);
  }
  .green_border_top{
    margin-top: calc((80/750)*100vw);
    padding-top: calc((80/750)*100vw);
    border-top: 2px solid #379e49;
  }
  .pc_only{
    display: none;
  }
  .pc_only_for_inline{
    display: none;
  }
  .sp_only{
    display: block;
  }
  .reuniqlo_logo{
    width: 30%;
  }
  .reuniqlo_logo img{
    width: 100%;
  }
  .hearing_annotation{
    -webkit-text-size-adjust: 100%;
    font-size: calc((17/750)*100vw);
    line-height: calc((23/750)*100vw);
  }
  .green_text{
    font-size: calc((33/750)*100vw);
    line-height: calc((48/750)*100vw);
  }
  .under_green_text{
    font-size: calc((18/750)*100vw);
    line-height: calc((30/750)*100vw);
    padding-top: 0;
    padding-bottom: calc((9/750)*100vw);
    padding-right: 0;
  }
  .mr20{
    margin-right: calc((20/750)*100vw);
  }
  .mt_pc-41_sp-50{
    margin-top: calc((50/750)*100vw);
  }
  .w_pc-65per_sp-100per{
    width: 100%;
  }
  .mt15{
    margin-top: calc((15/750)*100vw);
  }
  .mt30{
    margin-top: calc((30/750)*100vw);
  }
  .fz20{
    font-size: calc((20/750)*100vw);
  }
  .mt_sp18{
    margin-top: calc((18/750)*100vw);
  }
  .fz14_sp16{
    font-size: calc((16/750)*100vw);
  }
  .mt_sp12{
    margin-top: calc((12/750)*100vw);
  }
  .fz24{
    font-size: calc((24/750)*100vw);
  }
  .fz40_sp35{
    font-size: calc((35/750)*100vw);
  }
  .fz14_sp18{
    font-size: calc((18/750)*100vw);
  }
  .lh55{
    line-height: calc((55/750)*100vw);
  }
  .ls1_only_pc{
    letter-spacing: 0;
  }
  .mt50{
    margin-top: calc((50/750)*100vw);
  }
  .pt10{
    padding-top: calc((10/750)*100vw);
  }
  .pl30{
    padding-left: calc((30/750)*100vw);
  }
  .ls3{
    letter-spacing: calc((3/750)*100vw);
  }
  .mr3{
    margin-right: calc((2/750)*100vw);
  }

  .uniqlo_boxes_container{
    margin: 0 auto;
    margin-top: calc((42/750)*100vw);
    width: 70%;
  }
  .uniqlo_boxes{
    width: 100%;
    max-width: none;
  }

  .friday_icon_before_it:before {
    content: '';
    display: inline-block;
    width: calc((23/750)*100vw);
    height: calc((23/750)*100vw);
    background-image: url(../img/fri.png);
    background-size: contain;
    vertical-align: middle;
  }

  .flex_wrapper img{
    width: calc((23.5/750)*100vw)
  }
  .right a {
    margin-top: calc((50/750)*100%);
    display: block;
  }
  .scroll_point {
    padding-top: calc((50/750)*100vw);
    margin-top: calc((-50/750)*100vw);
  }
}

@media (min-width: 813px){
  .pc_display{
    display: block;
  }
  .sp_display{
    display: none;
  }
  .mainImg_container{
    display: flex;
    align-items: flex-end;
  }
  .right{
    width: calc((400/1058)*100%);
    margin-left: calc((60/1058)*100%);
  }
  .mb_pc-20_sp35{
    margin-bottom: calc((20/750)*100vw)
  }
  .contents{
    margin-top: 110px;
  }
  .contents .cover_catch{
    font-size: 37px;
    line-height: 60px;
    letter-spacing: .118em;
    margin-top: 0;
  }
  .contents .cover_lead{
    font-size: 26px;
    line-height: 45px;
    font-weight: 500;
  }
  .contents .cover_catch + .contents .cover_lead {
    margin-top: 30px;
  }
  .recycle_img{
    max-width: 880px;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
  }
  .green_border_top{
    margin-top: 110px;
    padding-top: 110px;
    border-top: 3px solid #379e49;
  }
  .pc_only{
    display: block;
  }
  .pc_only_for_inline{
    display: inline;
  }
  .sp_only{
    display: none;
  }
  .reuniqlo_logo img{
    width: auto;
  }
  .hearing_annotation{
    font-size: 12px;
    line-height: 18px;
  }
  .contents .hearing_annotation{
    display: inline-block;
  }
  .green_text{
    font-size: 28px;
    line-height: 42px;
  }
  .under_green_text{
    font-size: 18px;
    line-height: 30px;
    padding-top: 12px;
    padding-right: 50px;
  }
  .mr20{
    margin-right: 20px;
  }
  .mt_pc-41_sp-50{
    margin-top: 31px;/*画像上部の隙間を考慮して*/
  }
  .w_pc-65per_sp-100per{
    width: 63%;
  }
  .mt15{
    margin-top: 15px;
  }
  .pc_mt28{
    margin-top: 28px;
  }
  .mt20{
    margin-top: 20px;
  }
  .fz24{
    font-size: 24px;
  }
  .fz40_sp35{
    font-size: 40px;
  }
  .lh55{
    line-height: 55px;
  }
  .ls1_only_pc{
    letter-spacing: 1px;
  }
  .mt50{
    margin-top: 50px;
  }
  .pt10{
    padding-top: 10px;
  }
  .pl30{
    padding-left: 30px;
  }
  .ls3{
    letter-spacing: 3px;
  }
  .mr3{
    margin-right: 3px;
  }

  .uniqlo_boxes{
    width: 30%;
    float: right;
    margin-top: -5px;
  }

  .friday_icon_before_it:before {
    content: '';
    display: inline-block;
    width: 23px;
    height: 23px;
    background-image: url(../img/fri.png);
    background-size: contain;
    vertical-align: middle;
  }

  .flex_wrapper img{
    width: 23.5px;
  }

  .subImg_container_small{
    margin-top: 64px;
    display: flex;
    flex-direction: row;
  }

  .subImg_container_small .subImg_wrap{
    width: calc((355/1058)*100%);
    margin-right: calc((55/1058)*100%);
  }

  .subImg_container_small .subImg{
    width: 100%;
  }

  .subImg_container_small .subImg_cnt{
    width: calc((648/1058)*100%);
  }

  .subImg_container_small .subImg_ttl{
    margin-top: 0;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: .1em;
  }

  .subImg_container_small .subImg_lead{
    margin-top: 29px;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: .098em;
    font-weight: 500;
  }

  .subImg_container_small .subImg_lead + .subImg_ttl{
    margin-top: 40px;
  }

  .subImg_container_small .contentsLink {
    width: calc((561/648)*100%);
  }

  .right a {
    margin-top: calc((80/1058)*100%);
    display: block;
  }
  .scroll_point {
    padding-top: calc((50/750)*100vw);
    margin-top: calc((-50/750)*100vw);
  }
  .annotation {
    font-size: 12px;
    padding-top: 10px;
    line-height: 18px;
    letter-spacing: 0.13em;
  }
  .annotation_text {
    display: inline-block;
    text-align: left;
  }

  .coupon_flex {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
  }
  .coupon_dateContainer {
    width: 364px;
  }
  .coupon_detailText {
    font-size: 25px;
    letter-spacing: .125em;
  }
  .coupon_detailText {
    margin-top: 32px !important;
    margin-bottom: 5px !important;
    font-weight: 900;
    font-size: 22px;
    line-height: 21px;
    letter-spacing: .08em;
  }
}

.contents.-biorestore .cover_catch{
  font-size: calc((28 / 750)* 100vw);
  line-height: calc((43 / 750)* 100vw);
  letter-spacing: 0.15em;
}
.flex_imgBox {
  width: calc((302 / 750)* 100vw);
}
.flex_container .flex_title {
  font-size: 13px;
  letter-spacing: 0.08em;
}
.store_container {
  margin-top: 40px;
}
.company_container {
  display: flex;
}
.company_name{
  font-size: 15px;
  letter-spacing: 0.08em;
  margin-top: calc((10 / 750)* 100vw);
}
.company_text {
  font-size: calc((24 / 750)* 100vw);
  line-height: calc((36 / 750)* 100vw);
  font-weight: 500;
  margin-top: calc((30 / 750)* 100vw);
}
.company_imgBox {
  width: calc((302 / 630)* 100%);
}
.function_text::before{
  content: "・";
}
.function_text{
  text-indent: -1em;
  padding-left: 1em;
}

@media (min-width: 813px) {
  .contents.-biorestore {
      margin-top: calc((110 / 1058)* 100%);
  }
  .contents.-biorestore .cover_catch{
    font-size: 39px;
    line-height: 62px;
    letter-spacing: .125em;
  }
  .flex_container {
    align-items: flex-start;
    width: 100%;
    margin-top: calc((48 / 1058)* 100%);
    display: flex;
  }
  .flex_container .flex_imgBox {
    width: calc((356 / 1058)* 100%);
    margin-right: calc((55 / 1058)* 100%);
  }
  .flex_container .flex_textBox {
    width: calc((650 / 1058)* 100%);
  }
  .flex_container .flex_title {
    font-size: 29px;
    letter-spacing: 0.2em;
  }
  .event_text {
    margin-top: 24px;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.14em;
    text-align: justify;
  }
  .company_container {
    width: 100%;
    align-items: end;
  }
  .company_textBox {
    margin-right: calc((24 / 1058)* 100%);
    flex: 1;
  }
  .company_name{
    font-size: 15px;
    letter-spacing: 0.2em;
    text-align: right;
    margin: 0;
  }
  .company_text {
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
  }
  .company_imgBox {
    width: calc((120 / 1058)* 100%);
  }
  .function_list{
    font-size: 25px;
    line-height: 33px;
    font-weight: 500;
    margin-top: 37px;
  }
  .function_list .function_text:nth-child(n+2){
    margin-top: 13px;
  }
  .sales_start_text{
    margin-top: 24px;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.14em;
  }
  .sales_cautionary_note{
    margin-top: 6px;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 0.14em;
  }
  .contentsLink{
    margin-top: 38px;
    width: 562px;
  }
  .function_text{
    text-indent: -0.5em;
    padding-left: 0.5em;
  }
}

@media (max-width: 812px) {
  .flex_imgBox {
    margin-top: calc((37 / 750)* 100vw);
  }
  .flex_textBox {
    margin-top: calc((32 / 750)* 100vw);
  }
  .-biorestore .event_text {
    font-size: calc((22 / 750)* 100vw);
    line-height: calc((36 / 750)* 100vw);
    font-weight: 500;
    margin-top: calc((30 / 750)* 100vw);
    letter-spacing: 1.75px;
    text-align: justify;
  }
  .company_container {
    flex-direction: column-reverse;
  }
  .company_textBox {
    margin-top: calc((17 / 750)* 100vw);
  }
  .function_list{
    font-size: calc((22 / 750)* 100vw);
    line-height: calc((36 / 750)* 100vw);
    font-weight: 500;
    margin-top: calc((43 / 750)* 100vw);
    letter-spacing: 1px;
  }
  .function_list .function_text:nth-child(n+2){
    margin-top: calc((8 / 750)* 100vw);
  }
  .sales_start_text{
    font-size: calc((23 / 750)* 100vw);
    line-height: calc((36 / 750)* 100vw);
    font-weight: 500;
    margin-top: calc((20 / 750)* 100vw);
    letter-spacing: 1px;
  }
  .sales_cautionary_note{
    font-size: calc((16 / 750)* 100vw);
    line-height: calc((36 / 750)* 100vw);
    font-weight: 500;
    margin-top: calc((14 / 750)* 100vw);
    letter-spacing: 1.3px;
  }
}
@media (max-width: 812px) {
  .contents.-down{
    margin-top: 37px;
  }
}


/* 以下 redesign */
.redesign_font {
  font-family: UniqloProRegular,"ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, "メイリオ", Meiryo, sans-serif;
  font-weight: 300;
}
.redesign_heading {
  font-weight: 300;
}
.redesign_heading.-h3 {
  word-break: break-all;
  font-weight: 700;
  font-size: calc((36 / 750)* 100vw);
  line-height: calc((54 / 750)* 100vw);
  margin-top: calc((72 / 750)* 100vw);
}

.redesign_flex_container {
  display: block;
  width: 100%;
  margin-top: calc((80 / 750)* 100vw);
}
.redesign_flex_imgBox {
  width: 100%;
}
.redesign_flex_img {
  width: 100%;
}
.redesign_flex_textBox {
  margin-top: calc((80 / 750)* 100vw);
}
.redesign_flex_title {
  font-size: calc((32 / 750)* 100vw);
  line-height: calc((48 / 750)* 100vw);
  font-weight: 300;
}
.redesign_event_text {
  font-size: calc((26 / 750)* 100vw);
  line-height: calc((39 / 750)* 100vw);
  margin-top: calc((20 / 750)* 100vw);
}
.redesign_function_list {
  margin-top: calc((40 / 750)* 100vw);
}
.redesign_function_text {
  font-size: calc((25 / 750)* 100vw);
  line-height: calc((39 / 750)* 100vw);
  text-indent: -0.5em;
  padding-left: 0.5em;
}
/* .redesign_function_text::before {
  content: '';
} */
.redesign_sales_start_text {
  font-size: calc((26 / 750)* 100vw);
  line-height: calc((39 / 750)* 100vw);
  margin-top: calc((40 / 750)* 100vw);
}
.redesign_sales_cautionary_note {
  font-size: calc((22 / 750)* 100vw);
  line-height: calc((33 / 750)* 100vw);
  margin-top: calc((20 / 750)* 100vw);
}
.redesign_sales_cautionary_note.mt20{
  margin-top: 20px;
}

.redesign_contentsLink {
    background-color: #000;
    text-align: center;
    width: 100%;
    border-radius: 999px;
    margin-top: calc((40 / 750)* 100vw);
}
.redesign_contentsLink a{
  text-align: center;
}
.redesign_contentsLink_btn {
  display: block;
  padding-top: calc((16 / 750)* 100vw);
  padding-bottom: calc((16 / 750)* 100vw);
  width: 100%;
  height: 100%;
}
.redesign_contentsLink_txt {
  font-size: calc((32 / 750)* 100vw);
  line-height: calc((38.4 / 750)* 100vw);
  color: #fff;
}

.redesign_store_container {
  margin-top: calc((80 / 750)* 100vw);
}
.redesign_company_container {
  display: block;
  width: 100%;
}
.redesign_company_imgBox {
  display: flex;
  width: 100%;
}
.redesign_company_imgContent {
  width: calc((240 / 750)* 100vw);
}
.redesign_company_img {
  width: 100%;
}
.redesign_company_name {
  text-align: left;
  flex: 1;
  margin-left: calc((40 / 750)* 100vw);
  font-size: calc((32 / 750)* 100vw);
  line-height: calc((48 / 750)* 100vw);
  font-weight: 300;
}
.redesign_company_textBox {
  margin-top: calc((40 / 750)* 100vw);
}
.redesign_company_text {
  font-size: calc((26 / 750)* 100vw);
  line-height: calc((39 / 750)* 100vw);
}

@media screen and (max-width:812px){
  .redesign_company_name {
    font-size: calc((30 / 750)* 100vw);
    word-break: keep-all;
    text-align: left;
    margin-top: 0.5em;
    margin-left: 0px;
  }

  .redesign_company_imgBox{
    flex-direction: column;/*241030스케치북 추가*/
  }

  .redesign_flex_imgBox{
    width: 60%;
  }
}

@media screen and (min-width:813px){
  .redesign_heading.-h3 {
    font-size: 21px;
    line-height: 27px;
    margin-top: 5px;
  }

  .redesign_flex_container {
    display: flex;
    width: 100%;
    margin-top: 40px;
  }
  .redesign_flex_imgBox {
    width: 350px;
  }
  .redesign_flex_img {
    width: 100%;
  }
  .redesign_flex_textBox {
    margin-top: 0;
    margin-left: 40px;
    flex: 1;
  }
  .redesign_flex_title {
    font-size: 16px;
    line-height: 24px;
  }
  .redesign_event_text {
    font-size: 13px;
    line-height: 19.5px;
    margin-top: 10px;
  }
  .redesign_function_list {
    margin-top: 20px;
  }
  .redesign_function_text {
    font-size: 13px;
    line-height: 19.5px;
    /* font-weight: 700; */
    /* margin-bottom: 1em; */
  }
  .redesign_sales_start_text {
    font-size: 13px;
    line-height: 19.5px;
    margin-top: 20px;
  }
  .redesign_sales_cautionary_note {
    font-size: 13px;
    line-height: 16.5px;
    margin-top: 5px;
  }
  .redesign_contentsLink {
    margin-top: 20px;
    max-width: 376px;
  }
  .redesign_contentsLink_btn {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .redesign_contentsLink_txt {
    font-size: 16px;
    line-height: 19.2px;
    color: #fff;
  }

  .redesign_store_container {
    margin-top: 40px;
  }
  .redesign_company_container {
    display: flex;
    width: 100%;
  }
  .redesign_company_imgBox {
    display: block;
    width: 150px;
  }
  .redesign_company_imgContent {
    width: 100%;
  }
  .redesign_company_textBox {
    margin-top: 0;
    margin-left: 40px;
    margin-right: 1em;
    padding-top: 2em;
    flex: 1;
  }
  .redesign_company_name {
    margin-left: 0;
    font-size: 18px;
    line-height: 24px;
  }
  .redesign_company_text {
    margin-top: 10px;
    font-size: 16px;
    line-height: 19.5px;
  }
}
