/* CSS Document */

#sustainability-report .report-wrap .caption{
  font-family: 'UniqloProRegular', 'Hiragino Kaku Gothic Pro', "Hiragino Sans", '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', メイリオ, Meiryo, sans-serif;
}

#wrapper .container .mainContents{
  font-family: 'UniqloProRegular', 'Hiragino Kaku Gothic Pro', "Hiragino Sans", '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', メイリオ, Meiryo, sans-serif;
}

#sustainability-report .report-wrap .title_01 {
  color: #379e49;
  font-family: 'UniqloProRegular', 'Hiragino Kaku Gothic Pro', "Hiragino Sans", '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', メイリオ, Meiryo, sans-serif;
  font-weight: 600;
}

#sustainability-report .report-wrap .lead{
  font-family: 'UniqloProRegular', 'Hiragino Kaku Gothic Pro', "Hiragino Sans", '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', メイリオ, Meiryo, sans-serif;
  font-weight: 600;
}

#sustainability-report .report-wrap .h3 {
    color: #379e49;
}

#sustainability-report .contents_wrap {
  margin-top: 80px;
}

#sustainability-report .contents_wrap .contents_item:not(:first-child) {
  margin-top: 80px;
}

#sustainability-report .contents_wrap .col_wrap {
  display: flex;
  align-self: flex-start;
}

#sustainability-report .contents_environment-number {
  font-size: 73px;
  line-height: 0.8;
  color: #379e49;
  padding-right: 32px;
  border-right: 2px solid #1b1b1b;
  font-family: "UniqloProRegular";
}

#sustainability-report .contents_environment-number-sp {
  font-size: 36px;
  line-height: 1.2;
  color: #379e49;
  padding-bottom: 8px;
  border-bottom: 2px solid #1b1b1b;
  font-family: "UniqloProRegular";
}

#sustainability-report .contents_environment-number .line{
  margin: 30px 0 30px 30px;
  width: 8px;
  height: 40px;
  background-color: #379e49;
  display: inline-block;
}

#sustainability-report .contents_environment-number-sp .line{
  margin-top: 20px;
  margin-right: 5px;
  width: 15px;
  height: 5px;
  background-color: #379e49;
  display: inline-block;
}

#sustainability-report .contents_environment-session {
  margin-left: 32px;
  width: 100%;
}

#sustainability-report .environment-wrap:not(:first-child) {
  margin-top: 32px;
}

#sustainability-report .question_text {
  font-size: 28px;
  color: #379e49;
}
#sustainability-report .answer_text {
  font-size: 16px;
  line-height: 2;
  margin-top: 24px;
  line-height: 1.7;
  letter-spacing: 0.13em;
  font-family: UniqloProLight;
}
#sustainability-report .answer_text_m.pc-only {
  font-size: 12px;
  margin-top: 6px;
  line-height: 1.7;
  letter-spacing: 0.13em;
  font-family: UniqloProLight;
}

#sustainability-report .answer_text_m.sp-only {
  font-size: 10px;
  margin-top: 6px;
  line-height: 1.7;
  letter-spacing: 0.13em;
  font-family: UniqloProLight;
}

#sustainability-report .environment-flex{
  display: flex;
  align-items: flex-start;
  margin-top: 32px;
}

#sustainability-report .environment-flex .environment-wrap{
  width: calc(90% - 20px);
  margin-right: 20px;
}
#sustainability-report .environment-flex img{
  width: 10%;
}

#sustainability-report .charter{
  margin-top: 80px;
}

#sustainability-report .charter_text{
  font-size: 24px;
  font-family: "UniqloProRegular";
  color: #379e49;
  margin-top: 24px;
}

@media (max-width: 767px) {
    #sustainability-report .contents_wrap {
      margin-top: 40px;
    }

    #sustainability-report .report-wrap section .cover_img img {
        width: 100%;
    }

    #sustainability-report .report-wrap section::before {
        height: 2px;
        width: 91%;
    }

    #sustainability-report .contents_wrap .contents_item:not(:first-child) {
      margin-top: 36px;
    }

    #sustainability-report .contents_wrap .col_wrap {
      align-items: center;
      align-self: flex-start;
    }

    #sustainability-report .contents_environment-number {
      font-size: 36px;
      line-height: 1.2;
      padding-right: 16px;
    }

    #sustainability-report .contents_environment-session {
      margin-left: 0px;
    }

    #sustainability-report .question_text {
      font-size: 18px;
      line-height: 1.2;
      letter-spacing: 1px;
    }
    #sustainability-report .answer_text {
      font-size: 11px;
      margin-top: 16px;
    }

    #sustainability-report .environment-flex,
    #sustainability-report .environment-wrap:not(:first-child){
      margin-top: 24px;
    }

    #sustainability-report .environment-flex{
      display: flex;
      align-items: flex-start;
    }

    #sustainability-report .environment-flex .environment-wrap{
      width: calc(80% - 10px);
      margin-right: 10px;
    }
    #sustainability-report .environment-flex img{
      width: 20%;
      margin-top: 40px;
    }
    
    #sustainability-report .charter_text{
      font-size: 12px;
      font-family: "UniqloProRegular";
      color: #379e49;
      margin-top: 8px;
    }
    #sustainability-report .charter{
      margin-top: 50px;
    }

}

@media (max-width: 473px) {
  #sustainability-report .environment-flex img.mt {
    margin-top: 62px;
  }
}