
.navigation ul,.otherNavigation li{
  padding-left: 0;
}
.navigation li,.otherNavigation li{
  list-style: none;
}
.navigation a:hover,.otherNavigation a:hover{
  text-decoration: none;
}
.navigation a:not(.color_blue,.color_green,.color_yellow),.otherNavigation a:not(.color_blue,.color_green,.color_yellow){
  color: #000;
}
/* header */
.header {
    display: block !important;
  background-color: #fff;
  border-bottom: 1px solid #dadada;
  padding: 14.5px 4vw !important;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  text-align: center;
  z-index: 2;
  box-sizing: border-box;
}
.header .logo {
  position: absolute;
  left: 12px !important;
  width: 30px !important;
  height: 30px !important;
  top: 50%;
  transform: translateY(-50%);
}
.header .logoImg{
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
.header .siteTtl{
  display: inline-block;
  margin: 0;
  background: url(/jp/ja/contents/sustainability/cmn/img/sp-title.svg) no-repeat center center;
  background-size: contain;
  width: 45vw;
  height: 38.4px;
}
.header .siteTtl a{
  display: block;
  text-indent: -9990px;
}
button.menu {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}
.menu {
  color: #000;
  font-size: 10px;
  position: absolute;
  top: 8px;
  right: 12px;
  width: 45px;
  height: 45px;
  text-align: center;
  z-index: 2
}
.menu:hover{
  text-decoration: none;
  color: #000;
}
.menu.-close {
  top: 11px;
  right: calc((12/750)*(100vw));
}
.menu_line {
  background-color: #000;
  margin-right: auto !important;
  margin-left: auto !important;
  position: absolute;
  right: 0;
  left: 0;
  top: 50% !important;
  width: 20px;
  height: 2px
}
.menu.-open .menu_line:first-child {
  top: 14px !important
}
.menu.-open .menu_line:nth-child(2) {
  top: 22px !important
}
.menu.-close .menu_line {
  margin-top: -11px;
  margin-left: 12px
}
.menu.-close .menu_line:first-child {
  transform: rotate(45deg)
}
.menu.-close .menu_line:nth-child(2) {
  transform: rotate(-45deg)
}
.menu_txt {
    line-height: 1;
  margin-top: 24px !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 6px;
  width: 100%;
  word-break: break-word;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Hiragino Sans", "Noto Sans CJK JP", Osaka, Meiryo, メイリオ, "MS PGothic", "ＭＳ Ｐゴシック", "Hiragino Sans GB", "Helvetica Neue", HelveticaNeue, Helvetica, "Noto Sans", Roboto, Arial, "Arial Unicode MS", sans-serif;
}
.menu.-close .menu_txt {
  top: 0
}
.color_green {
  color: #379e49 !important;
}
.color_blue {
  color: #0076c0 !important;
}
.color_yellow {
  color: #f7ba00 !important;
}
.drawer {
  background-color: #f2f2f2;
  padding-top: 36px;
  padding-top: var(--sp-v-xxl);
  padding-bottom: 28px;
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  transform: translateX(50%);
  transition: transform .4s ease-in-out;
  width: 100%;
  z-index: 999996;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}
.drawerOverlay {
  background-color: rgba(27, 27, 27, .5);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s ease-in-out;
  visibility: hidden;
  z-index: 100;
}
[data-drawer-is-active=true] {
  right: 0;
  left: 0
}
[data-drawer-is-active=true] .drawer {
  transform: translateX(-100%)
}
[data-drawer-is-active=true] .drawerOverlay {
  opacity: 1;
  visibility: visible
}
.navigation {
  overflow: hidden;
  text-align: center;
}
.navigation:first-child {
  border-bottom: 1px solid #dadada;
  padding-bottom: 28px
}
.navigation_wrap {
  margin: 0 calc((30/750)*(100vw));
  padding-top: calc((92/750)*(100vw));
  padding-bottom: calc((88/750)*(100vw));
}
.navigation_wrap:first-child {
  padding-top: 0;
}
.navigation_wrap:first-child .navigation_item {
  font-size: calc((34/750)*(100vw));
}
.navigation_wrap:not(:first-child) {
  border-top: 1px solid #666666;
}
.navigation_item {
  font-size: calc((28/750)*(100vw));
  letter-spacing: .007em;
  margin-top: calc((34/750)*(100vw));
}
.navigation_item:first-child {
  margin-top: 0;
}
.navigation-footer {
  background-color: #f4f4f4;
  border-bottom: 1px solid #dadada;
  padding-bottom: 28px
}
.navigation_itemLink {
  display: block;
  color: #000000;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
.navigation_item:not(.navigation_tag){
  font-weight: bold;
}
.navigation_tag {
  margin-right: calc((30/750)*(100vw));
  margin-left: calc((30/750)*(100vw));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.navigation_tagItem {
  display: block;
  padding: calc((8/750)*(100vw)) calc((24/750)*(100vw)) calc((4/750)*(100vw));
  margin-right: calc((12/750)*(100vw));
  margin-bottom: calc((12/750)*(100vw));
  font-size: calc((22/750)*(100vw));
  background-color: #fff;
}
.navigation_tagItemLink {
  color: #666666;
}
/* otherNavigation */
.otherNavigation {
  border-top: 1px solid #dadada;
  margin-top: 99px;
}
.otherNavigation_logo {
  margin-top: 24px;
}
.otherNavigation_logoImg {
  width: auto;
  height: 36px
}
.otherNavigation_list {
  display: flex;
  justify-content: center
}
.otherNavigation_listItem {
  font-size: 12px;
  margin-top: 24px;
  font-weight: 500;
}
.otherNavigation_listItem .otherNavigation_link {
  padding: 0 7px;
  text-decoration: none;
}
.otherNavigation_listItem:not(:last-child) .otherNavigation_link {
  border-right: 1px solid #1b1b1b;
}

/* footer */
.footer {
  background-color: #f4f4f4;
  border-top: 1px solid #dadada;
  margin-top: 24px;
  padding: 15px 4vw;
  text-align: center;
}
.footerCopyright {
  color: #ababab;
  display: block;
  font-family: "UniqloProLight",sans-serif;
  font-size: 11px;
  line-height: 1;
}
.fast_retailing_logo img{
  width: 83px !important;
}

@media screen and (max-width: 812px){
  .otherNavigation_list{
    width: 300px;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .otherNavigation_listItem:not(:nth-of-type(-n+3)){
    margin-top: 8px;
  }
  .navigation{
    margin-top: calc((90/750)*100vw);
  }
}

@media screen and (min-width: 813px){
  /* header */
  .header {
    padding: 0 !important;
    height: 81px !important;
  }
  .headerInner {
    position: relative;
    height: 100%;
  }
  .headerInner a.ga_act-header-title {height: 100%;}
  .header .logo{
    left: 0;
    margin-left: 15px;
    transition: opacity .6s;
  }
  .header .siteTtl{
    height: 26px;
    background: url(/kr/sustainability/cmn/img/pc-title.svg) no-repeat center center;
    background-size: 100%;
    width: 542px;
    margin-top: 30px;
    font-size: 14px;
  }
  .menu {
    /* right:19px; */
    top: 50% !important;
    margin-top: -25.5px !important;
    transition: opacity .6s;
    cursor: pointer;
  }
  .menu:hover {
    opacity: .6
  }
  .menu.-close {
    top: 45px !important;
    right: 18px
  }
  .drawer {
    padding-top: 52px;
    right: 0;
    transform: translateX(100%);
    width: 392px;
    /* IE, Edge 対応 */
    -ms-overflow-style: none;
    /* Firefox 対応 */
    scrollbar-width: none;
  }
  /* Chrome, Safari 対応 */
  .drawer::-webkit-scrollbar {
    display:none;
  }
  [data-drawer-is-active=true] .drawer {
    transform: translateX(0)
  }
  .navigation {
    text-align: left;
    margin-top: 22px;
  }
  .navigation_item {
    margin-top: 2px;
    padding-right: 0;
    padding-left: 0;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: .07em;
  }
  .navigation_wrap {
    margin: 0 30px;
    padding-top: 28px;
    padding-bottom: 26px;
  }
  .navigation_wrap:first-child .navigation_item {
    font-size: 16px;
    line-height: 31px;
  }
  .navigation_itemLink {
    transition: opacity .6s;
  }
  .navigation_itemLink:hover {
    opacity: .6
  }
  .navigation_tag {
    margin-right: 0;
    margin-left: 0;
    margin-top: 10px;
    justify-content: flex-start;
  }
  .navigation_tagItem {
    padding: 1px 8px 0;
    margin-right: 6px;
    margin-bottom: 6px;
    font-size: 10px;
    line-height: 18px;
  }
  /* otherNavigation */
  .otherNavigation {
    margin-top: 120px;
  }
  .otherNavigation_inner {
    max-width: 1224px;
    width: 100%;
    padding-top: 28px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
  }
  .otherNavigation_logo {
    margin-top: 0;
    transition: opacity .6s;
  }
  .otherNavigation_logo:hover {
    opacity: .6
  }
  .otherNavigation_list {
    padding-left: 15px;
  }
  .otherNavigation_listItem {
    margin-top: 0;
    transition: opacity .6s;
    font-size: 13px;
  }
  .otherNavigation_listItem:hover {
    opacity: .6
  }
  .otherNavigation_listItem .otherNavigation_link {
    padding: 0 15px;
  }
  /* footer */
  .footer {
    margin-top: 28px !important;
    padding: 28px 0 !important;
    text-align: left;
  }
  .footerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1224px !important;
    width: 100% !important;
    margin-right: auto;
    margin-left: auto;
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
  .footerCopyright {
    font-size: 13px !important;
    display: inline-block;
  }
}

