@charset "UTF-8";
/* html */
html {
  font-size: 16px;
}
/* breadcrumbs */
.breadcrumbs{
  width: 92vw;
  margin: 0 4vw;
  margin-bottom: calc((40/750)*(100vw));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.breadcrumbs .tojp{
  margin: 0;
}
/* cover */
.cover {
  width: 100%;
}
.coverImg {
  width: 100%;
}
.coverImg_wrap{
  position: relative;
}
.cover_category{
  font-size: calc((50/750)*100vw);
  line-height: calc((82/750)*100vw);
  letter-spacing: 0.135em;
  position: absolute;
  top: calc((100/750)*100vw);
  left: calc((30/750)*100vw);
  font-weight: 500;
  color: white;
}
.cover_lead{
  font-size: calc((22/750)*100vw);
  line-height: calc((46/750)*100vw);
  letter-spacing: 0.07em;
  font-weight: 500;
  position: absolute;
  top: calc((193/750)*100vw);
  left: calc((30/750)*100vw);
  color: white;
}
/* container */
.container{
  margin-bottom: calc((190/750)*100vw);
}
/* contents */
.contents {
  margin-top: calc((80/750)*(100vw));
}
.contents_ttl {
  font-size: calc((44/750)*(100vw));
  line-height: 1;
  font-family: UniqloProRegular;
  letter-spacing: 2px;
  font-weight: 400;
}
.contentsItem {
  margin-top: calc((80/750)*(100vw));
}
.contentsItem:nth-of-type(1) {
  margin-top: calc((60/750)*(100vw));
}
.contentsItem_ttl {
  font-size: calc((34/750)*(100vw));
  letter-spacing: 0.1em;
  border-bottom: 1px solid;
}
.contentsItem_ttl.color_green{
  border-bottom: 1px solid #379e49 !important;
}
.contentsItem_ttl.color_yellow{
  border-bottom: 1px solid #f7ba00 !important;
}
.contentsItem_ttl.color_blue{
  border-bottom: 1px solid #0076c0 !important;
}
.contentsItem_ttl.-en {
  font-size: 20px;
}
.contentsItem_txt {
  margin-top: calc((50/750)*(100vw));
  font-size: calc((24/750)*(100vw));
  line-height: calc((42/750)*(100vw));
  letter-spacing: 0.07em;
  font-weight: bold;
  text-align: justify;
}
.contentsList {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: calc((50/750)*(100vw));
}
.contentsList_item {
  display: flex;
  min-width: 0;
  width: calc((100% - ((26/750)*100vw)) / 2);
  height: calc((660/750)*100vw);
  border: 1px solid #b6b6b6;
  margin-top: calc((25/750)*100vw);
}
.contentsList_item:nth-of-type(1),
.contentsList_item:nth-of-type(2) {
  margin-top: 0;
}
.contentsList_itemLink {
  position: relative;
  width: 100%;
  display: block;
}

.contentsList_itemLink:hover {
  opacity: .6;
}

.contentsList_itemImg {
  width: 100%;
}
.contentsList_itemWrap {
  padding-top: calc((30/750)*100vw);
  padding-right: calc((20/750)*100vw);
  padding-left: calc((20/750)*100vw);
  padding-bottom: calc((30/750)*100vw);
}
.contentsList_itemTtl {
  font-size: calc((30/750)*100vw);
  line-height: 1.15;
}
.contentsList_itemTxt {
  margin-top: calc((22/750)*100vw);
  font-size: calc((22/750)*100vw);
  font-weight: 600;
  line-height: 1.418;
}
.contentsList_itemTxt.-en {
  margin-top: .625rem;
  font-size: 10px;
  font-weight: normal;
  line-height: 1.25;
}
.contentsList_engTxt {
   position: absolute;
   bottom:-25px;
   left: 10px;
}
.contents_top {
  margin-top: calc((120/750)*(100vw));
}

/* categoryList */
.category{
  margin-top: calc((80/750)*100vw);
}
.categoryList {
  display: flex;
  justify-content: space-between;
  margin-top: calc((60/750)*100vw);
}
.categoryList_item {
  display: flex;
  justify-content: space-between;
  background-repeat: no-repeat;
}
.categoryList_itemLink {
  width: calc((214/750)*100vw);
  height: calc((214/750)*100vw);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: block;
}
.categoryList_itemImg{
  width: 100%;
}
.categoryList_itemLink .active{
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}
.categoryList_itemLink.this_category .active{
  opacity: 1;
}
.categoryList_itemLink .active:active{
  opacity: 1;
}
  /* tagSearch */
/* .tagSearch{
  margin-top: calc((120/750)*100vw);
}
.tagSearch_ttl{
  margin-top: calc((80/750)*100vw);
  font-size: calc((28/750)*100vw);
  letter-spacing: 0.118em;
} */
/* pickupList */
/* .pickupContents_ttl{
  margin-top: calc((80/750)*100vw);
  font-size: calc((28/750)*100vw);
  letter-spacing: 0.118em;
}
.pickupList{
  margin-top: calc((60/750)*100vw);
}
.pickupList_item{
  margin-bottom: calc((50/750)*100vw);
}
.pickupList_item:last-child{
  margin-bottom: 0;
}
.pickupList_itemImg{
  width: calc((120/750)*100vw);
  height: calc((120/750)*100vw);
  margin-right: calc((30/750)*100vw);
}
.pickupList_itemTxt{
  width: calc((500/750)*100vw);
}
.pickup_ttl{
  margin-top: calc((15/750)*100vw);
  font-size: calc((18/750)*100vw);
}
.pickup_txt{
  margin-top: calc((5/750)*100vw);
  font-size: calc((15/750)*100vw);
  font-weight: 500;
}
.pickup_linkInner{
  font-size: calc((20/750)*100vw);
} */
.color_green{
  color: #379e49 !important;
}
.color_yellow{
  color: #f7ba00 !important;
}
.color_blue{
  color: #0076c0 !important;
}
.cover_banner{
  margin-top: calc((120/750)*100vw);
}
.banner_inner{
  width: 100%;
}
@media screen and (min-width: 813px){
  .container{
    margin-bottom: 186px;
  }
  .breadcrumbs{
    width: auto;
    margin: 0 auto;
    margin-bottom: 19px;
    padding-right: 25px;
    padding-left: 25px;
    max-width: 1226px;
  }
  .cover {
    padding: 0 25px;
    max-width: 1226px;
    margin: 0 auto;
  }
  .cover_category{
    font-size: calc((55/1176)*(100vw - 50px));
    line-height: calc((90/1176)*(100vw - 50px));
    top: calc((100/1176)*(100vw - 50px));
    left: calc((65/1176)*(100vw - 50px));
  }
  .cover_lead{
    font-size: calc((17/1176)*(100vw - 50px));
    line-height: calc((43/1176)*(100vw - 50px));
    top: calc((218/1176)*(100vw - 50px));
    left: calc((65/1176)*(100vw - 50px));
  }
  .contents {
    margin-top: 80px;
  }
  .contents_top {
    margin-top: 0px;
  }
  .contents_ttl {
    font-size: 46px;
  }
  .contentsItem {
    margin-top: 60px;
  }
  .contentsItem:nth-of-type(1) {
    margin-top: 60px;
  } 
  .contentsItem_ttl {
    font-size: 30px;
  }
  .contentsItem_ttl.-en {
    font-size: 36px;
  }
  .contentsItem_txt {
    font-size: 17px;
    margin-top: 40px;
    line-height: 32px;
  }
  .contentsList {
    justify-content: flex-start;
    margin-top: 40px;
  }
  .contentsList_item {
    width: calc((100% - 60px) / 4);
    height: calc((550/1226)*(100vw));
    max-height: 550px;
    min-height: 400px;
    margin-right: 20px;
    margin-top: 0;
  }
  .contentsList_item:nth-of-type(n+5){
    margin-top: 20px;
  }
  .contentsList_item:nth-of-type(4n),
  .contentsList_item:last-child {
    margin-right: 0;
  }
  .contentsList_itemImg {
    width: 100%;
  }
  .contentsList_itemWrap {
    padding-top: calc((19/277)*100%);
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 0;
  }
  .contentsList_itemTtl {
    font-size: calc((28/1176)*(100vw - 50px));
  }
  .contentsList_itemTxt {
    margin-top: 1.0625rem;
    font-size: calc((17/1176)*(100vw - 50px));
    line-height: 1.333;
    word-break: break-all;
  }
  .contentsList_itemTxt.-en {
    margin-top: 1rem;
    font-size: 17px;
    line-height: 1.25;
  }
  /* categoryList */
  .category{
    margin-top: 120px;
  }
  .categoryList {
    margin-top: 60px;
    margin-left:  150px;
    margin-right:  150px;
  }
  .categoryList_item{
    width: calc((1/3)*(100% - 48px));
  }
  .categoryList_itemLink {
    width: 100%;
    height: auto;
  }
  .categoryList_itemLink:hover .categoryList_itemImg{
    opacity: 1;
  }
  .categoryList_itemLink .active:hover{
    opacity: 1;
  }
  .categoryList:hover .this_category:not(:hover) .active{
    opacity: 0;
  }
  /* tagSearch */
  /* .tagSearch{
    margin-top: 120px;
  }
  .tagSearch_ttl{
    margin-top: 60px;
    font-size: 20px;
  } */
  /* pickup */
  /* .pickupContents_ttl{
    margin-top: 60px;
    font-size: 20px;
  }
  .pickupList{
    margin-top: 40px;
  }
  .pickupList_item{
    margin-bottom: 40px;
  }
  .pickupList_item:nth-last-child(-n+2){
    margin-bottom: 0;
  }
  .pickupList_itemImg{
    width: calc((120/1226)*100vw);
    max-width: 120px;
    height: calc((120/1226)*100vw);
    max-height: 120px;
    margin-right: calc((20/558)*100%);
  }
  .pickupList_itemTxt{
    width: calc((418/1226)*100vw);
  }
  .pickup_ttl{
    margin-top: 5px;
    font-size: 18px;
  }
  .pickup_txt{
    margin-top: 5px;
    font-size: 14px;
  }
  .pickup_linkInner{
    font-size: 14px;
  } */
  /* pageTop */
  #pageTop.fixd{
    bottom: -152px;
  }
  /* footer */
  .otherNavigation{
    font-size: 14px;
  }
  .cover_banner {
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

@media screen and (min-width: 1226px){
  .cover_category{
    font-size: 55px;
    line-height: 90px;
    top: 100px;
    left: 65px;
  }
  .cover_lead{
    font-size: 17px;
    line-height: 43px;
    top: 218px;
    left: 65px;
  }
  .contentsList_itemTtl {
    font-size: 28px;
  }
  .contentsList_itemTxt {
    font-size: 17px;
  }
}
