@charset "utf-8";

.bx-wrapper{
	position: relative;
	left: -4px;
}

#slider img{
	width:100%;
}

.bx-wrapper .bx-viewport {
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
border:none;
background-color:transparent;
}