@charset "UTF-8";

.eks-sp23{padding-top: 72px}
.eks-sp23 section{position: relative;}
.eks-sp23 cite{position: absolute;top:-72px;left:0;height:1px;width:1px}
.eks-sp23 h3 {margin-bottom:70px;font-size:40px; letter-spacing:.025em; text-align: center;}

.eks-sp23 .nav{display: flex;position: relative;top:0;z-index: 99; width: 1200px;margin:0 auto}
.eks-sp23 .nav li{flex: 1;padding:0;}
.eks-sp23 .nav li a{display: flex;flex: 1;justify-content: center;align-items: center;height:60px;border: 1px solid #000;border-right: none;background: #fff;color: #000;text-decoration: none;}
.eks-sp23 .nav li:last-child a{border-right: 1px solid #000;;}
.eks-sp23 .nav li .active{color: #fff;background: #000;}

.eks-sp23 .txt{line-height: 1.6;letter-spacing: -0.05em;text-align: justify;}
.eks-sp23 .link{display: block;color: #333;text-decoration: underline;letter-spacing: -0.01em;transform: skew(-0.03deg)}
.eks-sp23 .link.off{text-decoration: none;}
.eks-sp23 .link div{text-align: center}
.eks-sp23 .product-wrp{display: flex;flex-wrap: wrap;position: absolute;bottom: 65px;left: 0;}
.eks-sp23 .product{width: 33.333%;margin-bottom: 15px;text-align: center;}

.eks-sp23 .bottom-link{display:flex;flex-wrap: wrap;width:1200px;margin: 0 auto;padding: 95px 0}
.eks-sp23 .bottom-link>div{flex: auto;flex-basis: 0;max-width: 100%;font-size:18px;font-weight:700;text-align: center;}

.eks-sp23-rel{max-width: 1200px;margin: 70px auto;line-height: 1.5}
.eks-sp23-rel>p{text-align: center;color: #818181;transform: skew(-0.03deg)}
.eks-sp23-rel h4{font-size: 28px;padding: 100px 0 25px;text-align: center}
.eks-sp23-rel a{color: #3c3c3c;text-decoration: none}
.eks-sp23-rel h5{font-size: 24px;padding: 30px 0 20px}
.eks-sp23-rel>section:first-child{margin-top: 10px}
.eks-sp23-rel .desc{padding: 20px 0 30px;letter-spacing: -.01em}
.eks-sp23-rel .desc>strong{display: block;font-size: 19px;letter-spacing: 0;margin-bottom: 10px}
.eks-sp23-rel .desc>p{transform: skew(-0.03deg)}
.eks-sp23-banner{position: absolute;top: 60px;left: 50%;color: #fff;font-size: 18px}
.eks-sp23-banner .font-unipl{font-size: 36px;padding-right: 30px;background: url(https://simage-kr.uniqlo.com/display/corner/2161/img/23_SP_seasonlook/23_SP_arr.png) no-repeat 100% 50%;letter-spacing: 0}
.eks-sp23-banner.text-body .font-unipl{background-image: url(https://simage-kr.uniqlo.com/display/corner/2161/img/23_SU_pc_seasonlook_releted/23_SP_arr_black.png)}