/* CSS Document */

#sustainability-report .report-wrap section .border_h3 span {
    display: inline;
    position: relative;
    border-bottom: solid 3px #379e49;
}

#wrapper .container .mainContents{
    font-family: 'UniqloProRegular', 'Hiragino Kaku Gothic Pro', "Hiragino Sans", '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', メイリオ, Meiryo, sans-serif;
}

#sustainability-report .report-wrap .title_01 {
    color:#379e49;
    font-family: 'UniqloProRegular', 'Hiragino Kaku Gothic Pro', "Hiragino Sans", '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', メイリオ, Meiryo, sans-serif;
    font-weight: 600;
}

#sustainability-report .report-wrap .subheading {
    color: #379e49;
    font-family: 'UniqloProRegular', 'Hiragino Kaku Gothic Pro', "Hiragino Sans", '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', メイリオ, Meiryo, sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-top: 25px;
    line-height: 1.2;
}

#sustainability-report .report-wrap .lead{
    font-family: 'UniqloProRegular', 'Hiragino Kaku Gothic Pro', "Hiragino Sans", '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', メイリオ, Meiryo, sans-serif;
    font-weight: 600;
}

#sustainability-report .report-wrap .h3 {
    color: #379e49;
    font-weight: bold;
}

#sustainability-report .report-wrap .ruby_kana {
    font-size: 12px;
    font-weight: bold;
    margin-top: 11px;
    line-height: 1.5;
}

#sustainability-report .report-wrap .img_wrap .img_mw {
    width: 100%;
}

#sustainability-report .contents_wrap .col_wrap {
    margin-top: 25px;
}

#sustainability-report .contents_wrap .col_block .img_person {
    max-width: 24%;
    margin-top: 16px;
}

#sustainability-report .contents_wrap .col_block .img_person img {
    width: 100%;
}

#sustainability-report .contents_top .contents_wrap_text,
#sustainability-report .contents_bottom .contents_wrap_text,
#sustainability-report .contents_wrap .col_wrap .col_block .col_text {
    color: #000000;
    font-size: 11px;
    margin-top: 16px;
    text-align: justify;
    line-height: 2.1;
    letter-spacing: 1px;
}

#sustainability-report .contents_wrap .return, #sustainability-report .contents_wrap .next{
    margin: 80px auto 0;
    text-align: center;
    position: relative;
    font-size: 18px;
}

#sustainability-report .contents_wrap .pagenation .return, #sustainability-report .contents_wrap .pagenation .next{
    margin: 80px 0 0;
}

#sustainability-report .contents_wrap .pagenation .return {
    margin-right: 40px;
}

#sustainability-report .contents_wrap .return a,#sustainability-report .contents_wrap .next a{
    color: #1b1b1b;
    position: relative;
}

#sustainability-report .contents_wrap .return a:hover,#sustainability-report .contents_wrap .next a:hover{
    color:#379e49;
}

#sustainability-report .contents_wrap .return a::before{
    content: "";
    background: url(.././img/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 13px;
    height: 17px;
    position: absolute;
    top: 10%;
    left: -60%;
}
#sustainability-report .contents_wrap .next a::after{
    content: "";
    background: url(.././img/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 13px;
    height: 17px;
    position: absolute;
    transform: rotate(180deg);
    top: 4%;
    left: 108%;
}

#sustainability-report .contents_wrap .nav{
    font-family: 'UniqloProRegular';
    display: flex;
    justify-content: center;
    color:  #379e49;
    font-size: 20px;
}
#sustainability-report .contents_wrap .nav li{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: solid 3px #379e49;
    background-color: #379e49;
    text-align: center;
    margin: 35px 15px;
    line-height: 24px;
    letter-spacing: 0px;
}
#sustainability-report .contents_wrap .nav .current{
    background-color: #fff;
}
#sustainability-report .contents_wrap .nav li a{
    font-weight: normal;
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 100%;
}

#sustainability-report .report-wrap .cover_flex {
    margin-top: 40px;
    width: 100%;
    display: flex;
}

#sustainability-report .report-wrap .cover_flex img {
    max-width: 100%;
    height: auto;
}

#sustainability-report .report-wrap .cover_flex > .cover_flex_img:first-of-type {
    margin-right: 4vw;
}

#sustainability-report .contents_wrap .contents_wrap_text {
    font-size: 11px;
    line-height: 2.1;
    letter-spacing: 1px;
    margin-top: 25px;
}

#sustainability-report .report-wrap .title_flex {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#sustainability-report .report-wrap .title_flex .h3 {
    margin-top: 0;
}

#sustainability-report .contents_wrap .col_wrap {
    display: flex;
    align-self: flex-start;
}

#sustainability-report .contents_question-number {
    font-size: 73px;
    line-height: 0.8;
    color: #379e49;
    padding-right: 26px;
    border-right: 1px solid #379e49;
    font-family: "UniqloProRegular";
}

#sustainability-report .contents_question-session {
    margin-left: 32px;
}

#sustainability-report .question_text {
    font-size: 28px;
    color: #379e49;
    letter-spacing: 1px;
}
#sustainability-report .answer_text {
    font-size: 16px;
    line-height: 2.1;
    letter-spacing: 1px;
    margin-top: 29px;
}

#sustainability-report .answer_text li {
    text-indent: -1.5em;
    padding-left: 1.5em;
}
#sustainability-report .answer_text li:before {
    content: "●";
    margin-right: 0.5em;
}

#sustainability-report .report-wrap .details-lead {
    margin-top: 40px;
}
#sustainability-report .report-wrap .details-lead img {
    max-width: 100%;
}
.mainContents.layer3 .contentsLink .contentsLink_btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
#sustainability-report .report-wrap section a {
    color: #379e49;
}
.mainContents.layer3 .contentsLink {
    width: 100%;
    height: 50px;
    margin-top: 35px;
    background-color: #379e49;
}
.mainContents.layer3 .contentsLink .contentsLink_txt {
    color: #fff;
    font-size: 11px;
    letter-spacing: .110em;
    font-weight: 600;
    line-height: 15px;
    margin: 0;
}
.contentsLink_txt.arrow_right{
    position: relative;
}
.mainContents.layer3 .contentsLink .arrow_right::after {
    content: "";
    position: absolute;
    top: 10%;
    left: calc(60% + 100px);
    width: 10px;
    height: 10px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
}
@media (min-width: 813px) {
    .contentsLink_txt.arrow_right{
        position: relative;
    }
    .mainContents.layer3 .contentsLink .arrow_right::after {
        content: "";
        position: absolute;
        top: 10%;
        left: calc(65% + 160px);
        width: 10px;
        height: 10px;
        border-top: 3px solid #fff;
        border-right: 3px solid #fff;
        transform: rotate(45deg);
    }
    #sustainability-report .report-wrap section a {
        color: #379e49;
    }
    .mainContents.layer3 .contentsLink {
        width: 100%;
        height: 50px;
        margin-top: 35px;
        background-color: #379e49;
    }
    .mainContents.layer3 .contentsLink{
        margin-top: 70px;
        max-width: 588px;
        height: 50px;
    }
    .mainContents.layer3 .contentsLink .contentsLink_txt {
        color: #fff;
        font-size: 11px;
        letter-spacing: .110em;
        font-weight: 600;
        line-height: 15px;
        margin: 0;
    }
    #sustainability-report .report-wrap section a {
        color: #379e49;
    }
    #sustainability-report .contents_top .contents_wrap_text,
    #sustainability-report .contents_bottom .contents_wrap_text {
        font-size: 16px;
        margin-top: 24px;
    }

    #sustainability-report .report-wrap .ruby_kana {
        font-size: 20px;
        margin-top: 41px;
    }

    #sustainability-report .contents_wrap .col_wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 41px;
    }

    #sustainability-report .contents_wrap .col_wrap .col_block {
        width: 50%;
    }

    #sustainability-report .contents_wrap .col_block:nth-of-type(1) {
        padding-right: 30px;
    }

    #sustainability-report .contents_wrap .col_block:nth-of-type(2) {
        padding-left: 30px;
    }

    #sustainability-report .contents_wrap .col_block .img_person {
        max-width: 101px;
    }

    #sustainability-report .contents_wrap .col_wrap .col_block .col_text {
        font-size: 16px;
        margin-top: 0;
    }

    #sustainability-report .report-wrap .cover_flex {
        margin-top: 80px;
        width: 100%;
    }

    #sustainability-report .report-wrap .cover_flex > .cover_flex_img:first-of-type {
        margin-right: 30px;
    }

    #sustainability-report .contents_wrap .contents_wrap_text {
        font-size: 16px;
        margin-top: 29px;
    }

    #sustainability-report .report-wrap .title_flex {
        margin-top: 80px;
        flex-direction: row;
        align-items: center;
    }

    #sustainability-report .report-wrap .title_flex .title_flex_inner {
        margin-right: calc(100% * (45 / 1176));
    }

    #sustainability-report .question_text {
        line-height: 1.2;
    }

    #sustainability-report .question_text.multiple-lines {
        line-height: 1.5;
    }

    #sustainability-report .report-wrap .details-lead {
        margin-top: 80px;
        width: 561px;
    }

    #sustainability-report .report-wrap .subheading {
        font-size: 20px;
        margin-top: 41px;
    }
}

@media (max-width: 812px) {
    #sustainability-report .report-wrap section .cover_img img {
        width: 100%;
    }

    #sustainability-report .report-wrap section::before {
        height: 2px;
        width: 91%;
    }

    #sustainability-report .report-wrap .img_wrap {
        margin-top: 24px;
    }

    #sustainability-report .contents_wrap .h3 {
        margin-top: 25px;
    }

    #sustainability-report .contents_wrap .h3.name {
        font-size: 16px;
    }

    #sustainability-report .contents_wrap.contents_bottom .h3 {
        margin-top: 40px;
    }

    #sustainability-report .contents_wrap .img_wrap {
        margin-top: 40px;
    }

    #sustainability-report .contents_wrap .return, #sustainability-report .contents_wrap .next{
        margin-top: 41px;
        font-size: 14px;
    }

    #sustainability-report .contents_wrap .nav{
        font-size: 16px;
    }

    #sustainability-report .contents_wrap .return a::before{
        width: 10px;
        height: 13px;
        top: 10%;
        left: -80%;
    }
    #sustainability-report .contents_wrap .next a::after{
        width: 10px;
        height: 13px;
        top: 1%;
        left: 108%;
    }

    #sustainability-report .contents_wrap .contents_wrap_text.cover_text {
        margin-top: 11px;
    }

    #sustainability-report .report-wrap .title_flex .img_wrap {
        margin-top: 11px;
    }

    #sustainability-report .report-wrap .title_flex .img_wrap img {
        width: 50%;
        max-width: 300px;
    }

    #sustainability-report .contents_wrap .col_wrap {
        flex-direction: column;
    }

    #sustainability-report .contents_question-number {
        font-size: 36px;
        line-height: 1.5;
        padding-right: 0;
        border-right: none;
        border-bottom: 1px solid #379e49;;
    }

    #sustainability-report .contents_question-session {
        margin-left: 0;
        margin-top: 18px;
    }

    #sustainability-report .question_text {
        font-size: 14px;
        line-height: 1.5;
    }

    #sustainability-report .answer_text {
        font-size: 11px;
        margin-top: 11px;
    }
}

/*20220303 추가 css*/
.u-only-sp {display:block;}
@media (min-width:813px) {
    .u-only-sp {display: none;}
}
/*20220303 추가 css end*/
