@charset "utf-8";
.breads ul .item a.color_blue{
  color: #0076c0;
}

#wrapper {
	display: block !important;
	background-color: #f2f2f4;
}
#mainCont {
	width: 100%;
}

fieldset, img {
	width: 70%;
	height: 70%;
}

#recyclePR #mainCont .inner {
	max-width: 100%;
}
#recyclePR #mainCont .h .txt {
	width: 100%;
}

#mainCont .section {
	margin: 12px 14px 0 14px;
}
#mainCont .section p {
	width: 100%;
	margin: 0 auto;
	max-width: 712px;
}
#mainCont h1 {
	font-size: 22px;
}

#photoReport #contTitle {
	border-bottom: 1px solid #DCDCDC;
	display: block;
	height: 70px;
	line-height: 1.5;
	margin: 0;
	padding: 0 19px;
	width: 691px;
}

#photoReport #contTitle h1 {
	border: medium none;
	display: table-cell;
	height: 70px;
	letter-spacing: -1px;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	width: 235px;
}

#photoReport #contTitle p {
	border: medium none;
	color: #333333;
	display: table-cell;
	font-size: 92%;
	font-weight: normal;
	height: 70px;
	margin: 0;
	padding: 0;
	text-align: left;
	vertical-align: middle;
	width: 456px;
}

* html #photoReport #contTitle h1 {
	display: inline;
	font-size: 14px;
	line-height: 70px;
	overflow: hidden;
	white-space: nowrap;
}

* html #photoReport #contTitle p {
	display: inline;
	font-size: 11px;
	height: 3em;
	margin: auto 0;
	overflow: hidden;
}

:first-child + html #photoReport #contTitle h1 {
	display: inline;
	font-size: 14px;
	line-height: 70px;
	overflow: hidden;
	white-space: nowrap;
}

:first-child + html #photoReport #contTitle p {
	display: inline;
	font-size: 11px;
	height: 3em;
	margin: auto 0;
	overflow: hidden;
}

div .bannerTit {
	margin-top: 15px;
	width: 729px;
	border-bottom: 1px solid #DCDCDC;
	padding-bottom: 15px;
}

div .bannerTit p {
	margin-top: 15px;
	width: 699px;
	padding: 0 15px;
	color: green;
}

div .imagesArea{
	width: 712px;
	padding-bottom: 15px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

div .photoArea{
	width: calc((1/4)*(98% - 50px));
	float: left;
	margin-right: 15px;
}

div .photoArea img{
	border: 2px #DCDCDC solid;
	width: 100%;
}

div .photoArea:last-child{
	margin-right:0px;
	}

div .photoArea .textArea{
	margin: 0;
	padding-top: 5px;
	line-height: 1.5em;
}

div .movieArea{
	text-align: center;
	margin-bottom:15px;
	width:99.5%;
}

a:hover img {
	opacity: 0.5;
	filter: alpha(opacity=50) !important;/*IE*/
}

.indent_1em{
	padding-left: 1em;
}
.otherNavigation_logo {
	text-align: center;
}
.otherNavigation_listItem .otherNavigation_link {
	color: #1b1b1b;
}

@media screen and (min-width: 813px){
  .section_m {
	max-width: 712px;
	margin-right: auto!important;
	margin-left: auto!important;
	}
	#recyclePR #mainCont .inner {
		max-width: 100%;
	}
	#mainCont {
		width: 100%;
	}
	.breadcrumbs {
		width: 94vw;
	}
	#recyclePR #mainCont .vr .img {
		float: right;
	}
	.otherNavigation_logo {
		text-align: initial;
	}
	#mainCont h1 {
		font-size: 32px;
	}
}
