.basicButton {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 auto;
	max-width: 580px;
	height: 60px;
	margin: 50px auto 0;
	line-height: 1;
	font-weight: 700;
	cursor: pointer;
  }

  .basicButton:after {
	content: '';
	display: block;
	background: #fe0000;
	width: 40px;
	height: 2px;
	margin: 12px auto 0
  }