@charset "utf-8";
@use "sass:math";

.lazy-up {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10vh);
    transition: all 0.6s ease-out;
}

.lazy-up.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}