@charset "utf-8";
@use "sass:math";


/* Helvetica Neue */

@font-face {
    font-family: 'HelveticaNeueThin';
    src: url('../font/HelveticaNeueThin.eot');
    src: url('../font/HelveticaNeueThin.eot?#iefix') format('embedded-opentype'),
        url('../font/HelveticaNeueThin.woff2') format('woff2'),
        url('../font/HelveticaNeueThin.woff') format('woff'),
        url('../font/HelveticaNeueThin.ttf') format('truetype'),
}

@font-face {
    font-family: 'HelveticaNeueBlack';
    src: url('../font/HelveticaNeueBlack.eot');
    src: url('../font/HelveticaNeueBlack.eot?#iefix') format('embedded-opentype'),
        url('../font/HelveticaNeueBlack.woff2') format('woff2'),
        url('../font/HelveticaNeueBlack.woff') format('woff'),
        url('../font/HelveticaNeueBlack.ttf') format('truetype'),
}

.font-hn-th {
    font-family: 'HelveticaNeueThin' !important;
    * { font-family: 'HelveticaNeueThin' !important; }
}

.font-hn-bk {
    font-family: 'HelveticaNeueBlack' !important;
    * { font-family: 'HelveticaNeueBlack' !important; }
}



/* Montserrat */

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../font/Montserrat-Regular.eot');
    src: url('../font/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Montserrat-Regular.woff2') format('woff2'),
        url('../font/Montserrat-Regular.woff') format('woff'),
        url('../font/Montserrat-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../font/Montserrat-Medium.eot');
    src: url('../font/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Montserrat-Medium.woff2') format('woff2'),
        url('../font/Montserrat-Medium.woff') format('woff'),
        url('../font/Montserrat-Medium.ttf') format('truetype'),
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../font/Montserrat-SemiBold.eot');
    src: url('../font/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Montserrat-SemiBold.woff2') format('woff2'),
        url('../font/Montserrat-SemiBold.woff') format('woff'),
        url('../font/Montserrat-SemiBold.ttf') format('truetype'),
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url('../font/Montserrat-Black.eot');
    src: url('../font/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/Montserrat-Black.woff2') format('woff2'),
        url('../font/Montserrat-Black.woff') format('woff'),
        url('../font/Montserrat-Black.ttf') format('truetype'),
}

.font-ms {
    font-family: 'Montserrat-Medium' !important;
    * { font-family: 'Montserrat-Medium' !important; }
}

.font-ms-bd {
    font-family: 'Montserrat-SemiBold' !important;
    * { font-family: 'Montserrat-SemiBold' !important; }
}

.font-ms-bd {
    font-family: 'Montserrat-SemiBold' !important;
    * { font-family: 'Montserrat-SemiBold' !important; }
}

.font-ms-blk {
    font-family: 'Montserrat-Black' !important;
    * { font-family: 'Montserrat-Black' !important; }
}



/* NanumSquareRound */

@font-face {
    font-family: 'NanumSquareRoundL';
    src: url('../font/NanumSquareRoundL.eot');
    src: url('../font/NanumSquareRoundL.eot?#iefix') format('embedded-opentype'),
        url('../font/NanumSquareRoundL.woff2') format('woff2'),
        url('../font/NanumSquareRoundL.woff') format('woff'),
        url('../font/NanumSquareRoundL.ttf') format('truetype'),
}

@font-face {
    font-family: 'NanumSquareRoundR';
    src: url('../font/NanumSquareRoundR.eot');
    src: url('../font/NanumSquareRoundR.eot?#iefix') format('embedded-opentype'),
        url('../font/NanumSquareRoundR.woff2') format('woff2'),
        url('../font/NanumSquareRoundR.woff') format('woff'),
        url('../font/NanumSquareRoundR.ttf') format('truetype'),
}

@font-face {
    font-family: 'NanumSquareRoundB';
    src: url('../font/NanumSquareRoundB.eot');
    src: url('../font/NanumSquareRoundB.eot?#iefix') format('embedded-opentype'),
        url('../font/NanumSquareRoundB.woff2') format('woff2'),
        url('../font/NanumSquareRoundB.woff') format('woff'),
        url('../font/NanumSquareRoundB.ttf') format('truetype'),
}

@font-face {
    font-family: 'NanumSquareRoundEB';
    src: url('../font/NanumSquareRoundEB.eot');
    src: url('../font/NanumSquareRoundEB.eot?#iefix') format('embedded-opentype'),
        url('../font/NanumSquareRoundEB.woff2') format('woff2'),
        url('../font/NanumSquareRoundEB.woff') format('woff'),
        url('../font/NanumSquareRoundEB.ttf') format('truetype'),
}

.font-ns-lt {
    font-family: 'NanumSquareRoundL' !important;
    * { font-family: 'NanumSquareRoundL' !important; }
}

.font-ns {
    font-family: ' NanumSquareRoundR' !important;
    * { font-family: ' NanumSquareRoundR' !important; }
}

.font-ns-bd {
    font-family: 'NanumSquareRoundB' !important;
    * { font-family: 'NanumSquareRoundB' !important; }
}

.font-ns-eb {
    font-family: 'NanumSquareRoundEB' !important;
    * { font-family: 'NanumSquareRoundEB' !important; }
}



/* NeueMontreal */

@font-face {
    font-family: 'NeueMontreal-Light';
    src: url('../font/NeueMontreal-Light.eot');
    src: url('../font/NeueMontreal-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/NeueMontreal-Light.woff2') format('woff2'),
        url('../font/NeueMontreal-Light.woff') format('woff'),
        url('../font/NeueMontreal-Light.ttf') format('truetype'),
}

@font-face {
    font-family: 'NeueMontreal-Regular';
    src: url('../font/NeueMontreal-Regular.eot');
    src: url('../font/NeueMontreal-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/NeueMontreal-Regular.woff2') format('woff2'),
        url('../font/NeueMontreal-Regular.woff') format('woff'),
        url('../font/NeueMontreal-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'NeueMontreal-Medium';
    src: url('../font/NeueMontreal-Medium.eot');
    src: url('../font/NeueMontreal-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/NeueMontreal-Medium.woff2') format('woff2'),
        url('../font/NeueMontreal-Medium.woff') format('woff'),
        url('../font/NeueMontreal-Medium.ttf') format('truetype'),
}

@font-face {
    font-family: 'NeueMontreal-Bold';
    src: url('../font/NeueMontreal-Bold.eot');
    src: url('../font/NeueMontreal-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/NeueMontreal-Bold.woff2') format('woff2'),
        url('../font/NeueMontreal-Bold.woff') format('woff'),
        url('../font/NeueMontreal-Bold.ttf') format('truetype'),
}


.font-nm-lt {
    font-family: 'NeueMontreal-Light' !important;
    vertical-align: top;
    * { font-family: 'NeueMontreal-Light' !important; }
}

.font-nm {
    font-family: 'NeueMontreal-Regular' !important;
    vertical-align: top;
    * { font-family: 'NeueMontreal-Regular' !important; }
}

.font-nm-md {
    font-family: 'NeueMontreal-Medium' !important;
    vertical-align: top;
    * { font-family: 'NeueMontreal-Medium' !important; }
}

.font-nm-bd {
    font-family: 'NeueMontreal-Bold' !important;
    vertical-align: top;
    * { font-family: 'NeueMontreal-Bold' !important; }
}



/* Poppins */

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../font/Poppins-Regular.eot');
    src: url('../font/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Poppins-Regular.woff2') format('woff2'),
        url('../font/Poppins-Regular.woff') format('woff'),
        url('../font/Poppins-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../font/Poppins-Medium.eot');
    src: url('../font/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Poppins-Medium.woff2') format('woff2'),
        url('../font/Poppins-Medium.woff') format('woff'),
        url('../font/Poppins-Medium.ttf') format('truetype'),
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../font/Poppins-SemiBold.eot');
    src: url('../font/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Poppins-SemiBold.woff2') format('woff2'),
        url('../font/Poppins-SemiBold.woff') format('woff'),
        url('../font/Poppins-SemiBold.ttf') format('truetype'),
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../font/Poppins-Bold.eot');
    src: url('../font/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Poppins-Bold.woff2') format('woff2'),
        url('../font/Poppins-Bold.woff') format('woff'),
        url('../font/Poppins-Bold.ttf') format('truetype'),
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('../font/Poppins-ExtraBold.eot');
    src: url('../font/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Poppins-ExtraBold.woff2') format('woff2'),
        url('../font/Poppins-ExtraBold.woff') format('woff'),
        url('../font/Poppins-ExtraBold.ttf') format('truetype'),
}

.font-pp {
    font-family: 'Poppins-Regular' !important;
    * { font-family: 'Poppins-Regular' !important; }
}

.font-pp-md {
    font-family: 'Poppins-Medium' !important;
    * { font-family: 'Poppins-Medium' !important; }
}

.font-pp-sb {
    font-family: 'Poppins-SemiBold' !important;
    * { font-family: 'Poppins-SemiBold' !important; }
}

.font-pp-bd {
    font-family: 'Poppins-Bold' !important;
    * { font-family: 'Poppins-Bold' !important; }
}

.font-pp-eb {
    font-family: 'Poppins-ExtraBold' !important;
    * { font-family: 'Poppins-ExtraBold' !important; }
}



/* Pretendard */

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('../font/Pretendard-Regular.eot');
    src: url('../font/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard-Regular.woff2') format('woff2'),
        url('../font/Pretendard-Regular.woff') format('woff'),
        url('../font/Pretendard-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('../font/Pretendard-ExtraBold.eot');
    src: url('../font/Pretendard-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard-ExtraBold.woff2') format('woff2'),
        url('../font/Pretendard-ExtraBold.woff') format('woff'),
        url('../font/Pretendard-ExtraBold.ttf') format('truetype'),
}

.font-pt {
    font-family: 'Pretendard-Regular' !important;
    vertical-align: top;
    * { font-family: 'Pretendard-Regular' !important; }
}

.font-pt-eb {
    font-family: 'Pretendard-ExtraBold' !important;
    vertical-align: top;
    * { font-family: 'Pretendard-ExtraBoldrablod' !important; }
}



/* SilkaMono */

@font-face {
    font-family: 'SilkaMono-Light';
    src: url('../font/SilkaMono-Light.eot');
    src: url('../font/SilkaMono-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/SilkaMono-Light.woff2') format('woff2'),
        url('../font/SilkaMono-Light.woff') format('woff'),
        url('../font/SilkaMono-Light.ttf') format('truetype'),
}

@font-face {
    font-family: 'SilkaMono-Regular';
    src: url('../font/SilkaMono-Regular.eot');
    src: url('../font/SilkaMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/SilkaMono-Regular.woff2') format('woff2'),
        url('../font/SilkaMono-Regular.woff') format('woff'),
        url('../font/SilkaMono-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'SilkaMono-Medium';
    src: url('../font/SilkaMono-Medium.eot');
    src: url('../font/SilkaMono-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/SilkaMono-Medium.woff2') format('woff2'),
        url('../font/SilkaMono-Medium.woff') format('woff'),
        url('../font/SilkaMono-Medium.ttf') format('truetype'),
}

@font-face {
    font-family: 'SilkaMono-Bold';
    src: url('../font/SilkaMono-Bold.eot');
    src: url('../font/SilkaMono-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/SilkaMono-Bold.woff2') format('woff2'),
        url('../font/SilkaMono-Bold.woff') format('woff'),
        url('../font/SilkaMono-Bold.ttf') format('truetype'),
}

.font-sk-lt {
    font-family: 'SilkaMono-Light' !important;
    vertical-align: top;
    * { font-family: 'SilkaMono-Light' !important; }
}

.font-sk {
    font-family: 'SilkaMono-Regular' !important;
    vertical-align: top;
    * { font-family: 'SilkaMono-Regular' !important; }
}

.font-sk-md {
    font-family: 'SilkaMono-Medium' !important;
    vertical-align: top;
    * { font-family: 'SilkaMono-Medium' !important; }
}

.font-sk-bd {
    font-family: 'SilkaMono-Bold' !important;
    vertical-align: top;
    * { font-family: 'SilkaMono-Bold' !important; }
}



/* SUIT */

@font-face {
    font-family: 'SUIT-Regular';
    src: url('../font/SUIT-Regular.eot');
    src: url('../font/SUIT-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/SUIT-Regular.woff2') format('woff2'),
        url('../font/SUIT-Regular.woff') format('woff'),
        url('../font/SUIT-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'SUIT-ExtraBold';
    src: url('../font/SUIT-ExtraBold.eot');
    src: url('../font/SUIT-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../font/SUIT-ExtraBold.woff2') format('woff2'),
        url('../font/SUIT-ExtraBold.woff') format('woff'),
        url('../font/SUIT-ExtraBold.ttf') format('truetype'),
}

.font-st {
    font-family: 'SUIT-Regular' !important;
    * { font-family: 'SUIT-Regular' !important; }
}

.font-st-eb {
    font-family: 'SUIT-ExtraBold' !important;
    * { font-family: 'SUIT-ExtraBold' !important; }
}



/* SUIT */

@font-face {
    font-family: 'UniqloProRegular';
    src: url('../font/UniqloProRegular.eot');
    src: url('../font/UniqloProRegular.eot?#iefix') format('embedded-opentype'),
        url('../font/UniqloProRegular.woff2') format('woff2'),
        url('../font/UniqloProRegular.woff') format('woff'),
        url('../font/UniqloProRegular.ttf') format('truetype'),
}

@font-face {
    font-family: 'UniqloProBold';
    src: url('../font/UniqloProBold.eot');
    src: url('../font/UniqloProBold.eot?#iefix') format('embedded-opentype'),
        url('../font/UniqloProBold.woff2') format('woff2'),
        url('../font/UniqloProBold.woff') format('woff'),
        url('../font/UniqloProBold.ttf') format('truetype'),
}

.font-uq {
    font-family: 'UniqloProRegular' !important;
    * { font-family: 'UniqloProRegular' !important; }
}

.font-uq-bd {
    font-family: 'UniqloProBold' !important;
    * { font-family: 'UniqloProBold' !important; }
}

