@charset "utf-8";

/*-----------------------------------------------------------------

  Entry

------------------------------------------------------------------*/

/* reset
--------------------------------------*/
* { margin: 0; padding: 0; }
*,
:after, :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
img {
	width: 100%;
	height: auto;
	vertical-align: top;
}



/* common
--------------------------------------*/
#wrapper section {
	padding-top: 10vw;
}
#wrapper section .section_title {
	width: 80%;
	margin: 0 auto;
	border-bottom: 1.8vw solid #8DA48B;
	text-align: center;
	padding-bottom: 1vw;
	font-size: 4.2vw;
	margin-bottom: 5vw;
}
#wrapper section .normal_font {
	font-family: 'ヒラギノ角ゴPro W3', 'Hiragino Kaku Gothic Pro', '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', メイリオ, Meiryo, sans-serif;
}


/* main_visual
--------------------------------------*/
#main_visual {
	width: 86.66667vw;
}
#main_visual .entry_data {
	background-color: #F1F3EE;
	padding: 4vw 5%;
	font-size: 3.8vw;
	position: relative;
	z-index: 0;
}
#main_visual .entry_data p {
	letter-spacing: -0.5px;
}
#main_visual .entry_data p > span {
	display: inline-block;
	font-size: 3.4vw;
	font-weight: normal;
	margin: 0 2px;
	font-family: 'ヒラギノ角ゴPro W3', 'Hiragino Kaku Gothic Pro', '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', メイリオ, Meiryo, sans-serif;
}
#main_visual .entry_data p.entry_day {
	font-size: 3.8vw;
	color: #41673D;
	padding-top: 10px;
	font-weight: bold;
}
#main_visual .entry_data p.entry_day time {
	display: inline-block;
	font-size: 4.1vw;
	font-weight: normal;
	margin: 0 3px;
}
#main_visual .entry_data p.entry_day span {
	font-size: 3.6vw;
	display: inline-block;
	font-weight: bold;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}
#main_visual .entry_data .entry_btn {
	width: 80%;
	margin: 4vw auto 0 auto;
	position: relative;
	bottom: 0;
	right: 0;
}
#main_visual .entry_data .entry_btn p {
	font-size: 3.4vw;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	padding-bottom: 4vw;
	text-align: center;
}


/* olive_program
--------------------------------------*/
#olive_program .program_movie {
	display: block;
	width: 100%;
	margin-bottom: 10vw;
}
#olive_program .program_movie p,
#olive_program .program_movie > div {
	display: block;
}
#olive_program .program_movie p {
	width: 100%;
	padding-right: 0;
	letter-spacing: -0.5px;
	font-size: 3.4vw;
	text-align: justify;
	text-justify: inter-ideograph;
	margin-bottom: 5vw;
}
#olive_program .program_movie > div {
	vertical-align: top;
}
#olive_program .program_movie iframe {
	width: 100%;
	height: 44vw;
}
#olive_program .program_schedule {
	margin-bottom: 5vw;
}
#olive_program .program_schedule h3 {
	background-color: #DFE5DC;
	text-align: left;
	font-size: 3.8vw;
	font-weight: bold;
	color: #375F33;
	padding: 3vw 10%;
}
#olive_program .program_schedule .inner {
	background-color: #F1F3EE;
	overflow: hidden;
	padding: 5vw 10%;
}
#olive_program .program_schedule .inner dl {
	width: 100%;
	float: none;
	padding-left: 0;
}
#olive_program .program_schedule .inner dl:first-child {
	border-bottom: 2px dashed #375F33;
	border-right: none;
	padding-bottom: 5vw;
	margin-bottom: 5vw;
}
#olive_program .program_schedule .inner dl dt {
	color: #375F33;
	font-size: 3.4vw;
	font-weight: bold;
	margin-bottom: 2vw;
}
#olive_program .program_schedule .inner dl dd {
	padding-left: 10vw;
	position: relative;
	z-index: 0;
	font-size: 3vw;
	line-height: 1.2;
	margin-bottom: 5px;
}
#olive_program .program_schedule .inner dl dd time {
	position: absolute;
	top: 0;
	left: 0;
}
#olive_program .program_schedule .inner .information {
	width: 100%;
	clear: both;
	padding: 5vw 0 0 0;
	font-size: 3vw;
}
#olive_program .program_images {
	display: table;
	width: 100%;
}
#olive_program .program_images li {
	display: table-cell;
	width: 33.33%;
}
#olive_program .program_images li:first-child {
	padding-right: 2%;
}
#olive_program .program_images li:nth-child(2n) {
	padding-left: 1%;
	padding-right: 1%;
}
#olive_program .program_images li:last-child {
	padding-left: 2%;
}
#olive_faq dl {
	padding: 5vw 0 0 0;
}
#olive_faq dl dt {
	font-size: 3.4vw;
	font-weight: bold;
	position: relative;
	z-index: 0;
	margin-bottom: 1vw;
	padding-left: 6%;
}
#olive_faq dl dt:before {
	content: "Q.";
	display: block;
	font-weight: normal;
	position: absolute;
	top: -1px;
	left: 0;
	font-size: 3.4vw;
	color: #325B2E;
}
#olive_faq dl dd {
	font-size: 3.4vw;
	position: relative;
	z-index: 0;
	margin-bottom: 5vw;
	padding-left: 6%;
}
#olive_faq dl dd:before {
	content: "A.";
	display: block;
	font-weight: normal;
	position: absolute;
	top: -1px;
	left: 0;
	font-size: 3.4vw;
	color: #325B2E;
}
#olive_entry p {
	padding: 5vw 0 0 0;
	text-align: left;
}
#olive_entry .entry_btn {
	padding-top: 3vw;
	text-align: center;
}
#olive_entry .entry_btn p {
	font-size: 3.4vw;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	padding-bottom: 20px;
	text-align: center;
}
#olive_entry .entry_btn a {
	display: block;
	width: 100%;
	margin: 0 auto;
	background-color: #41673D;
}
#olive_entry .entry_btn a img {
	width: 80%;
	height: auto;
}
#olive_howto p {
	padding: 5vw 0 23vw 0;
	margin-top: 0;
	background-image: url(../img/image_olive_sp.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: auto 20vw;
	text-align: left;
}
#olive_relation {
	padding-top: 14vw;
}
#olive_relation h3 {
	width: 100%;
	margin: 0 auto;
	text-align: left;
	font-size: 4.2vw;
	margin-bottom: 5vw;
}
#olive_relation ul {
	width: 100%;
}
#olive_relation ul li {
	margin-bottom: 10vw;
}
#olive_relation ul li a {
	display: block;
	border: 1px solid #BEBEBE;
	text-align: center;
	padding: 3vw 0;
	font-size: 3.4vw;
}
#olive_relation ul li a:after {
	content: "";
	display: inline-block;
	width: 8px;
	height: 14px;
	background-image: url(../img/icon_arrow_r.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	vertical-align: middle;
	margin: -2px 0 0 10px;
}




@media (min-width:768px) { /* PC VIEW */
	/* common
	--------------------------------------*/
	#wrapper section {
		padding-top: 60px;
	}
	#wrapper section .section_title {
		width: 450px;
		margin: 0 auto;
		border-bottom: 8px solid #8DA48B;
		text-align: center;
		padding-bottom: 10px;
		font-size: 24px;
		margin-bottom: 33px;
	}
	
	
	/* main_visual
	--------------------------------------*/
	#main_visual {
		width: 960px;
	}
	#main_visual .entry_data {
		background-color: #F1F3EE;
		padding: 20px 370px 20px 50px;
		font-size: 18px;
		position: relative;
		z-index: 0;
	}
	#main_visual .entry_data p {
		letter-spacing: -0.5px;
	}
	#main_visual .entry_data p > span {
		display: inline-block;
		font-size: 18px;
		font-weight: normal;
		margin: 0 2px;
	}
	#main_visual .entry_data p.entry_day {
		font-size: 22px;
		color: #41673D;
		padding-top: 10px;
		letter-spacing: 0.5px;
		font-weight: bold;
	}
	#main_visual .entry_data p.entry_day time {
		display: inline-block;
		font-size: 25px;
		font-weight: normal;
		margin: 0 3px;
	}
	#main_visual .entry_data p.entry_day span {
		font-size: 19px;
		display: inline-block;
		font-weight: bold;
		font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	}
	#main_visual .entry_data .entry_btn {
		width: inherit;
		margin: 0 auto;
		position: absolute;
		bottom: 23px;
		right: 50px;
	}
	#main_visual .entry_data .entry_btn p {
		font-size: 1.2vw;
		font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
		padding-bottom: 5px;
		text-align: center;
	}
	
	
	/* olive_program
	--------------------------------------*/
	#olive_program .program_movie {
		display: table;
		width: 100%;
		margin-bottom: 60px;
	}
	#olive_program .program_movie p,
	#olive_program .program_movie > div {
		display: table-cell;
	}
	#olive_program .program_movie p {
		width: 55%;
		padding-right: 50px;
		letter-spacing: -0.5px;
		font-size: 16px;
		text-align: justify;
		text-justify: inter-ideograph;
		margin-bottom: 0;
	}
	#olive_program .program_movie > div {
		vertical-align: top;
	}
	#olive_program .program_movie iframe {
		width: 432px;
		height: 243px;
	}
	#olive_program .program_schedule {
		margin-bottom: 30px;
	}
	#olive_program .program_schedule h3 {
		background-color: #DFE5DC;
		text-align: center;
		font-size: 24px;
		font-weight: bold;
		color: #375F33;
		padding: 20px 0;
	}
	#olive_program .program_schedule .inner {
		background-color: #F1F3EE;
		overflow: hidden;
		padding: 30px 80px;
	}
	#olive_program .program_schedule .inner dl {
		width: 50%;
		float: left;
		padding-left: 50px;
	}
	#olive_program .program_schedule .inner dl:first-child {
		border-right: 2px dashed #375F33;
		border-bottom: none;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	#olive_program .program_schedule .inner dl dt {
		color: #375F33;
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 8px;
	}
	#olive_program .program_schedule .inner dl dd {
		padding-left: 55px;
		position: relative;
		z-index: 0;
		font-size: 16px;
		line-height: 1.2;
		margin-bottom: 5px;
	}
	#olive_program .program_schedule .inner dl dd time {
		position: absolute;
		top: 0;
		left: 0;
	}
	#olive_program .program_schedule .inner .information {
		width: 100%;
		clear: both;
		padding: 20px 55px 0 55px;
		font-size: 14px;
	}
	#olive_program .program_images {
		display: table;
		width: 100%;
	}
	#olive_program .program_images li {
		display: table-cell;
		width: 33.33%;
	}
	#olive_program .program_images li:first-child {
		padding-right: 15px;
	}
	#olive_program .program_images li:nth-child(2n) {
		padding-left: 7.5px;
		padding-right: 7.5px;
	}
	#olive_program .program_images li:last-child {
		padding-left: 15px;
	}
	#olive_faq dl {
		padding: 30px 50px 0 50px;
	}
	#olive_faq dl dt {
		font-size: 16px;
		font-weight: bold;
		position: relative;
		z-index: 0;
		margin-bottom: 3px;
		padding-left: 24px;
	}
	#olive_faq dl dt:before {
		content: "Q.";
		display: block;
		font-weight: normal;
		position: absolute;
		top: -1px;
		left: 0;
		font-size: 16px;
		color: #325B2E;
	}
	#olive_faq dl dd {
		font-size: 16px;
		position: relative;
		z-index: 0;
		margin-bottom: 20px;
		padding-left: 24px;
	}
	#olive_faq dl dd:before {
		content: "A.";
		display: block;
		font-weight: normal;
		position: absolute;
		top: -1px;
		left: 0;
		font-size: 16px;
		color: #325B2E;
	}
	#olive_entry p {
		padding: 30px 0 0 0;
		text-align: center;
	}
	#olive_entry .entry_btn {
		padding-top: 20px;
		text-align: center;
	}
	#olive_entry .entry_btn p {
		font-size: 1.2vw;
		font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
		padding-bottom: 20px;
		text-align: center;
	}
	#olive_entry .entry_btn a {
		display: inline-block;
		width: 273px;
		margin: 0 auto;
	}
	#olive_entry .entry_btn a img {
		width: 100%;
		height: auto;
	}
	#olive_howto p {
		padding: 33px 180px 33px 50px;
		margin-top: -33px;
		background-image: url(../img/image_olive_pc.png);
		background-repeat: no-repeat;
		background-position: top right;
		background-size: 160px auto;
		text-align: left;
	}
	#olive_relation {
		padding-top: 60px;
	}
	#olive_relation h3 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		font-size: 24px;
		margin-bottom: 33px;
	}
	#olive_relation ul {
		width: 100%;
	}
	#olive_relation ul li {
		margin-bottom: 60px;
	}
	#olive_relation ul li a {
		display: block;
		border: 1px solid #BEBEBE;
		text-align: center;
		padding: 14px 0;
		font-size: 16px;
	}
	#olive_relation ul li a:after {
		content: "";
		display: inline-block;
		width: 8px;
		height: 14px;
		background-image: url(../img/icon_arrow_r.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		vertical-align: middle;
		margin: -2px 0 0 10px;
	}
}
