@use "sass:math";

$grid-breakpoints: ( 
    "xsm": 375px,
    "sm": 576px,
    "md": 768px,
    "lg": 956px,
    "xl": 1200px,
    "xxl": 1424px,
);

$mobilevh : calc((var(-vh, 1vh) * 100));

$color-primary: rgba(23, 25, 27, 1);
$color-primary-60: rgba(23, 25, 27, .6);
$color-primary-40: rgba(23, 25, 27, .4);
$color-white: rgba(255, 255, 255, 0.9);
$color-white-60: rgba(255, 255, 255, .6);
$color-white-40: rgba(255, 255, 255, .4);

$base-rem: 18px;
$base-rem-mobile: 16px;

$line-height-base: 1.5;