@charset "UTF-8";
@media screen and (max-width: 812px){
}
.local_container {
  margin-top: calc((50/750)*100vw);
}
.leadWrapper {
  margin-top: calc((50/750)*100vw);
}
.L4_cover .cover_mainTtl {
  font-size: calc((36/750)*100vw);
}
/* message */
.messageInner {
  margin-top: calc((34/750)*100vw);
}
.messageInner:first-of-type {
  margin-top: 0;
}
.messageTxt {
  font-size: calc((22/750)*100vw);
  line-height: calc((36/750)*100vw);
  letter-spacing: 1px;
}
.person {
  font-size: calc((22/750)*100vw);
  line-height: calc((36/750)*100vw);
  font-weight: bold;
  margin-top: calc((15/750)*100vw);
}
.person_name {
  font-size: calc((22/750)*100vw);
  font-weight: bold;
}
/* mainImg_container */
.mainImg_container {
  margin-top: calc((80/750)*100vw);
}
.section {
  margin-top: calc((80/750)*100vw);
}
/* pointList */
.pointList_item {
  margin-top: calc((50/750)*100vw);
}
.pointList_item:first-of-type {
  margin-top: 0
}
.pointList_itemImg {
  display: block;
  width: calc((280/750)*100vw);
  margin: 0 auto;
}
.pointList_itemDesc {
  margin-top: calc((34/750)*100vw);
  font-size: calc((22/750)*100vw);
  line-height: calc((36/750)*100vw);
  letter-spacing: .096em;
}
/* note */
.noteTtl {
  font-size: calc((28/750)*100vw);
  line-height: calc((44/750)*100vw);
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: .118em;
}
.noteDesc {
  font-size: calc((22/750)*100vw);
  line-height: calc((36/750)*100vw);
  margin-top: calc((34/750)*100vw);
  letter-spacing: 0.06em;
}
/* history_container */
.history_containerTtl {
  font-size: calc((28/750)*100vw);
  line-height: calc((44/750)*100vw);
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: .118em;
}
.history_eventList {
  margin-top: calc((34/750)*100vw);
  letter-spacing: .096em;
}
.history_eventListItem {
  display: flex;
  justify-content: space-between;
  margin-top: calc((22/750)*100vw);
}
.history_eventListItem:first-of-type {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}
.history_eventListItem_yearTxt {
  font-size: calc((22/750)*100vw);
  line-height: calc((36/750)*100vw);
  width: calc((96/750)*100vw);
}
.history_eventListItem_desc {
  width: calc((406/750)*100vw);
}
.history_eventListItem_descTxt {
  position: relative;
  font-size: calc((22/750)*100vw);
  line-height: calc((36/750)*100vw);
  margin-top: calc((22/750)*100vw);
  letter-spacing: 0.06em;
}
.history_eventListItem_descTxt:first-of-type {
  margin-top: 0;
}
.flag-fr::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc((-76/750)*100vw);
  width: calc((56/750)*100vw);
  height: calc((33/750)*100vw);
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/210714_icon_fr.png);
}
.flag-uq::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc((-76/750)*100vw);
  width: calc((56/750)*100vw);
  height: calc((33/750)*100vw);
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/210714_icon_uq.png);
}
.flag-sewing::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc((-136/750)*100vw);
  width: calc((40/750)*100vw);
  height: calc((34/750)*100vw);
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/210714_icon_sewing.png);
}
.iconMeaning_container {
  margin-top: calc((34/750)*100vw);
}
.iconMeaning_listItem {
  position: relative;
  padding-left: calc((70/750)*100vw);
  margin-top: calc((29/750)*100vw);
  font-size: calc((20/750)*100vw);
  line-height: calc((34/750)*100vw);
  letter-spacing: 0.098em;
}
.iconMeaning_listItem:first-of-type {
  margin-top: 0;
}
.iconMeaning_listItem.flag-fr::before {
  left: 0;
}
.iconMeaning_listItem.flag-uq::before {
  left: 0;
}
.iconMeaning_listItem.flag-sewing::after {
  left: calc((8/750)*100vw);
}
/* comment_container */
.comment_containerTtl {
  font-size: calc((28/750)*100vw);
  line-height: calc((44/750)*100vw);
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: .118em;
}
/* bx-slider */
.bx-wrapper {
  border: none;
  background-color: transparent;
  margin-top: calc((34/750)*100vw);
  margin-bottom: calc((56/750)*100vw);
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  bottom: calc((-54/750)*100vw);
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #9E9E9E;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #F7BA00;
}
.bxslider li {
  border: 1px solid #B2B2B2
}
/* otherNavigation */
/* .otherNavigation {
  margin-top: calc((50/750)*100vw);
}
#pageTop .pageTop_inner {
  bottom: 15px;
}
.color_box {
  padding-bottom: calc((110/750)*100vw);
} */

@media screen and (max-width: 812px){
  .local_container{
    margin-top: calc((34/750)*100vw);
  }
}
@media screen and (min-width: 813px){
  .local_container{
    margin-top: 41px;
  }
  .L4_cover .cover_mainTtl {
    font-size: 52px;
  }
  .messageInner {
    margin-top: 41px;
  }
  .messageTxt {
    font-size: 23px;
    line-height: 45px;
  }
  .person {
    font-size: 23px;
    line-height: 45px;
    display: flex;
    margin-top: 15px;
  }
  .person_organization {
    font-size: 23px;
    line-height: 45px;
    margin-right: 16px;
  }
  .person_name {
    font-size: 23px;
    line-height: 45px;
  }
  .mainImg_container {
    margin-top: 64px;
  }
  .section {
    margin-top: 110px;
  }
  .pointList {
    display: flex;
    justify-content: space-between;
  }
  .pointList_item {
    width: calc((315/1058)*100%);
    margin-top: 0;
  }
  .pointList_itemImg {
    width: 100%;
  }
  .pointList_itemDesc {
    margin-top: 41px;
    font-size: 18px;
    line-height: 30px;
  }
  .noteTtl {
    font-size: 37px;
    line-height: 60px;
  }
  .noteDesc {
    margin-top: 41px;
    font-size: 23px;
    line-height: 45px;
    letter-spacing: .152em;
  }
  .history_eventList,
  .history_eventListItem {
    margin-top: 41px;
  }
  .history_containerTtl {
    font-size: 37px;
    line-height: 60px;
  }
  .history_eventListItem_yearTxt {
    font-size: 23px;
    line-height: 45px;
    width: calc((90/1058)*100%);
  }
  .history_eventListItem_descTxt {
    font-size: 23px;
    line-height: 45px;
    margin-top: 41px;
    letter-spacing: .098em;
  }
  .history_eventListItem_desc {
    width: calc((817/1058)*100%);
  }
  .flag-fr::before {
    left: calc((-94/1058)*100%);
    width: calc((52/817)*100%);
    margin-top: calc((6/1058)*100%);
  }
  .flag-uq::before {
    left: calc((-94/1058)*100%);
    width: calc((52/817)*100%);
    margin-top: calc((6/1058)*100%);
  }
  .flag-sewing::after {
    left: calc((-170/1058)*100%);
    width: calc((40/1058)*100%);
    margin-top: calc((6/1058)*100%);
  }
  .iconMeaning_container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 41px;
  }
  .iconMeaning_ilst {
    width: calc((408/1058)*100%);
  }
  .iconMeaning_listItem {
    margin-top: 16px;
    padding-left: 42px;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: .098em;
  }
  .iconMeaning_listItem.flag-fr::before {
    width: 32px;
  }
  .iconMeaning_listItem.flag-uq::before {
    width: 32px;
  }
  .iconMeaning_listItem.flag-sewing::after {
    width: 30px;
    left: 0;
  }
  .comment_containerTtl {
    font-size: 37px;
    line-height: 60px;
  }
  .bx-wrapper {
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    bottom: -50px
  }
  .bxslider_pc{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
  }
  .bxslider_pc li{
    width: calc((236/1056)*100%);
    margin-right: calc((38/1056)*100%);
  }
  .bxslider_pc img{
    width: 100%;
  }

}