@charset "utf-8";

/*
---------------------------------------------------------------------
	aid  kasetsu_tenpo style.css [April.2014] 
---------------------------------------------------------------------
*/

div.shop01{
	margin-top: 20px;
}

div.shop01 div.leftImg{
	width: 460px;
	margin-right: 20px;
	float: left;
}

div.shop01 ul li{
	width: 140px;
	margin: 0 20px 20px 0;
	float: left;
}

div.shop02{
	clear: both;
}

div.shop02 ul li{
	width: 300px;
	margin: 0 20px 20px 0;
	float: left;
}

div.shopSub{
	clear: both;
	margin: 0 0 20px 0;
	border: #DCDCDC solid 5px;
	padding: 20px;
	overflow: hidden;
	width: 570px;
}

div.shopSub ul li{
	display: block;
	width: 98px;
	margin: 0 20px 0px 0;
	float: left;
}

div.shopSub ul li.last{
	display: block;
	width: 98px;
	margin: 0;
	float: left;
}

h3.kesennuma, h3.kamaisi {
	clear: both;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #000;
}

.tenpo {
	width: 620px;
	margin-top: 20px;
	line-height: 160%;
}

.tenpoLink {
	width: 620px;
	height: 15px;
	position: relative;
	clear: both;
}

.tenpoLink .set {
	position: absolute;
	top: 0;
	right: 0;
}

