@charset 'utf-8';
/* CSS Document */
.mainContents .main .shareIcons {
  z-index: 1;
}
*{
  margin: 0px;
  padding: 0px;
}
#down a:hover,#down a:hover img{
    opacity: 0.8;
}
#down .section{
    margin-bottom: 92px;
    margin-top: 64px;
}
#down .title_2{
    font-size: 27px;
    margin-bottom: 64px;
    line-height: 1.8;
    letter-spacing: 6px;
}
#down .center{
    text-align: center;
}
#down .center_img{
    display: block;
    margin: auto;
    max-width: 100%;
}
#down .attention{
    margin-top: 13px;
}
#down .easy .flex{
    margin-top: 56px;
    justify-content: center;
}
#down .easy .flex p{
    margin-top: 30px;
}
#down .sub{
    font-size: 70%;
    letter-spacing: 2px;
}
#down .section p.attention{
    font-size: 11px;
    font-weight: normal;
    color: #666;
    padding: 0;
}
@media (min-width: 768px){

    #down .section p{
        font-weight: bold;
        padding: 0 20px;
    }
    #down .lead{
        margin-bottom: 64px;
        text-align: center;
    }
    #down .flex{
        display: flex;
        justify-content: space-between;
    }
    #down .flex.center{
        align-items: center;
    }
    #down .flex.bottom{
        align-items: flex-end;
    }
    #down .flex .col2_1{
        width: 50%;
    }
    #down .flex .col3_1{
        width: 30%;
    }
    #down .easy .col3_1 img{
        padding: 0 40px;
    }
    #down .easy .recycle_img{
        margin-top: -90px;
    }
    #down .down_recycle .flex p{
        display: block;
        min-height: 140px;
        padding: 13px 20px 48px;
    }
    #down .choice .flex{
        justify-content: center;
    }
    #down .choice .flex .col{
        border-left:dashed 1px #000;
        padding: 0 40px;
        width: 70%;
    }
    #down .choice .flex .col:first-child{
        border-left:#fff;
    }
    #down .choice p.attention{
        width: 60%;
        margin: -50px 0 20px 520px;
    }
    #down .section p.l-text{
        font-size: 14px;
        text-align: center;
    }

    #down p.text_l{
        font-size: 24px;
        letter-spacing: 2px;
        line-height: 1.8;
        padding: 60px 0;
    }

    .section .movie_area{
        position: relative;
        margin: auto;
        width: 700px;
        height: 394px;
        display: block;
        margin-bottom: 60px;
    }
    .section .movie_area .thumb{
        width: 100%;
    }
    .movie{
        position: absolute;
        height: 60px;
        width: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto !important;
    }
}
@media (max-width: 767px){
    #down .section p{
        font-size: 16px;
        line-height: 1.4;
        font-weight: bold;
        letter-spacing: 2px;
    }
    #down .title_2{
        font-size: 24px;
        margin-bottom: 32px;
        line-height: 1.8;
        letter-spacing: 6px;
    }
    #down p.lead{
        margin-bottom: 32px;
        font-weight: normal;
    }
    #down .section{
        margin-bottom: 46px;
        margin-top: 46px;

    }
    #down .story .flex img{
        margin-bottom: 32px;
        padding: 0 20px;
    }
    #down .easy .flex p{
        margin: 16px 32px 32px;
    }
    #down .down_recycle .flex p{
        padding: 8px 0 32px;
    }
    #down .easy .col3_1 img{
        width: 50%;
    }
    #down .choice p.attention{
        text-align: right;
        margin: 30px auto 40px;
    }
    #down .section p.l-text{
        font-size: 14px;
        line-height: 1.8;
        padding-top: 40px;
    }
    #down p.text_l{
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 1.8;
        padding: 60px 0;
    }
    .section .movie_area{
        position: relative;
        margin: auto;
        width: 94vw;
        height: 52.875vw;
        display: block;
        margin-bottom: 60px;
    }
    .section .movie_area .thumb{
        width: 100%;
    }
    .movie{
        position: absolute;
        height: 24px;
        width: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto !important;
    }
}

.shareIcons{
    text-align: right;
}
.shareIcons li{
    display: inline-block;
    padding: 10px 5px !important;
}