@charset "utf-8";

/*
---------------------------------------------------------------------
	olympia.css [Apr.2016] 
---------------------------------------------------------------------
*/

.olympiaTexta{
	width: 460px !important;
}

.olympiaText{
	width: 495px !important;
}

.olympiaImga{

	float: right;
}
.olympiaImg{
	width: 200px;
	float: right;
}
.japan{
	margin-bottom: 0px !important;
}
.store{
	list-style-type:disc;
	padding-left:1em;
	font-size:110%;
}
.olympiaNote{
	padding-left: 1.5em;
	line-height: 150%;
}
.olympiaKome{
	margin-left: -1.5em;
	margin-right: 0.5em;
}