.slideContainer_cover_image{
	width: 100%;
}
.emphasis {
  font-weight: bold;
  text-decoration: underline;
}
.otherNavigation {
	margin-top: 0;
}

#wrapper .container{
	padding-bottom: 25vw;
}

@media screen and (min-width:813px){
	#wrapper .container .mainContents{
		margin-top: 80px;
	}
	.slideContainer_combine{
		display: flex;
	}
	.slideContainer_cover_image{
		width: calc((784/1176)*(100vw - 50px));
		height: calc((784/1176)*(100vw - 50px));
		max-width: 784px;
		max-height: 784px;
	}
	.mainContents.layer3 .main .slideHeader{
		width: calc((392/1176)*(100vw - 50px));
		height: calc((784/1176)*(100vw - 50px));
		max-width: 392px;
		max-height: 784px;
	}
	#wrapper .container{
		padding-bottom: 150px;
	}
}
