@charset "UTF-8";
.text_small {
    font-size: calc((13/750)*100vw);
    line-height: calc((12/750)*100vw);
    letter-spacing: 0.5px;
}
.cover_img {
    width: 100%;
}
.L3_cover .cover_mainTtl{
    width: 105%;
    margin-left: -2.5%;
}
.subttl {
    font-size: calc((28/750)*100vw);
    line-height: calc((40/750)*100vw);
    font-weight: 700;
    margin-top: calc((50/750)*100vw);
}

.subTxt_container_large {
    font-size: calc((28/750)*100vw);
    line-height: calc((40/750)*100vw);
    font-weight: 700;
    margin-top: calc((80/750)*100vw);
}
.L3_cover .cover_subTtl {
    margin-top: calc((80/750)*100vw);
    font-size: calc((60/750)*100vw);
}
.subImg_container_large .txt_mdl {
    font-size: calc((22/750)*100vw);
    margin-top: calc((22/750)*100vw);
}

.subImg_container_large .subImg_ttl {
    font-weight: bold;
}
.subImg_lead{
    text-align: justify;
}
.pc_mt-58_sp-mt-30{
  margin-top: calc((20/750)*100vw);
}


.contentsLink {
    display: inline-block;
}
.contentsLink .ga_act-bluecyclejeans-movie06 .contentsLink_txt {
    letter-spacing: 0.01em;
}
.contentsLink .ga_act-bluecyclejeans-movie06 .contentsLink_txt{
    line-height: calc((25/750)*100vw);
}
.contentsLink .ga_act-bluecyclejeans-movie06 .arrow_right::after {
    top: 36%;
    right: calc((-19/750)*100vw);
}
@media (max-width: 812px) {
    .sp_small {
        font-size: calc((22/750)*100vw);
        line-height: calc((12/750)*100vw);
    }
    .subImg_lead_small{
        font-size: calc((20/750)*100vw);
        margin-top: calc((22/750)*100vw);
    }

    .article_container {
        margin-top: calc((50/750)*100vw);
    }
    .subImg_container_large .subImg_lead {
        margin-top: calc((50/750)*100vw);
    }
    .L3_cover .cover_lead{
        margin-top: calc((80/750)*100vw);
    }
}

@media screen and (min-width: 813px) {
    .text_small {
        font-size: calc((12/1176)*100%);
        line-height: calc((12/1176)*100vw);
    }
    .subImg_lead_small{
        font-size: 12px;
        margin-top: 13px;
    }
    .L3_cover .cover_subTtl {
        margin-top: 64px;
        font-size: 102px;
        line-height: 113px;
        letter-spacing: 0.070em;
    }

    .subImg_container_large .subImg_ttl {
        letter-spacing: .06em;
    }
    .subImg_container_large .subImg_lead {
        margin-top: 64px;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: .078em;
    }
    .subImg_container_large .txt_mdl {
        font-size: 18px;
        margin-top: 41px;
        letter-spacing: 0.078em;
    }

    .subttl {
        margin-top: 64px;
        font-size: 37px;
        line-height: 60px;
        letter-spacing: .113em;
    }

    .subTxt_container_large {
        margin-top: 110px;
        font-size: 37px;
        line-height: 60px;
        letter-spacing: .113em;
    }

    .contentsLink {
        margin-top: 0;
    }
    .contentsLink_area {
        margin-top: 110px;
    }
    .pc_mt-58_sp-mt-30{
      margin-top: 58px;
    }

    .contentsLink .ga_act-bluecyclejeans-movie06 .contentsLink_txt {
        letter-spacing: .068em;
    }
    .contentsLink .ga_act-bluecyclejeans-movie06 .contentsLink_txt {
        line-height: calc((17/1226)*100vw);
    }
    .contentsLink .ga_act-bluecyclejeans-movie06 .arrow_right::after {
        top: 30%;
        right: calc((-15/1226)*100vw);
    }
}