@charset "UTF-8";
@import url("/jp/en/contents/sustainability/cmn/css/header_footer.css");
body {
  font-family: 'UniqloProRegular','ヒラギノ角ゴPro W3', 'Hiragino Kaku Gothic Pro', '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', メイリオ, Meiryo, sans-serif;
  margin: 0;
  background-color: #fff;
  -webkit-font-feature-settings: "palt" 1;
  font-feature-settings: "palt" 1;
  overflow-y: scroll;
  color: #000;
}
@media screen and (max-width:812px){
  body {
    overflow-y: overlay;
  }
}
body.fix{
  position: fixed;
  width: 100%;
}
html {
    /* -webkit-text-size-adjust: 100%; */
    /* 2 */
    /* -ms-text-size-adjust: 100%; */
    /* 2 */
}
a:hover, a:hover img, a:hover p, a[href]:hover, a[href]:hover img, a[data-link]:hover, a[data-link]:hover img {
  cursor: pointer;
  opacity: 0.8;
}
a img {
  border: none;
  outline: none;
}
@-webkit-keyframes swiper-preloader-spin {
to {
-webkit-transform:rotate(360deg);
transform:rotate(360deg)
}
}
@keyframes swiper-preloader-spin {
to {
-webkit-transform:rotate(360deg);
transform:rotate(360deg)
}
}
@-webkit-keyframes dotsFrameTween {
0% {
stroke-dashoffset:0
}
to {
stroke-dashoffset:-4px
}
}
@keyframes dotsFrameTween {
0% {
stroke-dashoffset:0
}
to {
stroke-dashoffset:-4px
}
}
@font-face {
  font-family: "UniqloProLight";
  src: url(/jp/ja/contents/sustainability/cmn/font/UniqloProLight.woff) format("woff")
}
@font-face {
  font-family: "UniqloProRegular";
  src: url(/jp/ja/contents/sustainability/cmn/font/UniqloProRegular.woff) format("woff")
}
@font-face {
  font-family: "UniqloProBold";
  src: url(/jp/ja/contents/sustainability/cmn/font/UniqloProBold.woff) format("woff")
}
.pc-only {
  display: none;
}
.sp-only {
  display: block;
}
#wrapper {
  display: block;
}
/* contaniner */
.container {
  width: 100%;
  padding: 0 4vw;
}
.breadcrumbs {
  width: calc(((100% - 40px)*90) / 100);
  height: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-size: 9px;
  padding-top: calc((22/750)*100vw);
}
.breadcrumbs::-webkit-scrollbar {
  display:none;
}
.breadcrumbs_inner {
  height: auto;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: -8px;
}
.breadcrumbs_item{
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-shrink: 0;
  font-weight: bold;
  margin-bottom: 8px;
  letter-spacing: 0.03em;
}
.breadcrumbs_item:first-child a{
  width: calc((31/750)*100vw);
  height: calc((36/750)*100vw);
  background: url(/jp/ja/contents/sustainability/cmn/img/bread_icn_home.svg) no-repeat center center;
  background-size: contain;
}
_:-ms-input-placeholder, :root .breadcrumbs_item a{
  font-family: Meiryo, sans-serif;
}
.breadcrumbs_item:before {
  content: '';
  background: none;
  width: calc((10/750)*100vw);
  height: calc((10/750)*100vw);
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(45deg);
  margin-right:calc((11/750)*100vw);
  margin-left:calc((5/750)*100vw);
}
.breadcrumbs_item:first-child:before {
  content: none;
}
.breadcrumbs_item:first-child:after {
  display: none;
}
.breadcrumbs_itemHome{
  display: none;
}
.breadcrumbs_item a {
  font-size: calc((16/750)*100vw);
  color: #000;
  line-height: calc((22/750)*100vw);
  text-decoration: none;
}
.breadcrumbs_item:last-child a{
  pointer-events: none;
}
/* enページへのリンク */
.tojp{
  float: none;
  margin-top: calc((30/750)*100vw);
}

.tojp_link {
  display: inline-block;
  width: calc((120/750)*100vw);
  height: calc((30/750)*100vw);
}

.tojp_img {
  width: 100%;
  height: 100%;
}

/* header */
/* .header {
  background-color: #fff;
  border-bottom: 1px solid #dadada;
  padding: 14.5px 4vw;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  text-align: center;
  z-index: 2;
  box-sizing: border-box;
}
.header .logo {
  position: absolute;
  left: 12px;
  width: 65px;
  top: 50%;
  transform: translateY(-50%);
}
.header .logoImg{
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
.header .siteTtl{
  display: inline-block;
  margin: 0;
  background: url(/jp/ja/contents/sustainability/cmn/img/sp-title.svg) no-repeat center center;
  background-size: contain;
  width: 45vw;
}
.header .siteTtl a{
  display: block;
  text-indent: -9990px;
  font-size: 2.0em;
}
button.menu {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}
.menu {
  color: #000;
  font-size: 10px;
  position: absolute;
  top: 4px;
  right: 12px;
  width: 45px;
  height: 45px;
  text-align: center;
  z-index: 2
}
.menu.-close {
  top: 11px;
  right: calc((12/750)*(100vw));
}
.menu_line {
  background-color: #000;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  right: 0;
  left: 0;
  width: 20px;
  height: 2px
}
.menu.-open .menu_line:first-child {
  top: 14px
}
.menu.-open .menu_line:nth-child(2) {
  top: 22px
}
.menu.-close .menu_line {
  margin-top: -11px;
  margin-left: 12px
}
.menu.-close .menu_line:first-child {
  transform: rotate(45deg)
}
.menu.-close .menu_line:nth-child(2) {
  transform: rotate(-45deg)
}
.menu_txt {
  margin-top: 24px;
  position: absolute;
  left: 0;
  right: 0;
  top: 6px;
  width: 100%;
  word-break: break-word
}
.menu.-close .menu_txt {
  top: 0
}
.color_green {
  color: #379e49 !important;
}
.color_blue {
  color: #0076c0 !important;
}
.color_yellow {
  color: #f7ba00 !important;
}
.drawer {
  background-color: #f2f2f2;
  overflow-y: scroll;
  padding-top: 36px;
  padding-top: var(--sp-v-xxl);
  padding-bottom: 28px;
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  transform: translateX(50%);
  transition: transform .4s ease-in-out;
  width: 100%;
  z-index: 999996;
  -webkit-overflow-scrolling: touch
}
.drawerOverlay {
  background-color: rgba(27, 27, 27, .5);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s ease-in-out;
  visibility: hidden;
  z-index: 2
}
[data-drawer-is-active=true] {
  right: 0;
  left: 0
}
[data-drawer-is-active=true] .drawer {
  transform: translateX(-100%)
}
[data-drawer-is-active=true] .drawerOverlay {
  opacity: 1;
  visibility: visible
}
.navigation {
  overflow: hidden;
  margin-top: 22px;
  list-style: none;
  text-align: center;
}
.navigation:first-child {
  border-bottom: 1px solid #dadada;
  padding-bottom: 28px
}
.navigation_wrap {
  margin: 0 calc((30/750)*(100vw));
  padding-top: calc((92/750)*(100vw));
  padding-bottom: calc((88/750)*(100vw));
}
.navigation_wrap:first-child {
  padding-top: 0;
}
.navigation_wrap:first-child .navigation_item {
  font-size: calc((34/750)*(100vw));
}
.navigation_wrap:not(:first-child) {
  border-top: 1px solid #666666;
}
.navigation_item {
  font-size: calc((28/750)*(100vw));
  letter-spacing: .063em;
  margin-top: calc((34/750)*(100vw));
}
.navigation_item:first-child {
  margin-top: 0;
}
.navigation-footer {
  background-color: #f4f4f4;
  border-bottom: 1px solid #dadada;
  padding-bottom: 28px
}
.navigation_itemLink {
  display: block;
  color: #000000;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  font-family: HelveticaNeue-Light,ヒラギノ角ゴPro W3,Hiragino Kaku Gothic Pro,游ゴシック,Yu Gothic,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
}
.navigation_tag {
  margin-right: calc((30/750)*(100vw));
  margin-left: calc((30/750)*(100vw));
  display: flex;
  flex-wrap: wrap;
}
.navigation_tagItem {
  display: block;
  padding: calc((8/750)*(100vw)) calc((24/750)*(100vw)) calc((4/750)*(100vw));
  margin-right: calc((12/750)*(100vw));
  margin-bottom: calc((12/750)*(100vw));
  font-size: calc((22/750)*(100vw));
  background-color: #fff;
}
.navigation_tagItemLink {
  color: #666666;
} */
/*contentsUnder*/
.tagSearch {
  margin-top: calc((120/750)*(100vw));
  border-top: 1px solid #E4E3E3;
  margin-bottom: 0;
}
.tagSearch_ttl{
  color: #7d7d7d;
  line-height: 1;
  margin-top: calc((80/750)*(100vw));
  font-size: calc((28/750)*100vw);
  letter-spacing: 0.07em;
  font-weight: bold;
}
.tagSearch_content {
  margin: 0 auto;
}
.tagSearch_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: calc((60/750)*(100vw));
}
.tagSearch_listItem {
  display: block;
  padding: 3px 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  font-size: calc((26/750)*(100vw));
  letter-spacing: 0.135em;
  font-weight: 500;
}
.tagSearch_listItem a {
  color: #999;
}
.tagSearch_listItem.is-hidden {
  display: none;
}
.more_btnInner {
  display: block;
  margin: 0 auto;
  font-size: calc((20/750)*100vw);
}
.pickupContents {
  margin-top: calc((80/750)*(100vw));;
  border-top: 1px solid #E4E3E3;
}
.pickupContents_ttl{
  color: #666;
  line-height: 1;
  margin-top: calc((80/750)*(100vw));
  font-size: calc((28/750)*100vw);
  letter-spacing: 0.07em;
  font-weight: bold;
}
.pickupList{
  margin-top: calc((60/750)*(100vw));;
}
.pickupList_item{
  width: 100%;
  margin-bottom: calc((50/750)*100vw);
}
.pickupList_itemInner{
  display: flex;
}
.pickupList_itemInner:hover .pickup_ttl{
  opacity: .8;
}
.pickupList_itemImg{
  width: calc((161/750)*100vw);
  height: calc((161/750)*100vw);
  margin-right: 13px;
}

.pickup_ttl{
  font-size: calc((22/750)*100vw);
  letter-spacing: 0.06em;
  font-weight: bold;
  margin-top: 0;
}
.pickup_txt {
  font-size: calc((18/750)*100vw);
  line-height: calc((30/750)*100vw);
  letter-spacing: 0.06em;
  margin-top: calc((14/750)*100vw);
  text-align: justify;
}
.pickup_link {
  margin-top: calc((20/750)*100vw);
}
.pickup_linkInner {
  font-size: calc((20/750)*100vw);
  font-weight: 700;
  letter-spacing: 0.06em;
  text-decoration: underline;
}


/* otherNavigation */
/* .otherNavigation {
  border-top: 1px solid #dadada;
  margin-top: 99px;
}
.otherNavigation_logo {
  margin-top: 24px;
}
.otherNavigation_logoImg {
  width: auto;
  height: 36px
}
.otherNavigation_list {
  display: flex;
  justify-content: center
}
.otherNavigation_listItem {
  font-size: 12px;
  margin-top: 24px;
}
.otherNavigation_listItem .otherNavigation_link {
  padding: 0 7px;
}
.otherNavigation_listItem:not(:last-child) .otherNavigation_link {
  border-right: 1px solid #1b1b1b;
} */

/* footer */
/* .footer {
  background-color: #f4f4f4;
  border-top: 1px solid #dadada;
  margin-top: 24px;
  padding: 15px 4vw;
  text-align: center;
}
.footerCopyright {
  color: #ababab;
  display: block;
  font-family: "UniqloProLight",sans-serif;
  font-size: 11px;
  line-height: 1;
}*/
/* wrapper */
#wrapper {
  padding-top: 67px;
  width: 100%;
  overflow-x: hidden;
}

/* pagetop */
#pageTop {
  position: fixed;
  right: 4vw;
  left: 4vw;
  height: 0;
  bottom: 0;
}
#pageTop .pageTop_inner{
  width: 100%;
  bottom: calc(((60/750)*100vw));
  position: absolute;
  right: 0px;
  display: flex;
  justify-content: flex-end;
}
#pageTop .oneTop{
  justify-content: flex-end;
}
#pageTop a {
  width: calc((60/750)*100vw);
  height: calc((61/750)*100vw);
  opacity: 0;
  transition: 0.5s;
  display: block;
}
#pageTop img {
  background: #fff;
  width: 100%;
  height: 100%;
}
#pageTop.fixd {
  position: relative;
  bottom: calc((-150/750)*100vw);
  width: 100%;
  margin: 0;
  right: 4vw;
  left: 0;
}
#pageTop .re_uniqlo_top {
  display: block;
  width: auto;
  height: 30px;
  margin-right: 30px;
  background: #fff;
  border: solid 2px #379e49;
  overflow: hidden;
}
#pageTop .re_uniqlo_top img {
  display: block;
  line-height: 0;
  width: auto;
  height: 100%;
}

.icon_box{
  width: auto;
  float: right;
}
.icon_box img{
  width: 100%;
  height: auto;
}
.category_icon_society{
  width: calc((70/750)*100vw);
  margin-top: calc((20/750)*100vw);
}
.category_icon_people{
  width: calc((45/750)*100vw);
  margin-top: calc((20/750)*100vw);
}
.category_icon_planet{
  width: calc((65/750)*100vw);
  margin-top: calc((30/750)*100vw);
}
.outIndent_add{
  display: inline-block;
}
.outIndent_add_onlyPC{
  display: inline-block;
}
.img_addBorder{
  border: solid 1px #B2B2B2;
}
@media screen and (max-width: 812px){
  .outIndent_add_onlyPc{
    display: inline;
  }
  .tagSearch_listItem{
    padding-top: calc((6/750)*100vw);
    padding-bottom: calc((6/750)*100vw);
    padding-right: calc((30/750)*100vw);
    padding-left: calc((30/750)*100vw);
    margin-right: calc((18/750)*100vw);
    margin-bottom: calc((19/750)*100vw);
  }
  .pickupList_itemInner{
    justify-content: space-between;
  }
}


@media screen and (min-width: 813px){
  .pc-only {
    display: block;
  }
  .sp-only {
    display: none;
  }
  /* container */
  .container {
    padding: 0 25px;
    max-width: 1226px;
    margin: 0 auto;
  }
  /*bread*/
  .breadcrumbs {
    width: auto;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
  }
  .breadcrumbs_inner {
    max-width: calc(100% - 100px);
    padding: 0;
    height: auto;
    margin: 0 0 -8px 0;
  }
  .breadcrumbs_item {
    font-size: 12px;
    height: auto;
  }
  .breadcrumbs_item:first-child a{
    width: 16px;
    height: 19px;
  }
  .breadcrumbs .breadcrumbs_item:before {
    margin: 0 10px 0 5px;
    width: 7px;
    height: 7px;
  }
  .breadcrumbs_item a {
    color: #000;
    line-height: 19px;
    font-size: 12px;
  }

  /*tojp*/
  .tojp{
    width: 76px;
    height: 20px;
    margin-top: 0;
  }

  .tojp_link{
    width: 100%;
    height: 100%;
  }

  /* header */
  /* .header {
    padding: 0;
    height: 81px;
  }
  .headerInner {
    position: relative;
    height: 100%;
  }
  .header .logo{
    left: 0;
    margin-left: 15px;
    transition: opacity .6s;
  }
  .header .siteTtl{
    height: 26px;
    background: url(/jp/ja/contents/sustainability/cmn/img/pc-title.svg) no-repeat center center;
    background-size: 100%;
    width: 542px;
    margin-top: 30px;
    font-size: 14px;
  }
  .menu {
    top: 50%;
    margin-top: -25.5px;
    transition: opacity .6s;
    cursor: pointer;
  }
  .menu:hover {
    opacity: .6
  }
  .menu.-close {
    top: 45px;
    right: 18px
  }
  [data-drawer-is-active=true] .header {
    overflow-y: scroll
  }
  .drawer {
    padding-top: 52px;
    right: 0;
    transform: translateX(100%);
    width: 392px
  }
  [data-drawer-is-active=true] .drawer {
    transform: translateX(0)
  }
  .navigation {
    text-align: left;
  }
  .navigation_item {
    margin-top: 2px;
    padding-right: 0;
    padding-left: 0;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: .06em;
  }
  .navigation_wrap {
    margin: 0 30px;
    padding-top: 28px;
    padding-bottom: 26px;
  }
  .navigation_wrap:first-child .navigation_item {
    font-size: 16px;
    line-height: 31px;
  }
  .navigation_itemLink {
    transition: opacity .6s;
  }
  .navigation_itemLink:hover {
    opacity: .6
  }
  .navigation_tag {
    margin-right: 0;
    margin-left: 0;
    margin-top: 10px;
  }
  .navigation_tagItem {
    padding: 1px 8px 0;
    margin-right: 6px;
    margin-bottom: 6px;
    font-size: 10px;
    line-height: 18px;
  } */
  /*contentsUnder*/
  .tagSearch {
    margin-top: 120px;
    margin-bottom: 0;
  }
  .tagSearch_list {
    margin-top: 40px;
  }
  .tagSearch_ttl{
    margin-top: 60px;
    font-size: 20px;
  }
  .pickupContents {
    margin-top: 60px;
  }
  .pickupContents_ttl{
    margin-top: 60px;
    font-size: 20px;
  }
  .pickupList {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
  }
  .pickupList_item{
    width: calc(50% - 30px);
    margin-bottom: 40px;
  }
  .pickupList_item:nth-child(2n+1){
    margin-right: 60px;
  }
  .pickupList_itemInner{
    display: flex;
    justify-content: space-between;
  }
  .pickupList_itemImg{
    width: 120px;
    height: 120px;
    margin-right: 20px;
  }
  .pickup_ttl{
    font-size: 18px;
    margin-top: 0;
  }
  .pickup_txt {
    font-size: 14px;
    line-height: 23px;
    margin-top: 11px;
  }
  .pickup_link{
    margin-top: 15px;
  }
  .pickup_linkInner {
    font-size: 14px;
  }
  .pickupList_itemTxt{
    width: calc(100% - 140px);
  }
  .more_btnInner {
    font-size: 13px;
  }
  /* otherNavigation */
  /* .otherNavigation {
    margin-top: 120px;
  }
  .otherNavigation_inner {
    max-width: 1224px;
    width: 100%;
    padding-top: 28px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
  }
  .otherNavigation_logo {
    margin-top: 0;
    transition: opacity .6s;
  }
  .otherNavigation_logo:hover {
    opacity: .6
  }
  .otherNavigation_list {
    padding-left: 15px;
  }
  .otherNavigation_listItem {
    margin-top: 0;
    transition: opacity .6s;
    font-size: 13px;
  }
  .otherNavigation_listItem:hover {
    opacity: .6
  }
  .otherNavigation_listItem .otherNavigation_link {
    padding: 0 15px;
  } */
  /* footer */
  /* .footer {
    margin-top: 28px;
    padding: 28px 0;
    text-align: left;
  }
  .footerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1224px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 24px;
    padding-right: 24px;
  }
  .footerCopyright {
    font-size: 13px;
    display: inline-block;
  } */
  /* wrapper */
  #wrapper {
    padding-top: 81px;
    display: block;
  }
  /* pagetop */
  #pageTop {
    width: 1176px;
    margin-left: 50%;
    left: -588px;
  }
  #pageTop a{
    width: 30px;
    height: 30px;
  }

  #pageTop .pageTop_inner{
    bottom: 130px;
    justify-content: flex-end;
  }
  #pageTop.fixd {
    position: relative;
    bottom: -120px;
    left: 0;
  }
  #pageTop.fixd .pageTop_inner {
    bottom: 0px;
    padding: 0;
  }

  .icon_box{
    width: auto;
    float: right;
    margin-left: 55px;
  }
  .icon_box img{
    width: 100%;
    height: auto;
  }
  .category_icon_society{
    width: 60px;
    margin-top: 11px;
  }
  .category_icon_people{
    width: 31px;
    margin-top: 20px;
  }
  .category_icon_planet{
    width: 48px;
    margin-top: 20px;
  }
  .tagSearch_listItem{
    font-size: 14px;
  }
}

/* @media screen and (max-width: 812px){
  .otherNavigation_list{
    width: 300px;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .otherNavigation_listItem:not(:nth-of-type(-n+3)){
    margin-top: 8px;
  }
} */

@media (min-width: 813px) and (max-width: 1240px) {
  #pageTop {
    right: 25px;
    left: auto;
  }
}