@charset "utf-8";
/* movie */
.movie img{
  width: 100%;
}
#movie_modal_bg {
  width: 100%;
  height: 100%;
  background-color: #fff;
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  opacity: 0.75;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10000;
  cursor: pointer;
  display: none;
}
#movie_modal_content {
  width: calc((960/1226)*100vw);
  height: calc((540/1226)*100vw);
  max-width: 960px;
  max-height: 540px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10000;
  margin-top: calc((-260/1226)*100vw);
  margin-left: calc((-480/1226)*100vw);
  display: none;
}
#movie_modal_content #modalyoutube_close {
  display: block;
  width: 22px;
  height: 22px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: -37px;
  right: 0px;
}
#movie_modal_content #modalyoutube_movie {
  width: calc((960/1226)*100vw);
  height: calc((540/1226)*100vw);
  max-width: 960px;
  max-height: 540px;
  background-color: #fff;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
#modalyoutube_player{
  height: 100%;
}

@media (max-width: 599px) {
#movie_modal_bg {
}
#movie_modal_content {
  width: 300px;
  height: 169px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10000;
  margin-top: -85px;
  margin-left: -150px;
  display: none;
}
#movie_modal_content #modalyoutube_close {
  display: block;
  width: 22px;
  height: 22px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: -37px;
  right: 0px;
}
#movie_modal_content #modalyoutube_movie {
  width: 300px;
  height: 169px;
  background-color: #fff;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
}

@media (min-width: 1226px){
  #movie_modal_content {
    margin-top: -260px;
    margin-left: -480px;
  }
}