@charset "utf-8";
#wrapper{
    background-color: #f2f2f2;
}
.L5_cover{
    margin-left: 4vw;
    margin-right: 4vw;
}

.L5_cover .cover_mainTtl{
    letter-spacing: 0.063em;
}

.L5_cover .cover_lead{
    letter-spacing: 0.09em;
}

.local_container{
    width: auto;
    margin-left: 4vw;
    margin-right: 4vw;
}

.article_ttl{
    font-size: calc((28/750)*100vw);
    line-height: calc((44/750)*100vw);
    letter-spacing: 0.09em;
}

.article_container .article_wrap{
    width: calc((302/630)*100%);
}

.article_container .article_mainTtl{
    line-height: calc((38/750)*100vw);
    font-size: calc((24/750)*100vw);
    margin-top: 0;
    padding-top: calc((30/750)*100vw);
}

.article_container .article_subTtl{
    margin-top: 0;
    line-height: calc((38/750)*100vw);
}

.article_container:not(:first-child){
    margin-top: calc((80/750)*100vw);
}

.video_list .article_subTtl{
    margin-top: calc((30/750)*100vw);
    line-height: calc((36/750)*100vw);
    font-weight: 500;
}

.video_list img{
    width: 100%;
}


@media screen and (min-width: 813px){
    .L5_cover{
        margin-left: 60px;
        margin-right: 60px;
    }
    .local_container{
        margin-left: 0;
        margin-right: 0;
    }
    .article_ttl{
        font-size: 37px;
        line-height: 60px;
        letter-spacing: 0.102em;
    }
    .article_container .article_wrap:nth-child(-n+4){
        margin-top: 41px;
    }
    .article_container .article_wrap{
        width: calc((237/1056)*100%);
    }
    .article_container .article_wrap:nth-child(-n+4){
        margin-top: 41px;
    }
    .article_container .article_mainTtl{
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.039em;
        margin-top: 0;
        padding-top: 18px;
    }
    .article_container .article_subTtl{
        line-height: 27px;
    }
    .article_container:not(:first-child){
        margin-top: 110px;
    }
    .video_list .article_subTtl{
        margin-top: 18px;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0.092em;
    }
    .video_list .article_wrap{
        margin-right: calc((36/1056)*100%);
    }
    .video_list{
        justify-content:initial;
    }
    .L5_cover .cover_mainTtl{
        letter-spacing: 0.102em;
    }
}