@charset "utf-8";

h2 {margin:0; padding:0;}
p {margin:0; padding:0;}

/* recycle
--------------------------------------------------*/
#recycle .section {
	margin: 0 0 50px 0;
	overflow:hidden;
}

#recycle .attakai h2 {
	padding: 2px 0 20px 0;
	margin: 0;
}

#recycle .attakai p.read {
	padding: 0 0 20px 0;
	margin: 0;
}