@charset "utf-8";

#mainCont h1 {
	margin: 20px 0;
}

#mainCont .bannerArea p.imgText{
	margin-top: 10px;
	margin-bottom: 20px;
}

#mainCont .section .slider {
	margin-bottom: 30px;
}

#mainCont .section p.bxText{
	text-align: center;
	margin-top: -15px;
}

#mainCont .activity {
	width: 94%;
	background-color: #ececec;
	padding: 15px;
	margin-bottom: 30px;
}

#mainCont .activity h3.activityName {
	font-size: 110%;
	margin-bottom: 5px;
}

#mainCont .report {
	width: 100%;
}

#mainCont .report .imgArea {
	width: 350px;
	float: left;
	margin-bottom: 30px;
}

#mainCont .report .imgArea p {
	font-size: 12px;
	line-height: 1.4;
	margin-top: 10px;
}

#mainCont .report .textArea {
	width: 366px;
	float: right;
}

#mainCont .report .textArea p {
	line-height: 1.6;
}

#mainCont .report .textArea p.miyavi{
	margin-top: 20px;
}

#mainCont .program {
	clear: both;
}

#mainCont .program .programArea{
	width: 94%;
	background-color: #ececec;
	padding: 15px;
	margin-bottom: 50px;
}

#mainCont .logo {
	text-align: center;
	margin-bottom: 30px;
}

.programArea dt{
  font-weight: bold;
}

.programArea dd{
  margin-bottom: 10px;
}