img{
    width: 100%;
}
li{
    list-style: none;
}
@media screen and (max-width:812.999px) {
    .-sp-mt-9{
        margin-top: 9px;
    }
}
.txt_justify,.txt_justify_sp{
    text-align: justify;
}
/* accordion Area */
.accordion_wrap {
    border: 3px solid #f7ba00;
    padding: calc((20/750)*100vw);
    margin-top: calc((80/750)*100vw);
    background-color: white;
    line-height:calc((40/750)*100vw);
    letter-spacing: .1em;
}
.contents_title{
    margin-top: calc((40/750)*100vw);
    font-size: calc((24/750)*100vw);
    line-height: calc((38/750)*100vw);
    letter-spacing: 0.1em;
}
.title_first_mt{
    margin-top: calc((80/750)*100vw);
}
.list_block .list_item:first-child{
    margin-top: calc((20/750)*100vw);
}
.accordion_wrap .contents_title{
    font-size: calc((28/750)*100vw);
}
.accordion_wrap .contents_title span {
    vertical-align: middle;
}
img{
    width: 100%;
}
.accordion_contents {
    display: none;
}
.accordion_button-area {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.toggle_button {
    background-color: #f7ba00;
    border: 0;
    position: relative;
    width: calc((61/750)*100vw);
    height: calc((61/750)*100vw);
    cursor: pointer;
}
.toggle_button:focus {
    outline: 0;
}
.toggle_button span {
    position: absolute;
    top: calc(50% - 1px);
    left: 50%;
    transform: translate(-50%, -50%);
}
.toggle_button span::before,
.toggle_button span::after {
    content: '';
    display: block;
    width: 15px;
    height: 2px;
    background: #fff;
}
.toggle_button span::before {
    position: relative;
    top: 2px;
}
.toggle_button span::after {
    background: #fff;
    transform: translateY(0) rotate(90deg);
    transition: 0.5s;
}
.toggle_button span.active::after {
    transform: rotate(0);
    transition: 0.5s;
    opacity: 0;
}
.contents .cover_catch{
    font-size: calc((28/750)*100vw);
    line-height: calc((44/750)*100vw);
    letter-spacing: .09em;
    margin-top: calc((80/750)*100vw);
}

.contents .cover_copy{
    margin-top:calc((110/750)*100vw);
}

.contents .cover_lead{
    font-size: calc((22/750)*100vw);
    line-height: calc((34/750)*100vw);
    font-weight: 500;
    letter-spacing: .06em;
}
.flex-area .left{
    margin-top: calc((34/750)*100vw);
    width: calc((302/750)*100vw);
}

.flex-area .right{
    margin-top: calc((25/750)*100vw);
}
.flex-area .right h2,
.new-name-box{
    margin-top: calc((30/750)*100vw);
    font-size: calc((24/750)*100vw);
    line-height: calc((38/750)*100vw);
    letter-spacing: 0.1em;
}

.flex-area .name{
    letter-spacing: .08em;
    line-height: calc((38/750)*100vw);
}

.flex-area .right h2.age{
    margin-top: 0;
    font-size: calc((22/750)*100vw);
    line-height: calc((41/750)*100vw);
    letter-spacing: .039em;;
    font-weight: normal;
}
.flex-area .right p,
.new-text{
    font-size: calc((22/750)*100vw);
    line-height: calc((36/750)*100vw);
    font-weight: 500;
    margin-top: .7rem;
    letter-spacing: 0.098em;
}
.list_item{
    font-size: calc((22/750)*100vw);
    line-height: calc((36/750)*100vw);
    letter-spacing: .06em;;
    font-weight: 500;
    margin-top: 0;
}
.list_item_heading{
    padding-left: 1em;
    display: block;
    position: relative;
}
.list_item_heading::before{
    content: "○";
    position: absolute;
    left: 0.5em;
    transform: translateX(-50%);
}
.list_item_body{
    padding-left: 1em;
    display: block;
    position: relative;
}
span.list_item_body.-addDot {
    padding-left: 2em;
}
.list_item_body.-addDot::before {
    left: 1.5em !important;
}
.list_item_body.-addDot::before{
    content: "・";
    position: absolute;
    left: 0.5em;
    transform: translateX(-50%);
}
.list_item_num{
    padding-left: 1em;
    display: block;
    position: relative;
}
.list_item_num.-num1::before{
    content: "1.";
}
.list_item_num.-num2::before{
    content: "2.";
}
.list_item_num.-num3::before{
    content: "3.";
}
.list_item_num.-num1::before,.list_item_num.-num2::before,.list_item_num.-num3::before{
    position: absolute;
    left: 0.5em;
    transform: translateX(-50%);
}
.contents .visor_comment{
    margin-top: calc((22/750)*100vw);
    line-height: calc((43/750)*100vw);
    text-align: justify;
}
.list_item.image_bottom{
    margin-top: calc((30/750)*100vw);
}
.img_wrap{
    margin-top: calc((40/750)*100vw);
}
/* history_container */
.history_containerTtl {
    font-size: calc((28/750)*100vw);
    line-height: calc((44/750)*100vw);
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: .118em;
}
.history_eventList {
    margin-top: calc((34/750)*100vw);
    letter-spacing: .096em;
}
.history_eventListItem {
    display: flex;
    justify-content: space-between;
    margin-top: calc((22/750)*100vw);
}
.history_eventListItem:first-of-type {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}
.history_eventListItem_yearTxt {
    font-size: calc((22/750)*100vw);
    line-height: calc((36/750)*100vw);
    width: calc((96/750)*100vw);
}
.history_eventListItem_desc {
    width: calc((406/750)*100vw);
}
.history_eventListItem_descTxt {
    position: relative;
    font-size: calc((22/750)*100vw);
    line-height: calc((36/750)*100vw);
    margin-top: calc((22/750)*100vw);
    letter-spacing: 0.06em;
}
.history_eventListItem_descTxt:first-of-type {
    margin-top: 0;
}

.flag-fr::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc((-76/750)*100vw);
    width: calc((56/750)*100vw);
    height: calc((33/750)*100vw);
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/210714_icon_fr.png);
}
.flag-uq::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc((-76/750)*100vw);
    width: calc((56/750)*100vw);
    height: calc((33/750)*100vw);
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/210714_icon_uq.png);
}
.flag-sewing::after {
    content: "";
    position: absolute;
    top: 0;
    left: calc((-136/750)*100vw);
    width: calc((40/750)*100vw);
    height: calc((34/750)*100vw);
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/210714_icon_sewing.png);
}
.iconMeaning_container {
    margin-top: calc((34/750)*100vw);
}
.iconMeaning_listItem {
    position: relative;
    padding-left: calc((70/750)*100vw);
    margin-top: calc((29/750)*100vw);
    font-size: calc((20/750)*100vw);
    line-height: calc((34/750)*100vw);
    letter-spacing: 0.098em;
}
.iconMeaning_listItem:first-of-type {
    margin-top: 0;
}
.iconMeaning_listItem.flag-fr::before {
    left: 0;
}
.iconMeaning_listItem.flag-uq::before {
    left: 0;
}
.iconMeaning_listItem.flag-sewing::after {
    left: calc((8/750)*100vw);
}

.title_pt{
    padding-top: calc((20/750)*100vw);
    padding-bottom: calc((20/750)*100vw);
}
.new-area{
    margin-top: calc((34/750)*100vw);
}
  
@media (min-width: 813px) {
    .txt_justify_sp{
        text-align: unset;
    }
    /* accordion Area */
    .accordion_wrap {
        padding: 24px;
        margin-top: 110px;
    }
    .img_wrap{
        margin-top: 48px;
    }
    .list_item{
        margin-top: 24px;
    }
    .caption{
        padding-top: 24px;
    }
    .contents_title{
        font-size: 30px;
        margin-top: calc((80/750)*100vw);
    }
    .accordion_wrap .contents_title{
        font-size: 34px;
        line-height: 46px;
        letter-spacing: 0.1em;
    }
      /* toggle button */
      .toggle_button {
        top: 10%;
        width: 40px;
        height: 40px;
    }
    .toggle_button span::before,
    .toggle_button span::after {
        width: 22px;
    }
    /* transition button */
    .transition {
        margin-top: 0;
        width: 50%;
    }
    .transition:nth-of-type(2) {
        margin-left: 55px;
    }
    .transition_button {
        font-size: 24px;
        padding-top: 21px;
        padding-bottom: 19px;
    }
    .transition_button span {
        padding-right: 5px;
    }
    .transition_button img {
        width: 3%;
    }
    .contents .cover_catch{
        font-size: 37px;
        line-height: 60px;
        letter-spacing: .118em;
        margin-top: 110px;
    }
    .contents .cover_lead{
        font-size: 23px;
        line-height: 45px;
        font-weight: 500;
        margin-top: 41px;
    }
    .flex-area{
        display: flex;
        margin-top: 41px;
    }
    .flex-area .left{
        max-width: 356px;
        margin-right:52px;
        margin-top: 0;
        width: 356px;
    }
    .flex-area .left img{
        width: auto;
    }
    .flex-area .right{
        margin-top: 0;
        width: 60%;
    }
    .flex-area .name{
        letter-spacing: .1em;
    }

    .flex-area .right h2{
        margin-top: 0;
        font-size: 30px;
        line-height: 41px;
    }
    .flex-area .right h2.age{
        font-size: 30px;
        margin-top: 19px;
        line-height: 1;
    }
    .flex-area .right p,
    .new-text{
        margin-top: 19px;
        font-size: 15px;
        line-height: 25px;
        font-weight: 500;
        letter-spacing: .098em;
    }
    .list_item{
        font-size: 15px;
        line-height: 27px;
        font-weight: 500;
        letter-spacing: .14em;
    }
    .list_block .list_item:first-child{
        margin-top: 24px;
    }
    .history_eventList,
    .history_eventListItem {
        margin-top: 41px;
    }
    .history_containerTtl {
        font-size: 37px;
        line-height: 60px;
    }
    .history_eventListItem_yearTxt {
        font-size: 23px;
        line-height: 45px;
        width: calc((90/1058)*100%);
    }
    .history_eventListItem_descTxt {
        font-size: 23px;
        line-height: 45px;
        margin-top: 41px;
        letter-spacing: .098em;
    }
    .history_eventListItem_desc {
        width: calc((817/1058)*100%);
    }
    .flag-fr::before {
        left: calc((-94/1058)*100%);
        width: calc((52/817)*100%);
        margin-top: calc((6/1058)*100%);
    }
    .flag-uq::before {
        left: calc((-94/1058)*100%);
        width: calc((52/817)*100%);
        margin-top: calc((6/1058)*100%);
    }
    .flag-sewing::after {
        left: calc((-170/1058)*100%);
        width: calc((40/1058)*100%);
        margin-top: calc((6/1058)*100%);
    }
    .iconMeaning_container {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-top: 41px;
    }
    .iconMeaning_ilst {
        width: calc((408/1058)*100%);
    }
    .iconMeaning_listItem {
        margin-top: 16px;
        padding-left: 42px;
        font-size: 15px;
        line-height: 26px;
        letter-spacing: .098em;
    }
    .iconMeaning_listItem.flag-fr::before {
        width: 32px;
    }
    .iconMeaning_listItem.flag-uq::before {
        width: 32px;
    }
    .iconMeaning_listItem.flag-sewing::after {
        width: 30px;
        left: 0;
    }

    .new-area{	
        align-items: flex-end;	
    }	
    .title_pt{	
        padding-bottom: 0;	
    }
    .title_first_mt{
        margin-top: 110px;
    }
    .list_item{
        margin-top: 13px;    
    }
    .list_block .list_item:first-child{
        margin-top: 20px;    
    }
    .title_two_mt{
        margin-top: 30px;
    }
    
}

