.pc-max-only{
    display: none;
}

.L5_cover{
    margin-top: calc((40/750)*100vw);
}

.L5_cover .cover_lead {
    margin-top: calc((34/750)*100vw);
}

.local_container{
    margin-top: calc((80/750)*100vw);
}

.local_container .L5_cover{
    margin-top: calc((80/750)*100vw);
}

.L5_cover .cover_mainTtl{
    letter-spacing: 0.063em;
}

.accordion_button-area {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-end;
}

.contents_title {
    font-size: calc((28/750)*100vw);
    line-height: calc((44/750)*100vw);
    letter-spacing: 0.09em;
}

.toggle_button {
    background-color: #0076c0;
    border: 0;
    position: relative;
    width: calc((32/750)*100vw);
    height: calc((32/750)*100vw);
    cursor: pointer;
    margin-left: calc((13/750)*100vw);
}

.toggle_button span {
    position: absolute;
    top: calc(50% - 1px);
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle_button span::before, .toggle_button span::after {
    content: '';
    display: block;
    width: calc((15/750)*100vw);
    height: 2px;
    background: #fff;
}

.toggle_button span::before {
    position: relative;
    top: 2px;
}

.toggle_button span::after {
    background: #fff;
    transform: translateY(0) rotate(90deg);
    transition: 0.5s;
}

.toggle_button span.active::after {
    transform: rotate(0);
    transition: 0.5s;
    opacity: 0;
}

.accordion_contents {
    display: none;
}

.largeImg_cnt,.smallImg_cnt{
    display: flex;
    flex-direction: row;
}

.largeImg{
    width: calc((153/750)*100vw);
    height: 100%;
}

.largeImg:not(:first-child){
    margin-left: calc((26/750)*100vw);
}

.group_container .logoImg{
    margin-top: calc((34/750)*100vw);
    width: calc((153/750)*100vw);
}

.group_container .section_lead{
    margin-top: calc((34/750)*100vw);
}

.group_container .contentsLink{
    margin-top: calc((34/750)*100vw);
}

.group_container{
    margin-top: calc((50/750)*100vw);
}
.section_container:first-child{
    margin-top: 0;
}

.smallImg{
    width: calc((118/750)*100vw);
    height: 100%;
}

.smallImg:not(:first-child){
    margin-left: calc((25/750)*100vw);
}

.store_container{
    margin-top: calc((34/750)*100vw);
}

.store_container .largeImg_cnt{
    margin-top: calc((50/750)*100vw);
}

.store_container .smallImg_cnt_ttl{
    font-size: calc((24/750)*100vw);
    line-height: calc((38/750)*100vw);
    letter-spacing: 0.08em;
    margin-top: calc((50/750)*100vw);
    font-weight: 600;
}

.store_container .smallImg_cnt{
    margin-top: calc((34/750)*100vw);
}

.store_container .contentsLink_btn {
    display: flex;
    text-align: center;
    margin-top: calc((34/750)*100vw);
}

.store_container .arrow_right {
    position: relative;
}

.store_container .contentsLink_txt {
    font-size: calc((20/750)*100vw);
    line-height: calc((30/750)*100vw);
    letter-spacing: 0.053em;
    font-weight: 500;
    margin: auto 0;
}

.store_container .arrow_right::after {
    content: "";
    position: absolute;
    top: 27%;
    right: calc((-16/750)*100vw);
    width: calc((13/750)*100vw);
    height: calc((13/750)*100vw);
    border-top: 3px solid #0076c0;
    border-right: 3px solid #0076c0;
    transform: rotate(45deg);
}

.flex_shift{
    flex: 1;
}
@media screen and (max-width:812px){

    .support_container .section_ttl{
        margin-top: calc((50/750)*100vw);
        font-size: calc((24/750)*100vw);
        line-height: calc((38/750)*100vw);
        letter-spacing: 0.08em;
    }
}

.support_container .section_lead{
    margin-top: calc((34/750)*100vw);
}

.support_container .support_img{
    width: calc((153/750)*100vw);
    margin-top: calc((34/750)*100vw);
}

@media screen and (min-width:813px){
    .L5_cover {
        margin-top: 90px;
    }
    .L5_cover .cover_lead{
        margin-top: 64px;
    }
    .local_container{
        margin-top: 64px;
    }
    .contents_title{
        font-size: 37px;
        line-height: 60px;
        letter-spacing: 0.15em;
    }
    .toggle_button{
        width: 31px;
        height: 31px;
        margin-left: 33px;
    }
    .toggle_button span::before, .toggle_button span::after{
        width: 15px;
    }
    .local_container .L5_cover{
        margin-top: 110px;
    }
    .group_container{
        margin-top: 64px;
        width: calc((782/1056)*100%);
    }
    .group_container:first-child{
        margin-top: 41px;
    }
    .largeImg_cnt{
        width: 100%;
    }
    .largeImg{
        width: calc((236/782)*100%);
    }
    .largeImg:not(:first-child){
        margin-left: calc((38/782)*100%);
    }
    .group_container .logoImg{
        margin-top: 29px;
        width: auto;
    }
    .group_container .section_lead{
        margin-top: 18px;
    }
    .group_container .contentsLink{
        margin-top: 29px;
        margin-left: 0;
        width: calc((487/1056)*100%);
        height: calc((47/1176)*100vw);
        max-height: 47px;
    }
    .contentsLink .contentsLink_txt{
        font-size: 18px;
    }
    .contentsLink .arrow_right::after{
        right: -10%;
        top: 15%;
        width: 10px;
        height: 10px;
    }
    .section_container{
        margin-top: 64px;
    }
    .store_container{
        margin-top: 41px;
    }
    .section_container .section_lead{
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0.096em;
    }
    .store_container .largeImg_cnt{
        margin-top: 64px;
    }
    .store_container .smallImg_cnt_ttl{
        margin-top: 41px;
        font-size: 23px;
        line-height: 31px;
        letter-spacing: 0.06em;
    }
    .store_container .smallImg_cnt{
        margin-top: 29px;
    }
    .store_container .contentsLink_btn{
        margin-top: 29px;
        font-size: 15px;
        line-height: 45px;
        letter-spacing: 0.075em;
    }
    .store_container .contentsLink_txt{
        font-size: 15px;
        line-height: 45px;
        letter-spacing: 0.075em;
    }
    .store_container .arrow_right::after{
        top: 42%;
        right: -13px;
        width: 8px;
        height: 8px;
    }
    .section_lead:first-child{
        margin-top: 41px;
    }
    .support_container .section_lead{
        margin-top: 29px;
    }
    .section_ttl{
        margin-top: 64px;
    }
    .support_container .support_img{
        margin-top: 29px;
        width: 237px;
    }
    .smallImg:not(:first-child){
        margin-left: calc((38/1056)*100%);
    }
    .smallImg{
        width: calc((119/1056)*100%);
    }
    .section_container .section_ttl{
        font-size: 24px;
    }
}

@media screen and (min-width:1226px){
    .pc-max-only{
        display: block;
    }
}