@charset "UTF-8";

.color_red {
    color: #ff0000;
}
.subImg_container_small {
    display: flex;
    margin-top: calc((80/750)*100vw);
}
.fr_logo {
    width: 41px;
    height: 21px;
    margin-right: 25px;
}
.subImg_container_small .subImg_ttl {
    font-size: calc((36/750)*100vw);
    line-height: calc((50/750)*100vw);
    margin-top: 0;
}
.subImg_container_large .subImg_ttl  {
    font-size: calc((36/750)*100vw);
    line-height: calc(((50/750)*100vw));
    letter-spacing: .063em;
}
.article_container {
    margin-top: calc((50/750)*100vw);
}

.arrow_red {
    margin-bottom: 3px;
    margin-left: calc((8/750)*100vw);
    width: calc((16/750)*100vw);
}

.article_container .article_wrap{
    margin-top: calc((80/750)*100vw);
}
.article_wrap .thumb {
    max-width: 320px;
    max-height: 320px;
    height: 320px;
  }

.article_wrap .thumb img {
    width: 100% !important;
    height: 100% !important;
    -o-object-fit: cover !important;
    object-fit: cover !important;
}

@media screen and (min-width: 813px) {
    .fr_logo {
        width: 79px;
        height: 40px;
    }
    .subImg_container_large .subImg_ttl {
        font-size: 52px;
        line-height: 75px;
        letter-spacing: .055em;
    }
    .subImg_container_small {
        margin-top: 110px;
    }
    .subImg_container_small .subImg_ttl {
        font-size: 37px;
        line-height: 75px;
        margin-top: 0;
    }
    .article_container {
        margin-top: 110px;
    }

    .arrow_red {
        margin: 7px;
        width: 18px;
    }
    .article_container .article_wrap:nth-child(even){
        margin-right: calc((55.5/1176)*100%);
    }
    .article_container .article_wrap{
        margin-top: 90px;
    }
    .article_container .article_wrap:nth-child(-n+3) {
        margin-top: 0;
    }
    .subImg_container_small + .article_container{
        margin-top: 64px;
    }
    .article_container .article_wrap:nth-child(3n){
        margin-right: 0;
    }

}
@media (max-width: 767px){
    .article_wrap .thumb {
        max-width: 45.5vw;
        max-height: 45.5vw;
        height: auto;
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none
      }
}

