@charset "utf-8";
@use "sass:math";

.airrex {

    color: #11213C;

    .visual {
        background: url(../image/bgsub4.png) repeat 0 0 / auto;
        color: #11213C;
    }

    .overview {
        .logo {
            max-width: rem(356px);
            width: 100%;
            aspect-ratio: 5 / 1;

            @include media-max(md) {
                max-width: 50%;
            }
        }
    }

    .siteview {

        .cross-wrp {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-end;

            @include media-max(xl) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        .img-wrp {
            position: relative;
            width: 64%;
            margin-right: -10%;
            z-index: 2;

            @include media-max(xl) {
                display: none;
            }

        }

        .desc-box {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            row-gap: rem(56px);
            padding: 0 4% 0 14%;
            width: 45%;
            aspect-ratio: 32 / 43;
            background: #fff;
            border-radius: 999em;
            z-index: 1;

            .obj-wrp {
                width: 100%;
                text-align: left;
            }

            p + p {
                margin-top: 1em;
            }

            @include media-max(xl) {
                width: 100%;
                aspect-ratio: unset;
                padding: rem(64px) rem(56px);
                border-radius: rem(72px);
                row-gap: rem(24px);

                .desc-wrp {
                    width: 90%;
                }

                .ico-obj {
                    width: rem(32px);
                    height: rem(32px);
                }

                p + p {
                    margin-top: .4em;
                }
            }

            @include media-max(md) {
                .desc-wrp {
                    width: 100%;
                }
            }

            @include media-max(sm) {
                padding: rem(48px) rem(32px);

                .obj-wrp {
                    text-align: center;
                }

                .btn-wrp {
                    width: 100%;
                    text-align: center;
                }
            }
        }

    }

    .workflow {
        .flex-box {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            gap: rem(80px);

            .desc-box {
                display: flex;
                flex-direction: column;
                row-gap: rem(100px);
                max-width: rem(464px);
                width: 100%;

                p + p {
                    margin-top: rem(16px);
                }
            }

            @include media-max(xl) {
                flex-direction: column;

                .desc-box {
                    max-width: rem(840px);
                }
            }
        }

        .flow-wrp {
            position: relative;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            gap: rem(28px);
            max-width: rem(808px);
            width: 100%;

            &::after {
                content: "";
                position: absolute;
                display: inline-block;
                width: rem(50px);
                height: rem(50px);
                background: url(../image/ico-plus-sub4.svg) no-repeat center center / contain;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            .flow {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                max-width: rem(392px);
                width: 100%;
                aspect-ratio: 1 / 1;
                background: #11213C;
                color: $color-white;
                font-weight: 500;
                border-radius: 999em;
                text-align: center;
                line-height: 1.3;
            }

            @include media-max(xl) {
                grid-template-columns: repeat(2, 30%);
                max-width: 100%;
                gap: rem(24px);

                .flow {
                    max-width: unset;
                    width: 100%;
                }
            }

            @include media-max(lg) {
                grid-template-columns: repeat(2, 35%);
                font-size: rem(18px);
                gap: rem(12px);
            }

            @include media-max(md) {
                grid-template-columns: repeat(2, 40%);
                gap: rem(8px);

                &::after {
                    width: rem(24px);
                    height: rem(24px);
                }
            }

            @include media-max(sm) {
                grid-template-columns: repeat(2, 1fr);
                font-size: rem(14px);
            }

        }

    }

    .design-system {
        display: flex;
        flex-direction: column;
        row-gap: rem(100px);

        @include media-max(lg) {
            row-gap: rem(64px);
        }

        @include media-max(sm) {
            row-gap: rem(48px);
        }

        .system-wrp {
            display: flex;
            flex-direction: column;
            row-gap: rem(100px);

            @include media-max(lg) {
                row-gap: rem(64px);
            }

            @include media-max(sm) {
                row-gap: rem(48px);
            }
        }

        .color-wrp {
            display: grid;
            grid-template-columns: repeat(3, 160px);
            justify-content: center;
            align-items: flex-start;
            gap: rem(64px) rem(56px);

            @include media-max(lg) {
                grid-template-columns: repeat(3, 140px);
                gap: rem(56px) rem(40px);
            }

            @include media-max(md) {
                grid-template-columns: repeat(3, 25%);
                gap: rem(56px) 8%;
            }

            @include media-max(xsm) {
                grid-template-columns: repeat(2, 35%);
                gap: rem(56px) 15%;
            }
        }

        .color {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            .img-contain {
                max-width: rem(220px);
                width: 100%;
            }

            .name {
                margin-top: rem(50px);
                margin-bottom: rem(12px);
                font-size: rem(20px);
            }

            .code {
                display: block;
                font-size: rem(16px);
            }

            @include media-max(xl) {
                .img-contain {
                    max-width: rem(200px);
                }

                .name {
                    margin-top: rem(36px);
                    margin-bottom: rem(12px);
                }
            }

            @include media-max(lg) {
                .img-contain {
                    max-width: rem(180px);

                    .name {
                        margin-top: rem(36px);
                        margin-bottom: rem(8px);
                    }
                }
            }

            @include media-max(md) {
                width: 100%;

                .img-contain {
                    width: 100%;
                }

                .name {
                    margin-top: rem(24px);
                    margin-bottom: rem(6px);
                    font-size: rem(18px);
                }

                .code {
                    font-size: rem(14px);
                }
            }
        }

        .bg {
            background: #F2EFEB;
            padding-top: rem(100px);
            padding-bottom: rem(100px);

            .tabnemu {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                font-size: rem(20px);
                font-weight: 800;
                gap: rem(10px);

                .tab {
                    padding: rem(10px) rem(24px);
                    border-radius: 999em;

                    &.active {
                        background: #11213C;
                        color: $color-white;
                    }
                }
            }

            .layout-wrp {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                gap: rem(32px);
                width: 100%;

                p {
                    font-size: rem(64px);
                    line-height: 1;
                }

                .item-wrp {
                    display: inline-flex;
                    justify-content: flex-end;
                    align-items: center;
                    gap: rem(8px);
                    flex: 1;
                }

                .none {
                    display: block;
                }

                .item {
                    display: inline-block;
                    background: #fff;
                    border-radius: rem(20px);
                    max-width: rem(348px);
                    width: 100%;
                    aspect-ratio: 1 / 1;

                    &.round {
                        border-radius: 50% 50% rem(20px) rem(20px);
                    }
                }
            }

            @include media-max(xl) {

                .layout-wrp {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .none {
                        display: none;
                    }

                    .item-wrp {
                        width: 100%;
                        justify-content: center;
                        margin-top: rem(56px);
                    }
                }

            }

            @include media-max(md) {
                .layout-wrp p {
                    font-size: rem(50px);
                }
            }

            @include media-max(sm) {
                padding-top: rem(56px);
                padding-bottom: rem(56px);

                .tabnemu {
                    font-size: rem(14px);
                    gap: rem(6px);

                    .tab {
                        padding: rem(6px) rem(16px);
                    }
                }

                .layout-wrp {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    p {
                        font-size: rem(36px);
                        text-align: center;
                    }

                    .item-wrp {
                        width: 100%;
                        justify-content: center;
                        gap: 0;

                        .item {
                            margin-top: rem(24px);
                        }

                        .item:not(.round) {
                            display: none;
                        }
                    }
                }

            }
        }
    }

}