@charset "utf-8";
@use "sass:math";

.choco {
    .visual {
        background: url(../image/bgsub6.png) repeat 0 0 / auto;
        color: #5A371E;
    }

    .overview {
        .logo-wrp {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: rem(80px);
            width: 100%;

            .logo {
                width: 100%;

                &-1 {
                    max-width: rem(236px);
                    aspect-ratio: 59 / 16;
                }

                &-2 {
                    max-width: rem(160px);
                    aspect-ratio: 8 / 5;
                }

            }

            @include media-max(md) {
                gap: 8%;

                .logo {
                    &-1 {
                        max-width: 30%;
                    }
                    &-2 {
                        max-width: 20%;
                    }
                }
            }

            @include media-max(sm) {
                gap: 8%;

                .logo {
                    &-1 {
                        max-width: 30%;
                    }

                    &-2 {
                        max-width: 24%;
                    }
                }
            }
        }
    }

    .screen-wrp {
        mask: url(../image/sub06/sec2-mask.svg) no-repeat center / contain;
        -webkit-mask: url(../image/sub06/sec2-mask.svg) no-repeat center / contain;
    }

    .workflow {
        .circle-wrp {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .circle {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                max-width: rem(340px);
                width: 100%;
                aspect-ratio: 1 / 1;
                row-gap: rem(8px);
                padding: rem(24px);
                border-radius: 999em;
                background: #FFF9EF;
                color: #5A371E;
                margin-right: -2.2%;
                filter: drop-shadow(0px 5px 35px rgba(0, 0, 0, 0.1));

                &.pink {
                    background: #FF8296;
                    color: #fff;
                }

                &-1 { z-index: 3; }

                &-2 { z-index: 2; }

                &-3 { z-index: 1; margin-right: 0; }

                strong {
                    font-size: rem(20px);
                }

                span {
                    font-size: rem(16px);
                }
            }

            @include media-max(xl) {
                .circle {
                    width: 32%;
                    padding: rem(16px);

                    strong {
                        font-size: rem(18px);
                    }

                    span {
                        font-size: rem(14px);
                    }
                }
            }

            @include media-max(sm) {
                flex-direction: column;
                filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.1));

                .circle {
                    max-width: rem(240px);
                    margin-top: -5%;
                    width: 100%;

                    &-1 { z-index: 1; margin-top: 0; }

                    &-2 { z-index: 2; }

                    &-3 { z-index: 3;}
                }
            }
        }
    }

    .design-system {
        display: flex;
        flex-direction: column;
        gap: rem(100px);

        @include media-max(lg) {
            row-gap: rem(64px);
        }

        @include media-max(sm) {
            row-gap: rem(48px);
        }
    }

    .btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: rem(20px) rem(32px);
        border-radius: 999em;
        font-size: rem(18px);

        &-ylw {
            background: #FFFF5C;
            color: #FF8296;
            gap: rem(12px);
            padding: rem(20px) rem(56px);

            .ico-arr-pink {
                position: relative;
                display: inline-block;
                width: rem(8px);
                height: rem(14px);
                background: url(../image/sub06/choco-arr.svg) no-repeat center center / contain;
                top: rem(-1px);
            }

            @include media-max(xl) {
                padding: rem(16px) rem(32px);
                font-size: rem(18px);
            }

            @include media-max(sm) {
                padding: rem(12px) rem(24px);
                font-size: rem(14px);
            }
        }
    }

    .marquee-wrp {
        position: relative;
        display: flex;
        gap: rem(20px);
        width: 100%;
        overflow: hidden;

        @include media-max(sm) {
            .btn-pink {
                display: none;
            }
        }

        @keyframes slide-move {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-100%);
            }
        }

        .slide-wrp {
            display: flex;
            gap: rem(20px);
            flex-shrink: 0;
            animation: slide-move 60s linear infinite;

            @include media-max(sm) {
                animation-duration: 50s;
            }

            .slide {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                row-gap: rem(20px);
                padding: rem(70px) rem(46px);
                background: #F3F3F3;
                border-radius: rem(36px);
                animation: slide-move 200s linear infinite;

                &:nth-child(odd) {
                    margin-bottom: rem(36px);
                }

                &:nth-child(even) {
                    margin-top: rem(36px);
                }

                .review-img {
                    max-width: rem(425px);
                    width: 100%;
                    aspect-ratio: 213 / 130;
                    mask: url(../image/sub06/sec2-mask.svg) no-repeat center / contain;
                    -webkit-mask: url(../image/sub06/sec2-mask.svg) no-repeat center / contain;
                }

                .name {
                    padding: rem(10px) rem(16px);
                    border-radius: 999em;
                    background: #fff;
                    font-size: rem(15px);
                }

                strong {
                    font-size: rem(28px);
                }

                @include media-max(xl) {
                    padding: rem(40px) rem(32px);
                    border-radius: 24px;

                    .review-img {
                        max-width: rem(360px);
                    }

                    strong {
                    font-size: rem(22px);
                }
                }

                @include media-max(sm) {
                    padding: rem(28px) rem(10px);
                    border-radius: 20px;

                    .review-img {
                        max-width: rem(190px);
                    }

                    .name {
                        font-size: rem(12px);
                    }

                    strong {
                        font-size: rem(16px);
                    }
                }
            }

        }
    }

    .system-wrp {
        display: flex;
        flex-direction: column;
        gap: rem(100px);

        @include media-max(lg) {
            row-gap: rem(64px);
        }

        @include media-max(sm) {
            row-gap: rem(48px);
        }

        .sub-tit {
            display: flex;
            width: 100%;
            background: #fff;
            border-radius: 999em;

            .link {
                width: 25%;
                padding: rem(20px) 0;
                text-align: center;
                color: #5A371E;
                border-radius: 999em;

                &.active {
                    background: #5A371E;
                    color: $color-white;
                }
            }

            @include media-max(sm) {
                font-size: rem(12px);

                .link {
                    padding: rem(16px) 0;
                }
            }

        }

        .box-wrp {
            display: flex;
            flex-direction: row;
            gap: rem(8px);

            .box {
                flex: 1;
                height: rem(210px);
                border-radius: rem(32px);

                &-1 {
                    background: #fff;
                }

                &-2 {
                    background: #FFF9F4;
                }

                &-3 {
                    background: #FCF0E6;
                }
            }

            @include media-max(sm) {
                display: block;

                .box {
                    width: 100%;
                    height: rem(120px);
                    border-radius: rem(20px);
                    margin-top: rem(8px);

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }

        }

        .slogan-wrp {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background: #FFF9EF;
            color: #5A371E;
            font-size: rem(24px);
            text-align: center;
            border-radius: 999em;

            .slogan {
                position: relative;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                padding: rem(20px) 0;

                .slogan-desc {
                    display: inline-flex;
                    align-items: center;
                    gap: rem(8px);
                    margin-left: rem(8px);
                }

                .img-wrp {
                    position: relative;
                    display: inline-block;
                    width: rem(58px);
                    height: rem(36px);
                    top: -2px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    display: inline-block;
                    width: rem(150px);
                    aspect-ratio: 75 / 56;
                    background: url(../image/sub06/ch1.svg) no-repeat center center / contain;
                    left: 100%;
                    bottom: -10px;
                    margin-left: rem(60px);
                }
            }

            @include media-max(xl) {
                .slogan::after {
                    display: none;
                }
            }

            @include media-max(sm) {
                font-size: rem(16px);

                .slogan {
                    flex-direction: column;
                    gap: rem(6px);
                    padding: rem(12px) 0;

                    .img-wrp {
                        width: rem(36px);
                        height: rem(24px);
                    }
                }
            }
        }

        .float-wrp {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #F89CAB;
            color: $color-white;
            font-size: rem(28px);
            text-align: center;
            border-radius: 999em;

            .text-ylw {
                color: #FFFF5C;
            }

            .float {
                position: relative;
                padding: rem(24px) 0;

                &::before {
                    content: "";
                    position: absolute;
                    display: inline-block;
                    width: rem(240px);
                    aspect-ratio: 120 / 73;
                    background: url(../image/sub06/ch2.svg) no-repeat center center / contain;
                    right: 100%;
                    bottom: -20px;
                    margin-right: rem(60px);
                }

                &::after {
                    content: "";
                    position: absolute;
                    display: inline-block;
                    width: rem(44px);
                    aspect-ratio: 11 / 13;
                    background: url(../image/sub06/sec4-obj1.svg) no-repeat center center / contain;
                    left: 100%;
                    top: -22px;
                    margin-left: rem(32px);
                }
            }

            .btn-ylw {
                position: absolute;
                right: rem(22px);
                top: 50%;
                transform: translateY(-50%);

                @include media-max(xl) {
                    position: relative;
                    right: unset;
                    top: unset;
                    transform: unset;
                }
            }

            @include media-max(xl) {
                justify-content: space-between;
                font-size: rem(20px);
                padding: 0 rem(12px);

                .none {
                    display: none;
                }

                .float {
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: nowrap;
                    align-items: center;

                    &::before {
                        content: "";
                        position: relative;
                        flex: 1 0;
                        width: rem(36px);
                        aspect-ratio: 1 / 1;
                        background: url(../image/sub06/light.svg) no-repeat center center / contain;
                        right: unset;
                        bottom: unset;
                        top: -2px;
                        margin-right: rem(8px);
                    }
                }
            }

            @include media-max(sm) {
                font-size: rem(14px);
                padding: 0 rem(10px);

                .float {
                    &::before {
                        width: rem(24px);
                        margin-right: rem(4px);
                    }

                    &::after {
                        width: rem(34px);
                    }
                }
            }

        }
    }

}