@charset "utf-8";
@use "sass:math";

.hycudc {

    .visual {
        background: url(../image/bgsub8.png) repeat 0 0 / auto;
        h1 { color: #0897E9; }
    }

    .overview {
        .logo-wrp {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: rem(80px);
            width: 100%;

            .logo {
                width: 100%;

                &-1 {
                    max-width: rem(188px);
                    aspect-ratio: 47 / 24;
                }

                &-2 {
                    max-width: rem(90px);
                    aspect-ratio: 1 / 1;
                }

            }

            @include media-max(md) {
                gap: 8%;

                .logo {
                    &-1 {
                        max-width: 20%;
                    }
                    &-2 {
                        max-width: 10%;
                    }
                }
            }

            @include media-max(sm) {
                gap: 8%;

                .logo {
                    &-1 {
                        max-width: 28%;
                    }

                    &-2 {
                        max-width: 12%;
                    }
                }
            }
        }
    }

    .siteview {
        .img-wrp {
            width: 100%;
            height: auto;
        }
    }

    .design-system {
        color: #000;

        .font-hn-bk {
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }

    .system-wrp {
        display: flex;
        flex-direction: column;
        gap: rem(100px);

        @include media-max(lg) {
            row-gap: rem(64px);
        }

        @include media-max(sm) {
            row-gap: rem(48px);
        }


        .snb-wrp {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: rem(10px) 0;
            border-top: 10px solid #000;
            border-bottom: 1px solid #000;

            .none {
                display: block;
            }

            .font-hn-bk {
                font-size: rem(24px);

                @include media-max(sm) {
                    font-size: rem(18px);
                }
            }

            @include media-max(xl) {
                .font-hn-th {
                    display: none;
                }
            }
        }

        .hd-wrp {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;

            .img-wrp {
                max-width: rem(620px);
                aspect-ratio: 635 / 217;
            }

            .layout {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                height: auto;
            }

            .sns-wrp {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 6px;

                .ico {
                    display: inline-block;
                    width: rem(38px);
                    height: rem(38px);
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;

                    &-fb { width: rem(18px); background-image: url(../image/sub08/hd-sns-fb.png); }
                    &-blog { background-image: url(../image/sub08/hd-sns-blog.png); }
                    &-insta { background-size: 96%; background-image: url(../image/sub08/hd-sns-insta.png); }
                    &-yt { background-image: url(../image/sub08/hd-sns-youtube.png); }
                    &-gtp { background-size: 102%; background-image: url(../image/sub08/hd-sns-gtp.png); }
                }
            }

            .btn-wrp {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: rem(24px);
                margin-top: auto;

                .btn {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    padding: rem(12px) rem(30px);
                    border-radius: 999em;
                    gap: rem(10px);
                    font-size: rem(18px);

                    &-primary {
                        border: 1px solid #000;
                    }

                    &-blue {
                        background: #0897E9;
                        color: $color-white;
                    }
                }

                .btn-ico {
                    display: inline-block;
                    width: rem(84px);
                    height: rem(16px);
                    mask: url(../image/sub08/arr-long.png) no-repeat center / contain;
                    -webkit-mask: url(../image/sub08/arr-long.png) no-repeat center / contain;
                    background: #000;

                    &-wht {
                        background: #fff;
                    }
                }
            }

            @include media-max(xl) {
                flex-direction: column;
                justify-content: unset;
                gap: rem(64px);
            }

            @include media-max(sm) {
                gap: rem(48px);

                .img-wrp {
                    width: 100%;
                }

                .btn-wrp {
                    flex-wrap: wrap;
                    margin-top: rem(14px);
                    gap: rem(6px);

                    .btn {
                        font-size: rem(14px);
                    }
                }

                .sns-wrp {
                    .ico {
                        width: rem(24px);
                        height: rem(24px);
                    }
                }
            }
        }

        .box-wrp {
            display: flex;
            gap: rem(8px);

            .box {
                flex: 1;
                height: rem(240px);
                background: #fff;
                border-radius: rem(24px);
            }

            @include media-max(lg) {
                .box {
                    height: rem(180px);
                }
            }

            @include media-max(sm) {
                .box {
                    height: rem(120px);
                    border-radius: 24px;
                }
            }
        }

        .accordion-wrp {
            border-top: 10px solid #000;

            .accordion {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: rem(20px);
                border-bottom: 1px solid #000;

                .h4 {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    gap: rem(18px);
                }

                .desc {
                    font-size: rem(14px);
                }

                .font-hn-bk {
                    font-size: rem(24px);
                }

                .ico-wrp {
                    display: inline-block;
                    width: rem(36px);
                    height: rem(36px);
                }

                @include media-max(sm) {
                    padding: rem(16px) 0;

                    .h4 {
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 0;
                    }

                    .font-hn-bk {
                        font-size: rem(18px);
                    }

                    .ico-wrp {
                        width: rem(28px);
                        height: rem(28px);
                    }
                }
            }
        }
    }

}