@charset "UTF-8";

.container_tab .container_tab_ttl {
  white-space: nowrap;
}
.climate_img {
  width: 100%;
}

@media (max-width: 812px){
  .contents .h2_ttl {
    font-size: calc((28/750)*100vw);
    line-height: calc((44/750)*100vw);
    letter-spacing: .08em;
    margin-top: calc((80/750)*100vw);;
  }
  .climate_imgBox {
    width: calc((302/750)*100vw);
    margin-top: calc((36/750)*100vw);
  }
  .climate_ttl {
    font-size: calc((24/750)*100vw);
    line-height: calc((38/750)*100vw);
    letter-spacing: .08em;
    margin-top: calc((36/750)*100vw);
  }
  .climate_lead {
    margin-top: calc((40/750)*100vw);
    font-size: calc((22/750)*100vw);
    line-height: calc((36/750)*100vw);
    letter-spacing: .036em;
  }
  .climate_txt {
    font-size: calc((22/750)*100vw);
    line-height: calc((36/750)*100vw);
    letter-spacing: .118em;
    margin-top: calc((22/750)*100vw);
  }
  .climate_annotation {
    font-size: calc((16/750)*100vw);
    line-height: calc((26/750)*100vw);
    margin-top: calc((16/750)*100vw);
  }
  .climate_link {
    display: inline-block;
    font-size: calc((16/750)*100vw);
    line-height: calc((26/750)*100vw);
    margin-top: calc((14/750)*100vw);
    text-decoration: underline;
  }
  .contents .contentsLink {
    margin-top: calc((30/750)*100vw);
  }
  .contents .contentsLink .contentsLink_txt {
    padding-left: calc((10/750)*100vw);
    padding-right: calc((20/750)*100vw);
  }
  .contentsLink .arrow_right::after {
    top: 35%;
    right: calc((14/750)*100vw);
  }
}

@media (min-width: 813px){
  .L4_cover .cover_lead {
    letter-spacing: .084em;
  }
  .contents .h2_ttl {
    font-size: 37px;
    line-height: 60px;
    letter-spacing: .118em;
    margin-top: 113px;
  }
  .climate_container {
    display: flex;
    margin-top: 45px;
  }
  .climate_imgBox {
    width: 35.5%;
    margin-right: 54px;
  }
  .climate_txtBox {
    width: 64.5%;
  }
  .climate_ttl {
    font-size: 30px;
    line-height: 41px;
    letter-spacing: 0.1em;
  }
  .climate_lead {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: .183em;
    margin-top: 45px;
  }
  .climate_txt {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: .118em;
    margin-top: 30px;
  }
  .climate_annotation {
    font-size: 12px;
    line-height: 24px;
    margin-top: 20px;
    letter-spacing: .078em;
  }
  .contents .contentsLink {
    width: calc((486/648)*100%);
    height: calc((46/1064)*100vw);
    max-height: 46px;
  }
  .contents .contentsLink .contentsLink_txt {
    font-size: calc((18/1226)*100vw);
    line-height: calc((19/1226)*100vw);
  }
  .climate_link {
    display: inline-block;
    font-size: 12px;
    line-height: 24px;
    padding-top: 14px;
    text-decoration: underline;
  }
  .contentsLink .arrow_right::after {
    top: 20%;
    right: calc((-15/1226)*100vw);
    width: calc((14/1226)*100vw);
    height: calc((14/1226)*100vw);
    max-width: 14px;
    max-height: 14px;
  }
}
@media (min-width: 1226px){
  .contents .contentsLink .contentsLink_txt {
    font-size: 18px;
    line-height: 19px;
  }
  .contentsLink .arrow_right::after {
    right: -15px;
  }
}