@charset "utf-8";

/*
---------------------------------------------------------------------
	aid NGO style.css [January.2013] 
---------------------------------------------------------------------
*/

/* --NGO 一覧ページ-- */

div#mainCont div.linkNgo{
	width: 663px;
	height: 15px;
	margin-top: 15px;
}

div#mainCont div.linkNgo p{
	text-align: right;
}

/* --NGO 詳細ページ-- */

div#mainCont .mainArea {
	width: 663px;
	margin: 0 0 30px 20px;
}

div#mainCont .mainArea .mainImg {
	float: left;
	margin-right: 20px;
}

div#mainCont .mainArea .leadText {
	float: right;
	width: 343px;
	margin-top: -5px;
}

div#mainCont .inner dl dt{
	position: absolute;
}

div#mainCont .inner dl dd{
	padding-left: 1em;
}

div#mainCont .inner dl dd p{
	padding-top: 15px;
}

div#mainCont .photoReport {
	margin: 0 0 20px 20px;
	padding-bottom: 20px;
	width: 663px;
}

div#mainCont .photoReport h2 {
	font-size: 18px;
	font-weight: bold;
}

div#mainCont .photoReport ul li {
	float: left;
	width: 140px;
	margin: 0 20px 20px 0;
}

div#mainCont .photoReport ul.last li {
	float: left;
	width: 140px;
	margin-right: 20px !important;
	margin-bottom: 0 !important;
}





















/* 2013 NGO */


div#mainCont .mainArea .mainImg2013 {
	margin-bottom: 20px;
}

div#mainCont .mainArea .leadText2013 {
	margin-top: 0px;
}

div#mainCont h2.NGO2013ttl, div#mainCont h2.NGO2012ttl {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
	line-height: 160%;
}

div#mainCont .inner.photoReport2013 {
	padding-bottom: 30px;
	width: 663px;
}

div#mainCont .inner.photoReport2013 h2 {
	font-size: 18px;
	font-weight: bold;
}

div#mainCont .inner.photoReport2013 ul li {
	float: left;
	width: 150px;
	margin: 0 20px 20px 0;
}

div#mainCont .inner.photoReport2013 ul.last li {
	float: left;
	width: 150px;
	margin-right: 20px !important;
	margin-bottom: 0 !important;
}

div#mainCont .inner.photoReport2013 ul li.last,
div#mainCont .inner.photoReport2013 ul.last li.last {
	float: left;
	width: 150px;
	margin: 0px !important;
}

div#mainCont .inner .NGO2013, div#mainCont .inner .NGO2012 {
	margin: 10px 0 0 0;
}

div#mainCont .inner.backnumber {
	margin-bottom: 0px;
	text-align:right;
	background: none;
}

div#mainCont .inner dl dd.num{
	padding-left: 3em;
}

div#mainCont .inner dl dt.num2{
	padding-left: 3em;
}

div#mainCont .inner dl dd.num2{
	padding-left: 4em;
}

div#mainCont .inner dl dd.num3{
	padding-left: 7em;
}