/* CSS Document */

.mainContents{
    padding-top: 5px !important;
}

#sustainability-report .report-wrap section .border_h3 span {
    display: inline;
    position: relative;
    border-bottom: solid 3px #379e49;
}

#sustainability-report .report-wrap .caption{
    font-family: 'UniqloProRegular', 'Hiragino Kaku Gothic Pro', "Hiragino Sans", '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', メイリオ, Meiryo, sans-serif;
}

#wrapper .container .mainContents{
    font-family: 'UniqloProRegular', 'Hiragino Kaku Gothic Pro', "Hiragino Sans", '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', メイリオ, Meiryo, sans-serif;
}

#wrapper .container .mainContents sup{
    display: inline-block;
    padding: 0 8px;
}

#sustainability-report .report-wrap .title_01 {
    color: #379e49;
    font-family: 'UniqloProRegular', 'Hiragino Kaku Gothic Pro', "Hiragino Sans", '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', メイリオ, Meiryo, sans-serif;
    font-weight: 600;
}

#sustainability-report .report-wrap .lead{
    font-family: 'UniqloProRegular', 'Hiragino Kaku Gothic Pro', "Hiragino Sans", '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', メイリオ, Meiryo, sans-serif;
    font-weight: 600;
}

#sustainability-report .report-wrap .h3 {
    color: #379e49;
}

#sustainability-report .report-wrap .img_wrap .img_mw {
    width: 100%;
}

#sustainability-report .report-wrap .question_block {
    margin-top: 16px;
}

#sustainability-report .question_block .list_item {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 8px;
    text-indent: -1.3rem;
    margin-left: 1.3rem;
}

#sustainability-report .contents_wrap .contents_text {
    font-size: 11px;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-top: 6px;
}
.contents_text .txt_bold{
    font-weight: bold;
}

#sustainability-report .contents_wrap .tag {
    font-size: 11px;
    font-weight: bold;
    color: #379e49;
    line-height: 2.1;
    letter-spacing: 1px;
    margin-top: 16px;
}

#sustainability-report .contents_wrap .col_wrap {
    margin-top: 16px;
}

#sustainability-report .contents_wrap .col_block .img_person {
    max-width: 24%;
    margin-top: 8px;
}

#sustainability-report .contents_wrap .col_block .img_person img {
    width: 100%;
}

#sustainability-report .contents_wrap .col_wrap .col_block .col_text {
    color: #000000;
    font-size: 11px;
    margin-top: 16px;
    text-align: justify;
    line-height: 2.1;
    letter-spacing: 1px;
}
#sustainability-report .contents_wrap .col_wrap .col_block .col_text .col_annotation {
    font-size: 9px;
}

@media (min-width: 813px) {
    #sustainability-report .report-wrap .question_block {
        margin-top: 24px;
    }

    #sustainability-report .report-wrap .question_block .list_item  {
        font-size: 20px;
    }

    #sustainability-report .contents_wrap .contents_text {
        font-size: 20px;
        line-height: 1.5;
        margin-top: 12px;
    }

    #sustainability-report .contents_wrap .tag {
        font-size: 20px;
        margin-top: 24px;
    }

    #sustainability-report .contents_wrap .col_wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    #sustainability-report .contents_wrap .col_wrap .col_block {
        width: 50%;
    }

    #sustainability-report .contents_wrap .col_wrap .col_block.col_single {
        width: 100%;
    }

    #sustainability-report .contents_wrap .col_block:nth-of-type(1) {
        padding-right: 30px;
    }

    #sustainability-report .contents_wrap .col_block:nth-of-type(2) {
        padding-left: 30px;
    }

    #sustainability-report .contents_wrap .col_block .img_person {
        margin-top: 8px;
        max-width: 101px;
    }

    #sustainability-report .contents_wrap .col_wrap .col_block .col_text {
        font-size: 16px;
        margin-top: 0;
    }

    #sustainability-report .contents_wrap .col_wrap .col_block .col_text .col_annotation {
        font-size: 12px;
    }
}

@media (max-width: 812px) {
    #sustainability-report .report-wrap section .cover_img img {
        width: 100%;
    }

    #sustainability-report .report-wrap section::before {
        height: 2px;
        width: 91%;
    }

    #sustainability-report .report-wrap .img_wrap {
        margin-top: 24px;
    }

    #sustainability-report .contents_wrap .col_block .img_person{
        margin-top: 16px;
    }

}
