.photoby{
    font-weight: bold;
    margin-top: 10px;
    font-size: 10px;
}

.contents_wrap ul{
    font-weight: bold;
}
#sustainability-report .report-wrap .title_01{
    margin-top: 4px;
}
.contents_wrap ul li:first-child{
    margin-top: 0!important;
}
.btnColor_red {
    background-color: #ff0000;
}
/* contentsLink*/
.contentsLink {
    width: 100%;
    height: calc((71/750)*100vw);
    margin-top:40px !important;
}
.contentsLink .contentsLink_btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.contentsLink .contentsLink_txt {
    color: #fff;
    font-size: calc((21/750)*100vw);
    letter-spacing: .110em;
    font-weight: 600;
    line-height: calc((30/750)*100vw);
    margin: auto 0!important;
}

.contentsLink .arrow_transition {
    width: calc((21/750)*100vw);
    margin: auto 0;
    margin-left: calc((19/750)*100vw);
}
#sustainability-report .report-wrap .lead{
    font-weight: bold;
}
.cover_flex .text_area{
    margin-top: 50px;
    background-color: #b2b2b2;
    color: white;
    padding: 25px 20px 20px 20px;
}

.cover_flex .text_area .text_area-title{
    font-weight: bold;
    font-size: 16px;
}

.cover_flex .text_area .text_area-text{
    margin-top: 10px;
    font-size: 12px;
}

.contents_wrap ul{
    margin-top: 10px !important;
}
.contents_wrap ul li{
    margin-top: 5px !important;
    font-size: 12px;
}


@media (min-width: 813px){
    .photoby{
        margin-top: 18px;
        font-size: 13px;
    }
    #sustainability-report .report-wrap .title_01{
        margin-top: 5px;
    }
    .cover_flex{
        display: flex;
        justify-content: space-between;
    }

    .cover_flex .cover_img{
        width: 60%;
    }

    #sustainability-report .report-wrap section .cover_img img{
        width: 100%;
    }

    .cover_flex .text_area{
        margin-top: 200px;
        width: 35%;
        background-color: #b2b2b2;
        color: white;
        padding: 50px 40px 0px 40px;
    }

    .cover_flex .text_area .text_area-title{
        font-weight: bold;
        font-size: 16px;
    }

    .cover_flex .text_area .text_area-text{
        margin-top: 10px;
        font-size: 12px;
    }
    .contents_wrap ul{
        margin-top: 20px !important;
    }
    .contents_wrap ul li{
        margin-top: 10px !important;
        font-size: 20px;
    }

      /* contentsLink*/
      .contentsLink {
        width: calc((600/1176)*100%);
        height: calc((60/1176)*100vw);
        max-height: 60px;
        margin-top: 64px!important;
    }
    .contentsLink .contentsLink_btn {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .contentsLink .contentsLink_txt {
        font-size: 14px;
        line-height: calc((19/1226)*100vw);
        letter-spacing: .068em;
        font-weight: 600;
        margin: auto 0;
    }
    .contentsLink .arrow_transition {
        width: calc((21/1226)*100vw);
        max-width: 21px;
        margin: auto 0;
        margin-left: calc((19/1226)*100vw);
    }

}